In [1]:
import numpy as np
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt
%matplotlib inline

In [5]:
data_ads_details = pd.read_csv('avisos.csv')

In [6]:
data_ads_details.drop(columns=['idpais','titulo'],inplace = True)

In [9]:
data_ads_details['nombre_area'].value_counts()

Ventas                                       2464
Comercial                                    1407
Administración                               1335
Producción                                   1237
Programación                                  848
Contabilidad                                  610
Tecnologia / Sistemas                         592
Atención al Cliente                           478
Mantenimiento                                 455
Recursos Humanos                              313
Oficios y Profesiones                         312
Gastronomia                                   309
Soporte Técnico                               299
Logística                                     298
Almacén / Depósito / Expedición               287
Call Center                                   261
Marketing                                     244
Compras                                       228
Administración de Personal                    221
Otros                                         212
Transporte                                    212
Recepcionista                                 209
Mantenimiento y Limpieza                      208
Finanzas                                      207
Telemarketing                                 196
Créditos y Cobranzas                          192
Tesorería                                     189
Desarrollo de Negocios                        173
Legal                                         168
Seguridad                                     166
                                             ...
Emergentología                                  3
Ingeniería en Petróleo y Petroquímica           3
Trabajo social                                  3
Topografía                                      3
Responsabilidad Social                          2
Instrumentación Minera                          2
Mercadotecnia Internacional                     2
Exploración Minera y Petroquimica               2
Bienestar Estudiantil                           2
Psicología                                      2
Periodismo                                      2
Trabajo Social                                  2
Arte y Cultura                                  2
Kinesiología / terapia ocupacional              2
Educación especial                              2
Diseño 3D                                       2
Traduccion                                      1
Fonoaudiología                                  1
Farmacia hospitalaria                           1
Esterilización                                  1
Telefonista                                     1
Maternidad                                      1
Diagnóstico por imágenes                        1
Clínica Médica                                  1
Instrumentación quirúrgica                      1
Idiomas                                         1
Prácticas cardiológicas                         1
Odontología                                     1
Urbanismo                                       1
Cuidados Intensivos Cardiologicos Adultos       1
Name: nombre_area, Length: 186, dtype: int64

In [7]:
#Como son demasiadas, por lo pronto las voy a dropear porque se me vuelve imposible mapearlo a mano
data_ads_details.drop(columns = ['nombre_area'],inplace = True)

In [11]:
data_ads_details.head()

      idaviso        nombre_zona tipo_de_trabajo         nivel_laboral
0     8725750  Gran Buenos Aires       Full-time  Senior / Semi-Senior
1    17903700  Gran Buenos Aires       Full-time  Senior / Semi-Senior
2  1000150677    Capital Federal       Full-time  Senior / Semi-Senior
3  1000610287  Gran Buenos Aires       Full-time  Senior / Semi-Senior
4  1000872556  Gran Buenos Aires       Full-time  Senior / Semi-Senior

In [8]:
postulants = pd.read_csv('postulantes.csv')

/home/olix/.local/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (1,2) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [9]:
#el Nombre ya esta codificado con nombre_sort
postulants.drop(columns=['nombre'],inplace = True)

In [16]:
postulants.head()

  idpostulante    estado  nombre_sort fechanacimiento        sexo
0      4rP6q15  En Curso          6.0             NaN  NO_DECLARA
1      akbv6zm  Graduado          6.0      1994-06-11         FEM
2       EVe2kz  En Curso          6.0      1974-06-28         FEM
3      xkPqMKa  Graduado          6.0      1969-02-03        MASC
4      bOj3Mjd  Graduado          6.0      1985-10-18        MASC

In [10]:
#Ahora me genero un dataframe con la misma cantidad de (idpotulante-idaviso) pero esta vez de NO postulaciones
import random

def get_random_ids(df_postulants,df_ads):
    dic = {'idpostulante':[], 'idaviso':[]}
    for i in range (0,3000000):#6268564 numero que deberia ser, lo cambio a uno mas chico para poder trabajar
        numero = random.randrange(0,371380)
        idpostulante = df_postulants['idpostulante'][numero]
        dic['idpostulante'].append(idpostulante)
        numero2 = random.randrange(0,19685)
        idaviso = df_ads['idaviso'][numero2]
        dic['idaviso'].append(idaviso)
    dataframe = pd.DataFrame(data=dic)
    return dataframe

In [11]:
random_postulant_ad = get_random_ids(postulants,data_ads_details)

In [19]:
random_postulant_ad.head()

      idaviso idpostulante
0  1112292866       NQWeYM
1  1112241719       EOzNV0
2  1112441589      QNrDvB2
3  1112348691      A3A4AZY
4  1112448657      OqrMDJB

In [12]:
#Mergeo los data frames sobre la informacion de edad y sexo y educacion del postulante del postulante con 
#la informacion del aviso en que se postulo tambien.
random_postulant_ad = random_postulant_ad.merge(postulants,on = 'idpostulante')
random_postulant_ad = random_postulant_ad.merge(data_ads_details,on = 'idaviso')

In [13]:
random_postulant_ad['se_postulo'] = 0

In [14]:
random_postulant_ad.head()

,idaviso,idpostulante,estado,nombre_sort,fechanacimiento,sexo,nombre_zona,tipo_de_trabajo,nivel_laboral,se_postulo
0,1112235972,dY9WQ0A,En Curso,3.0,1995-06-16,MASC,Gran Buenos Aires,Full-time,Senior / Semi-Senior,0
1,1112235972,5mqB1zG,NaN,NaN,1971-05-14,FEM,Gran Buenos Aires,Full-time,Senior / Semi-Senior,0
2,1112235972,mzdqXOO,Graduado,2.0,1992-06-21,FEM,Gran Buenos Aires,Full-time,Senior / Semi-Senior,0
3,1112235972,X95m5BQ,Graduado,3.0,1988-12-29,FEM,Gran Buenos Aires,Full-time,Senior / Semi-Senior,0
4,1112235972,BmZPkQv,Abandonado,3.0,1976-10-09,FEM,Gran Buenos Aires,Full-time,Senior / Semi-Senior,0

In [15]:
random_postulant_ad.to_csv("avisos_no_postulantesReducido3M.csv",index = False)