In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

In [3]:
data_ads_details = pd.read_csv('avisos.csv')

In [4]:
data_ads_details.count()

idaviso            19486
idpais             19486
titulo             19486
nombre_zona        19486
tipo_de_trabajo    19486
nivel_laboral      19486
nombre_area        19486
dtype: int64

In [5]:
#data_ads_details.drop(columns = ['descripcion','ciudad','mapacalle','denominacion_empresa'], inplace = True)
data_ads_details.head()

,idaviso,idpais,titulo,nombre_zona,tipo_de_trabajo,nivel_laboral,nombre_area
0,8725750,1,VENDEDOR/A PROVINCIA DE SANTA FE,Gran Buenos Aires,Full-time,Senior / Semi-Senior,Comercial
1,17903700,1,Enfermeras,Gran Buenos Aires,Full-time,Senior / Semi-Senior,Salud
2,1000150677,1,Chofer de taxi,Capital Federal,Full-time,Senior / Semi-Senior,Transporte
3,1000610287,1,CHOFER DE CAMIONETA BAHIA BLANCA - PUNTA ALTA,Gran Buenos Aires,Full-time,Senior / Semi-Senior,Transporte
4,1000872556,1,Operarios de Planta - Rubro Electrodomésticos,Gran Buenos Aires,Full-time,Senior / Semi-Senior,Producción

In [3]:
#Csv creado con la informacion de sexo, edad y genero de los postulantes
merge_postulants = pd.read_csv('postulantes.csv')

/home/agustin/.local/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (1,2) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
merge_postulants.count()

idpostulante       408146
nombre             366395
estado             366395
nombre_sort        366395
fechanacimiento    388502
sexo               408146
dtype: int64

In [5]:
merge_postulants.head()

  idpostulante     nombre    estado  nombre_sort fechanacimiento        sexo
0      4rP6q15  Doctorado  En Curso          6.0             NaN  NO_DECLARA
1      akbv6zm  Doctorado  Graduado          6.0      1994-06-11         FEM
2       EVe2kz  Doctorado  En Curso          6.0      1974-06-28         FEM
3      xkPqMKa  Doctorado  Graduado          6.0      1969-02-03        MASC
4      bOj3Mjd  Doctorado  Graduado          6.0      1985-10-18        MASC

In [6]:
merge_postulants = merge_postulants.drop(['nombre_sort'],axis = 1)

In [10]:
#Ahora me genero un dataframe con la misma cantidad de (idpotulante-idaviso) pero esta vez de NO postulaciones
import random

def get_random_ids(df_postulants,df_ads):
    dic = {'idpostulante':[], 'idaviso':[]}
    for i in range (0,6600000):
        numero = random.randrange(0,6393944)
        idpostulante = df_postulants['idpostulante'][numero]
        dic['idpostulante'].append(idpostulante)
        numero2 = random.randrange(0,19485)
        idaviso = df_ads['idaviso'][numero2]
        dic['idaviso'].append(idaviso)
    dataframe = pd.DataFrame(data=dic)
    return dataframe

In [11]:
random_postulant_ad = get_random_ids(merge_postulants,data_ads_details)

In [9]:
random_postulant_ad.head()

      idaviso idpostulante
0  1112231282      vVDveE1
1  1112281756      dYj18la
2  1112337935       Neea04
3  1111464713      ow2zLej
4  1112387914      1QPN1GB

In [12]:
#Mergeo los data frames sobre la informacion de edad y sexo y educacion del postulante del postulante con 
#la informacion del aviso en que se postulo tambien.
merge_postulants_ads_NOTS = random_postulant_ad.merge(data_ads_details,on = 'idaviso')

In [9]:
merge_postulants_ads_NOTS = merge_postulants_ads_NOTS.merge(merge_postulants,on = 'idpostulante')

In [10]:
merge_postulants_ads_NOTS['se_postulo']=0

In [11]:
merge_postulants_ads_NOTS.to_csv("avisos_no_postulantes.csv",index = False)