In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

from sklearn import tree
from sklearn.metrics import accuracy_score
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score

In [2]:
#Funcion que limpia los datos, quedandose con el nivel de educacion mas alto de casa id de los postulantes.
def education_cleaning(df):
    education_dic= {'Secundario': 1, 'Universitario':3,'Terciario/TÃ©cnico':2, 'Otro':0, 'Posgrado':4, 'Master': 5, 'Doctorado': 6}
    df['nombre_sort'] = df['nombre'].map(education_dic)
    df = df.sort_values(by='nombre_sort', ascending=False)
    df = df.drop_duplicates(subset='idpostulante',keep='first')
    return df

In [3]:
def datetime(date,format_string):
    return pd.to_datetime(date,format= format_string,errors='coerce')

In [2]:
merge_postulants_ads = pd.read_csv('avisos_postulantes.csv')

In [3]:
merge_postulants_ads.head()

,idpostulante,nombre,estado,nombre_sort,fechanacimiento,sexo,idaviso,fechapostulacion,idpais,titulo,nombre_zona,tipo_de_trabajo,nivel_laboral,nombre_area
0,4rP6q15,Doctorado,En Curso,6.0,NaN,NO_DECLARA,1112145679,2018-01-19 11:34:00,1,Telecobrador - Importante Banco,Gran Buenos Aires,Full-time,Senior / Semi-Senior,Call Center
1,4rP6q15,Doctorado,En Curso,6.0,NaN,NO_DECLARA,1112145679,2018-01-19 11:34:00,1,Telecobranzas - Importante banco,Gran Buenos Aires,Full-time,Senior / Semi-Senior,Call Center
2,RzMvGDo,Doctorado,Graduado,6.0,1986-08-21,MASC,1112145679,2018-04-11 07:19:00,1,Telecobrador - Importante Banco,Gran Buenos Aires,Full-time,Senior / Semi-Senior,Call Center
3,RzMvGDo,Doctorado,Graduado,6.0,1986-08-21,MASC,1112145679,2018-04-11 07:19:00,1,Telecobranzas - Importante banco,Gran Buenos Aires,Full-time,Senior / Semi-Senior,Call Center
4,owav2La,Doctorado,En Curso,6.0,1998-03-14,FEM,1112145679,2018-02-20 01:54:39,1,Telecobrador - Importante Banco,Gran Buenos Aires,Full-time,Senior / Semi-Senior,Call Center

In [4]:
merge_postulants_ads['se_postulo'] = 1

In [5]:
merge_postulants_ads_NOTS = pd.read_csv('avisos_no_postulantes.csv')

In [6]:
#Concateno las postulaciones con las NO postulaciones

frames = [merge_postulants_ads,merge_postulants_ads_NOTS]
total = pd.concat(frames, ignore_index = True)

In [7]:
total.drop_duplicates(subset=['idpostulante','idaviso'], keep = 'first',inplace = True)
total.reset_index(inplace = True,drop = True)

In [9]:
total.to_csv("postulaciones_nopostulaciones.csv", index = False)

In [ ]:
#Aca empezaria a ver que datos voy a usar para la parte de machine learning y entonces saco
#los datos que no voy a usar y mapeo los datos segun sea necesario.SERIA MEJOR QUE ESTE EN OTRO NOTEBOOK