In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

In [2]:
views = pd.read_csv('vistas.csv')

In [3]:
views['cantVistas'].value_counts()

1       1996912
2        978250
3        221311
4        205792
6         50716
5         44052
8         19531
7         16864
10         7823
9          7651
12         4050
11         3773
13         2079
14         2075
15         1172
16         1116
17          948
18          716
21          528
20          436
19          434
22          332
23          233
24          210
25          195
26          139
27          129
31          103
28           88
29           88
         ...
6492          1
201           1
204           1
333           1
222           1
354           1
240           1
213           1
140           1
200           1
104           1
133           1
90            1
441           1
66            1
75            1
76            1
80            1
86            1
87            1
111           1
131           1
115           1
116           1
119           1
120           1
121           1
128           1
129           1
506           1
Name: cantVistas, Length: 133, dtype: int64

In [4]:
views.sample(5)

            idaviso idpostulante  cantVistas
245046   1112094914      ak5W4DE           1
487923   1112292226      ZDrpqv8           1
2640308  1112437312      A36dRZG           4
2352465  1112428207      QNaj935           4
214045   1112033906      ek4lkLj           1

In [5]:
#Aca podemos ir cambiando el csv segun sean las nopostulaciones random reducido o no
nopostulations = pd.read_csv('avisos_no_postulantesReducido3M.csv')

In [6]:
merge = views.merge(nopostulations, how = 'right', on = ['idpostulante','idaviso'])

In [7]:
#Como es una postulacion consideramos (en caso contrario) que nunca visito 
#anuncio, es decir rellenamos con 0
merge['cantVistas']=merge['cantVistas'].fillna(0)

In [8]:
merge['cantVistas'].value_counts()

0.0     3098537
1.0         901
2.0         400
4.0          97
3.0          91
6.0          23
5.0          17
7.0           8
10.0          7
9.0           6
8.0           6
21.0          1
17.0          1
15.0          1
14.0          1
12.0          1
Name: cantVistas, dtype: int64

In [9]:
merge.to_csv('nopostulaciones_vistas.csv',index=False)