In [1]:
import numpy as np
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
cd Algorithms

/home/olix/Documentos/datos/tp2master/OrgaDatos/TP2/Algorithms

In [4]:
postulations = pd.read_csv('avisos_postulantes.csv')

In [5]:
postulations['nombre_zona'].value_counts()

Gran Buenos Aires    5789864
Capital Federal       440106
GBA Oeste               1560
Name: nombre_zona, dtype: int64

In [5]:
postulations.drop(columns=['nombre_area','titulo','idpais','fechapostulacion'],inplace = True)

In [6]:
postulations['se_postulo'] = 1

In [7]:
postulations.drop(columns = ['nombre'],inplace = True)

In [8]:
postulations.head()

,idpostulante,estado,nombre_sort,fechanacimiento,sexo,idaviso,nombre_zona,tipo_de_trabajo,nivel_laboral,se_postulo
0,4rP6q15,En Curso,6.0,NaN,NO_DECLARA,1112145679,Gran Buenos Aires,Full-time,Senior / Semi-Senior,1
1,4rP6q15,En Curso,6.0,NaN,NO_DECLARA,1112145679,Gran Buenos Aires,Full-time,Senior / Semi-Senior,1
2,RzMvGDo,Graduado,6.0,1986-08-21,MASC,1112145679,Gran Buenos Aires,Full-time,Senior / Semi-Senior,1
3,RzMvGDo,Graduado,6.0,1986-08-21,MASC,1112145679,Gran Buenos Aires,Full-time,Senior / Semi-Senior,1
4,owav2La,En Curso,6.0,1998-03-14,FEM,1112145679,Gran Buenos Aires,Full-time,Senior / Semi-Senior,1

In [10]:
postulations = postulations.sample(3000000)

In [15]:
postulations = postulations.reset_index()

In [17]:
notpostulations = pd.read_csv('avisos_no_postulantesReducido3M.csv')

In [12]:
notpostulations.head()

,idaviso,idpostulante,estado,nombre_sort,fechanacimiento,sexo,nombre_zona,tipo_de_trabajo,nivel_laboral,se_postulo
0,1112292866,NQWeYM,Graduado,0.0,1976-11-07,FEM,Gran Buenos Aires,Full-time,Senior / Semi-Senior,0
1,1112292866,wVwvP2L,Graduado,2.0,1987-01-26,MASC,Gran Buenos Aires,Full-time,Senior / Semi-Senior,0
2,1112292866,bOV4ooV,Graduado,2.0,1996-05-30,FEM,Gran Buenos Aires,Full-time,Senior / Semi-Senior,0
3,1112292866,3Nz1mOw,Graduado,1.0,1982-12-06,MASC,Gran Buenos Aires,Full-time,Senior / Semi-Senior,0
4,1112292866,NBVLLM,Graduado,3.0,1987-07-12,FEM,Gran Buenos Aires,Full-time,Senior / Semi-Senior,0

In [18]:
#Concateno las postulaciones con las NO postulaciones

frames = [postulations,notpostulations]
total = pd.concat(frames, ignore_index = True)

In [19]:
total.drop_duplicates(subset=['idpostulante','idaviso'], keep = 'first',inplace = True)
total.reset_index(inplace = True,drop = True)

In [23]:
total.drop(['index'],axis =1,inplace = True)

In [24]:
total.count()

estado             5819667
fechanacimiento    5842262
idaviso            5952937
idpostulante       5952937
nivel_laboral      5952937
nombre_sort        5819667
nombre_zona        5952937
se_postulo         5952937
sexo               5952937
tipo_de_trabajo    5952937
dtype: int64

In [25]:
total.to_csv("postulaciones_nopostulacionesReducidoAmbos3M.csv", index = False)