In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

In [4]:
data_ads_details = pd.read_csv('avisos.csv')

In [6]:
data_ads_details.head()

,idaviso,idpais,titulo,descripcion,nombre_zona,ciudad,mapacalle,tipo_de_trabajo,nivel_laboral,nombre_area,denominacion_empresa
0,8725750,1,VENDEDOR/A PROVINCIA DE SANTA FE,<p><strong><strong>Empresa:</strong></strong> ...,Gran Buenos Aires,NaN,NaN,Full-time,Senior / Semi-Senior,Comercial,VENTOR
1,17903700,1,Enfermeras,<p>Solicitamos para importante cadena de farma...,Gran Buenos Aires,NaN,NaN,Full-time,Senior / Semi-Senior,Salud,Farmacias Central Oeste
2,1000150677,1,Chofer de taxi,<p>TE GUSTA MANEJAR? QUERES GANAR PLATA HACIEN...,Capital Federal,NaN,Empedrado 2336,Full-time,Senior / Semi-Senior,Transporte,FAMITAX SRL
3,1000610287,1,CHOFER DE CAMIONETA BAHIA BLANCA - PUNTA ALTA,<p><strong>Somos una empresa multinacional que...,Gran Buenos Aires,NaN,NaN,Full-time,Senior / Semi-Senior,Transporte,Wurth Argentina S.A
4,1000872556,1,Operarios de Planta - Rubro Electrodomésticos,<p><strong>OPERARIOS DE PLANTA</strong></p><p>...,Gran Buenos Aires,NaN,NaN,Full-time,Senior / Semi-Senior,Producción,ELECTRO OUTLET SRL

In [5]:
merge_postulants = pd.read_csv('postulantes.csv')

In [8]:
merge_postulants.head()

  idpostulante     nombre    estado  nombre_sort fechanacimiento        sexo
0      4rP6q15  Doctorado  En Curso            6             NaN  NO_DECLARA
1      akbv6zm  Doctorado  Graduado            6      1994-06-11         FEM
2       EVe2kz  Doctorado  En Curso            6      1974-06-28         FEM
3      xkPqMKa  Doctorado  Graduado            6      1969-02-03        MASC
4      bOj3Mjd  Doctorado  Graduado            6      1985-10-18        MASC

In [6]:
#Ahora me genero un dataframe con la misma cantidad de (idpotulante-idaviso) pero esta vez de NO postulaciones
import random

def get_random_ids(df_postulants,df_ads):
    dic = {'idpostulante':[], 'idaviso':[]}
    for i in range (0,6268564):
        numero = random.randrange(0,371380)
        idpostulante = df_postulants['idpostulante'][numero]
        dic['idpostulante'].append(idpostulante)
        numero2 = random.randrange(0,19685)
        idaviso = df_ads['idaviso'][numero2]
        dic['idaviso'].append(idaviso)
    dataframe = pd.DataFrame(data=dic)
    return dataframe

In [7]:
random_postulant_ad = get_random_ids(merge_postulants,data_ads_details)

In [8]:
random_postulant_ad.head()

      idaviso idpostulante
0  1112390707      akj2kem
1  1112361836      rm2laNx
2  1112259370      pzdxBVM
3  1112338551      EzOwJ16
4  1112460362      6rQ2VD4

In [11]:
#Mergeo los data frames sobre la informacion de edad y sexo y educacion del postulante del postulante con 
#la informacion del aviso en que se postulo tambien.
merge_postulants_info_NOTS = random_postulant_ad.merge(merge_postulants,on = 'idpostulante')
merge_postulants_ads_NOTS = merge_postulants_info_NOTS.merge(data_ads_details,on = 'idaviso')

In [12]:
merge_postulants_ads_NOTS['se_postulo']=0

In [15]:
merge_postulants_ads_NOTS.to_csv("avisos_no_postulantes.csv",index = False)

In [ ]:
merge_postulants_ads_NOTS.to_csv("no_postulaciones_random.csv",ignore_index = True)

In [ ]:
total.to_csv("postulaciones_no_postulaciones.csv",ignore_index = True)

In [ ]:
total.drop(columns = ['ciudad','mapacalle','nombre_sort','idpais','descripcion','fechapostulacion','titulo'],inplace = True)