In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

In [2]:
#me genero dos pruebas de submitts una con todos 1s y otrs con todos 0s

In [3]:
test_final = pd.read_csv('test_final_100k.csv')

In [4]:
test_final.head()

   id  idaviso idpostulante
0   0   739260       6M9ZQR
1   1   739260       6v1xdL
2   2   739260       ezRKm9
3   3   758580       1Q35ej
4   4   758580       EAN4J6

In [5]:
test_final['sepostulo'] = 0

In [8]:
test_final.drop(columns = ['idaviso','idpostulante'],inplace = True)

In [9]:
test_final.head()

   id  sepostulo
0   0          0
1   1          0
2   2          0
3   3          0
4   4          0

In [10]:
test_final.to_csv("prueba_test_ceros.csv",index = False)

In [11]:
#ahora creamos otro pero con todos 1s
test_final['sepostulo'] = 1

In [12]:
test_final.head()

   id  sepostulo
0   0          1
1   1          1
2   2          1
3   3          1
4   4          1

In [13]:
test_final.to_csv("prueba_test_unos.csv",index = False)