In [30]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

In [42]:
#Funcion que pasa a formato datetime las fechas que recibimos.
def datetime(date,format_string):
    return pd.to_datetime(date,format= format_string,errors='coerce')

In [61]:
data_postulant_education= pd.read_csv('SetDatosTp2/datos_navent_fiuba/fiuba_1_postulantes_educacion.csv')
data_postulant_education.head()

  idpostulante         nombre    estado
0         NdJl       Posgrado  En Curso
1         8BkL  Universitario  En Curso
2         1d2B  Universitario  En Curso
3         NPBx  Universitario  En Curso
4         NPBx         Master  En Curso

In [62]:
data_postulation= pd.read_csv('SetDatosTp2/datos_navent_fiuba/fiuba_4_postulaciones.csv')
data_postulation.head()

      idaviso idpostulante     fechapostulacion
0  1112257047         NM5M  2018-01-15 16:22:34
1  1111920714         NM5M  2018-02-06 09:04:50
2  1112346945         NM5M  2018-02-22 09:04:47
3  1112345547         NM5M  2018-02-22 09:04:59
4  1112237522         5awk  2018-01-25 18:55:03

In [63]:
data_postulant_sex_age= pd.read_csv('SetDatosTp2/datos_navent_fiuba/fiuba_2_postulantes_genero_y_edad.csv')
data_postulant_sex_age.head()

  idpostulante fechanacimiento  sexo
0         NM5M      1970-12-03   FEM
1         5awk      1962-12-04   FEM
2         ZaO5      1978-08-10   FEM
3         NdJl      1969-05-09  MASC
4         eo2p      1981-02-16  MASC

In [64]:
data_views =  pd.read_csv('SetDatosTp2/datos_navent_fiuba/fiuba_3_vistas.csv')
data_views.head()

      idAviso                     timestamp idpostulante
0  1111780242  2018-02-23T13:38:13.187-0500      YjVJQ6Z
1  1112263876  2018-02-23T13:38:14.296-0500      BmVpYoR
2  1112327963  2018-02-23T13:38:14.329-0500      wVkBzZd
3  1112318643  2018-02-23T13:38:17.921-0500      OqmP9pv
4  1111903673  2018-02-23T13:38:18.973-0500      DrpbXDP

In [65]:
data_ads_online = pd.read_csv('SetDatosTp2/datos_navent_fiuba/fiuba_5_avisos_online.csv')
data_ads_online.head()

      idaviso
0  1112355872
1  1112335374
2  1112374842
3  1111984070
4  1111822480

In [66]:
data_ads_details= pd.read_csv('SetDatosTp2/datos_navent_fiuba/fiuba_6_avisos_detalle.csv')
data_ads_details.head()

,idaviso,idpais,titulo,descripcion,nombre_zona,ciudad,mapacalle,tipo_de_trabajo,nivel_laboral,nombre_area,denominacion_empresa
0,8725750,1,VENDEDOR/A PROVINCIA DE SANTA FE,<p><strong><strong>Empresa:</strong></strong> ...,Gran Buenos Aires,NaN,NaN,Full-time,Senior / Semi-Senior,Comercial,VENTOR
1,17903700,1,Enfermeras,<p>Solicitamos para importante cadena de farma...,Gran Buenos Aires,NaN,NaN,Full-time,Senior / Semi-Senior,Salud,Farmacias Central Oeste
2,1000150677,1,Chofer de taxi,<p>TE GUSTA MANEJAR? QUERES GANAR PLATA HACIEN...,Capital Federal,NaN,Empedrado 2336,Full-time,Senior / Semi-Senior,Transporte,FAMITAX SRL
3,1000610287,1,CHOFER DE CAMIONETA BAHIA BLANCA - PUNTA ALTA,<p><strong>Somos una empresa multinacional que...,Gran Buenos Aires,NaN,NaN,Full-time,Senior / Semi-Senior,Transporte,Wurth Argentina S.A
4,1000872556,1,Operarios de Planta - Rubro Electrodomésticos,<p><strong>OPERARIOS DE PLANTA</strong></p><p>...,Gran Buenos Aires,NaN,NaN,Full-time,Senior / Semi-Senior,Producción,ELECTRO OUTLET SRL

# Prueba con Datos caulquiera

In [215]:
data_postulant_education.count()

idpostulante    298231
nombre          298231
estado          298231
dtype: int64

In [216]:
data_postulation.count()

idaviso             3401623
idpostulante        3401623
fechapostulacion    3401623
dtype: int64

In [217]:
data_postulant_sex_age.count()

idpostulante       200888
fechanacimiento    196138
sexo               200888
dtype: int64

In [218]:
postulantes_full = data_postulant_education.merge(data_postulant_sex_age,how='inner')
postulantes_full.head()

  idpostulante         nombre    estado fechanacimiento  sexo
0         NdJl       Posgrado  En Curso      1969-05-09  MASC
1         NdJl  Universitario  Graduado      1969-05-09  MASC
2         8BkL  Universitario  En Curso      1976-07-21   FEM
3         8BkL  Universitario  Graduado      1976-07-21   FEM
4         8BkL       Posgrado  Graduado      1976-07-21   FEM

In [233]:
postulations_full = postulantes_full.merge(data_postulation, on='idpostulante', how='inner')
postulations_full.head()

,idpostulante,nombre,estado,fechanacimiento,sexo,idaviso,fechapostulacion
0,NdJl,Posgrado,En Curso,1969-05-09,MASC,1112261212,2018-01-16 08:50:30
1,NdJl,Posgrado,En Curso,1969-05-09,MASC,1112273308,2018-01-23 07:53:47
2,NdJl,Posgrado,En Curso,1969-05-09,MASC,1112281548,2018-01-24 05:10:12
3,NdJl,Posgrado,En Curso,1969-05-09,MASC,1112260409,2018-01-24 05:17:29
4,NdJl,Posgrado,En Curso,1969-05-09,MASC,1112293547,2018-01-29 15:41:43

In [189]:
postulations_full.count()

idpostulante        5528668
nombre              5528668
estado              5528668
fechanacimiento     5488041
sexo                5528668
idaviso             5528668
fechapostulacion    5528668
dtype: int64

In [234]:
#Dropeo ids duplicados y dejo solo una publicacion
postulations_full = postulations_full.drop_duplicates(subset=['idpostulante'], keep='first', inplace=False)
postulations_full.count()

idpostulante        188752
nombre              188752
estado              188752
fechanacimiento     185878
sexo                188752
idaviso             188752
fechapostulacion    188752
dtype: int64

In [235]:
postulations_full["fechanacimiento"].isnull().value_counts()

False    185878
True       2874
Name: fechanacimiento, dtype: int64

In [236]:
#Cambiamos el formato a datetime y dropeamos las incorrectas
postulations_full["fechanacimiento"] = datetime(postulations_full["fechanacimiento"],'%Y-%m-%d')

In [237]:
postulations_full.replace(["NaN", 'NaT','null','Null'], np.nan, inplace = True)
postulations_full = postulations_full.dropna()

postulations_full["sexo"].isnull().value_counts()

False    185872
Name: sexo, dtype: int64

In [238]:

education_dic= {'Secundario': 1, 'Universitario':3,'Terciario/Técnico':2, 'Otro':0, 'Posgrado':4, 'Master': 5, 'Doctorado': 6}
estado_dic= {'En Curso': 1, 'Abandonado':2}
sexo_dic= {'MASC': 1, 'FEM':2, 'NO DECLARA':3}


postulations_full['fechanacimiento'] = postulations_full['fechanacimiento'].map(lambda x: 2018 - x.year)
postulations_full['estado'] = postulations_full['estado'].map(estado_dic)
postulations_full['nombre'] = postulations_full['nombre'].map(education_dic)
postulations_full['sexo'] = postulations_full['sexo'].map(sexo_dic)

In [239]:
postulations_full['sePostulo'] = 'Si'
postulations_full.head()

,idpostulante,nombre,estado,fechanacimiento,sexo,idaviso,fechapostulacion,sePostulo
0,NdJl,4,1.0,49,1.0,1112261212,2018-01-16 08:50:30,Si
32,8BkL,3,1.0,42,2.0,1112266605,2018-01-18 09:56:10,Si
80,1d2B,3,1.0,42,1.0,1112020573,2018-02-19 07:01:34,Si
84,NPBx,3,1.0,37,1.0,1112234075,2018-01-19 06:29:00,Si
156,Ym2X,0,1.0,54,1.0,1112267095,2018-01-17 20:18:50,Si

In [226]:
postulations_full.rename(index=str,columns={'fechanacimiento':'edad'})
postulations_full.reset_index()
dic = postulations_full.to_dict()
dic = dic['idpostulante']
dic
postulations_full['idpostulante'] = postulations_full['idpostulante'].map(dic)

In [232]:
dic

{0: 'NdJl',
 1048577: '5wrbWN',
 3670021: 'kPNGZwZ',
 5242887: 'W9WezlB',
 2621450: 'zv4Pajm',
 2621453: 'dY9oj0a',
 3670030: '0zd8WGd',
 524303: 'NWmPj4',
 1048595: 'YwlNDr',
 524309: '5D0qaw',
 524310: '1vxk6B',
 2097178: 'wVYkevZ',
 1048607: 'EQpPN4',
 32: '8BkL',
 2097187: 'VNJrjMm',
 2097197: 'QNMr0Vz',
 1048627: '1VrR1j',
 1048631: 'N9jwaV',
 2621498: '0zNB0Nq',
 453912: '8XYBY3',
 3145794: '1Qdqq1N',
 5417654: 'A3XkEqj',
 2621510: '0zNB0Pd',
 2077514: 'OqjNwo8',
 80: '1d2B',
 84: 'NPBx',
 524377: '6Vbvw4',
 524379: 'ZBvWo8',
 2097247: 'kPXjkxm',
 2621537: 'A3vDEXx',
 2967855: 'EzOGB3o',
 2097259: '8MaPdx3',
 1048688: '8mZWvl',
 524403: 'ZBvRGP',
 1048694: '1VrKPQ',
 1048696: 'YwlmDZ',
 524410: '85EXkj',
 2446698: 'dYo4K6P',
 4718724: 'ekOpbz8',
 524422: 'aXrXmm',
 3670157: '3Nd58Or',
 2184557: 'JBXqjRp',
 1048720: 'N9j19V',
 4718737: 'mzdpAK6',
 4718741: 'ow2LVee',
 4718743: 'mzdpAQG',
 1048729: '6z2zkx',
 524442: 'NWmDAx',
 2097307: 'dYojNxa',
 156: 'Ym2X',
 1048735: 'Ywlw5r',
 3145890: 'ZDl8818',
 3670190: '2zQVvE1',
 5243057: 'wVkd1jl',
 178: 'ZKl5',
 4718775: 'NzrRxpl',
 4718776: 'qe2G5ja',
 186: 'EDD99',
 4893386: 'vVjARjx',
 2621633: '6rBQvAR',
 4806006: 'Yj5ZdwP',
 4718790: '2zPWDY1',
 5243079: 'KBro9dm',
 2097358: 'MVOroZr',
 3670226: 'wVjqN9B',
 2097365: '5mkPjEX',
 524502: 'ezZVeW',
 1020942: 'Em8EK2',
 4194528: '6r5934M',
 4194529: 'EzEd9dz',
 3145954: '5mdkk1M',
 524516: 'ZBvd5V',
 2097381: 'owj2MAr',
 2097383: 'pzNd6Qp',
 2097389: '0zBPeVa',
 3757437: 'MV6w1Ee',
 1573104: 'MVdL3Nx',
 3145970: 'MVPOeNv',
 4194548: 'Nz0K51z',
 4194550: 'KBapDEd',
 4718839: 'JBrR9YO',
 4194553: 'pzM0kNr',
 4194554: 'EzEdmlz',
 1573115: 'W9PG3PR',
 258: 'Y043Z',
 260: '6M3jr',
 1573126: 'MVdL3eK',
 264: 'EpDDJ',
 524553: 'Y9vdXw',
 4194571: 'BmBzwMv',
 270: 'abpEZ',
 5505069: '6rP3oZv',
 3844824: 'KBaB9ad',
 524562: 'ZBvpk5',
 276: 'EZD29',
 524568: 'Y9vBDJ',
 5243161: 'GNZb0AA',
 1573146: 'jkMObGQ',
 5243163: 'vVjB1Le',
 2513973: 'vV3MKwQ',
 5243167: 'rmd41Nz',
 5499305: 'akjMG9W',
 2621733: 'rmevBVQ',
 5243176: 'VNrzwZm',
 5243178: 'KBro980',
 2097453: '0zBPe8r',
 2097455: 'ZD8rJrz',
 5243184: '6rP4K13',
 2097461: 'pzNd2Bp',
 524598: 'ezZq19',
 524600: 'EWVxDJ',
 2621759: 'akxDlPm',
 2534112: 'W9OBWGl',
 5330315: '1QP63q3',
 2621765: 'VNeJD9D',
 524615: 'ZBEj4Z',
 5243216: '5mP5Kpk',
 524628: 'ezromo',
 1885484: '0zrjDzq',
 2097497: 'OqjrYAp',
 4718939: '3NPeVXa',
 2097501: 'qev2xv9',
 1573214: '8MZJeLL',
 1573216: '3NkaXpx',
 1573220: 'A3AVkrD',
 5243238: '1QPBKOB',
 2621799: 'EzOZAP8',
 4718952: 'RzrRXe9',
 5243246: 'Bm5kKKZ',
 1573234: 'ZDaGpNR',
 4194677: '6r59Emv',
 524664: '1vWx9B',
 4194681: 'owa6pO0',
 5505087: 'Yj52WVr',
 1573244: 'QNakzr5',
 2796266: 'lDbp153',
 4194687: '96z8dEP',
 524673: 'ZBEE1E',
 524678: '5DMMKM',
 2621832: 'owEjRpa',
 1048975: 'ZzaAvZ',
 4718995: '4rP2Xbe',
 4718999: 'QNrRVB5',
 5505092: 'akjMQ5E',
 2621852: 'YjQrqAq',
 1048991: 'YwlxRJ',
 524706: '1vWdBO',
 4194723: 'PmJKvM0',
 524708: 'ZBEPMV',
 3146152: 'bOz4WE2',
 4194730: 'kPLKrQJ',
 4194731: 'wVo8r0B',
 4194734: 'kPLKrKj',
 3146162: 'owzjEmr',
 3146166: 'KBdzexp',
 2097591: 'akDjdlD',
 5417717: '96XmA49',
 1136032: 'MVa00Nx',
 4194758: 'BmBzlJR',
 4194762: 'xkvxrmj',
 460: 'YrkoJ',
 3146190: 'JBdXeZ5',
 2097615: '1QqPAMR',
 4194773: 'LNMkEGw',
 5243350: 'ow2V114',
 2097623: 'A3DXMPL',
 4194778: 'lD53BNM',
 3146205: 'ak4Dk50',
 4019621: 'jk5Al9e',
 481: 'Z85B5',
 489: 'axaPJ',
 4194796: '4rNJzqR',
 3146221: 'EzlZz6b',
 4194799: 'qe6bEqk',
 5516770: '96X3RYY',
 4719101: 'W9Wqeb2',
 5243393: 'mzdA119',
 4194821: 'DrJmLrK',
 4719112: 'ow2LVr4',
 2621964: 'xkp9BdP',
 1049107: 'eBN2RW',
 2097687: 'lDw9N0z',
 2621976: '3NQzeer',
 5330351: 'QNrKzLe',
 1573408: 'ZDaGpX5',
 2621986: 'qeYvGlX',
 3146275: 'KBdzBlX',
 3146276: 'DrpzrQA',
 2097703: 'bO4w04V',
 524841: 'NWOGND',
 2621994: 'PmqaRP0',
 2097707: 'BmD9N9E',
 524844: '1vWKRB',
 2621998: 'mzGVOB6',
 4719154: 'EzeRdOb',
 2622003: 'VNeJd2N',
 2097722: 'dYoq8vY',
 1573435: 'Nzjk5WV',
 1573436: 'RzMke2o',
 4194879: '0zkMXm9',
 4194881: 'rm0J9BA',
 2272011: 'JBXp81W',
 1573445: 'akbGMWW',
 524870: 'Y9JDO1',
 2097737: 'Rz6vOBE',
 524876: 'NWO5AJ',
 2097741: 'LN80GVp',
 4719184: '1QP26WO',
 3146321: 'rm2v63x',
 4719187: 'Bm54z82',
 1573460: 'OqmBl5r',
 2097749: 'zvPpdOb',
 524892: '1vWNQL',
 605: '1QLLO',
 1573472: 'pzeOkoL',
 4194917: '1Qk65RB',
 615: 'Nmkzz',
 2622057: '5mlkQ3q',
 1573482: '0zrQa4Y',
 2622059: 'X9olv5b',
 4719219: 'dYjBKjX',
 4719221: 'ZDrRKWY',
 4456554: 'Oqre00r',
 524926: '5DM1Pv',
 4719233: 'GNZlR9p',
 4719235: 'LNKRk5b',
 1223446: 'W9PPJMB',
 2622086: 'A3vDqdx',
 3670664: 'jkdZAzQ',
 5243532: 'lDLxl32',
 653: '6bK4l',
 2880605: 'W9ka0lN',
 2097809: 'owj8Bqa',
 3670674: 'vVDmNrx',
 2097812: 'bO4wNYb',
 2622104: '1Q4qZZb',
 3146393: '2zQmMw6',
 2097818: '5mko2Jw',
 2622107: 'JBeXvO5',
 668: 'ZvqJ1',
 4806085: 'ow246j0',
 4719271: 'A3XLwYD',
 2097842: '6rQvkxM',
 524981: '1vW823',
 3146423: '8MBa9QO',
 524984: '5DMeYw',
 524985: '859w9M',
 702: 'eZPbB',
 717: 'aJ5N5',
 525010: '5Dbr1M',
 5243608: 'rmd41JO',
 3670138: 'bOzRao0',
 4719337: 'zvaRDZ5',
 753: 'NOVYV',
 3670770: 'A3RMWRD',
 5243637: 'MVr8vWv',
 5243644: 'X95me8b',
 5505152: 'KBrDGZd',
 4719368: 'dYjBK3a',
 4719371: '2zPW031',
 4719374: 'mzdpaL3',
 4719383: 'pzdp0Wp',
 5505156: 'mzdDQX6',
 4719387: 'RzrRGD9',
 1573660: 'akbGVkZ',
 2097964: '6rQvkdv',
 1573680: 'xkPM6kb',
 5417779: 'Eze38ro',
 1573701: 'jkMOqGG',
 2622278: '96WMrlZ',
 1972791: 'QNaOJjV',
 4719435: 'VNrqKMD',
 1573711: 'QNakBY2',
 1573712: '0zrQae1',
 5417784: '3NPXEGq',
 4719443: 'kPjpKG1',
 1573718: 'rmROlkd',
 3670872: 'YjAE9ZD',
 1573724: 'dYJGk60',
 4719453: 'pzdpb3W',
 2446821: 'Rz6Q3kZ',
 870: 'Z48mz',
 2622311: 'PmqaX3Y',
 1573740: 'ow5KZNj',
 878: '6JAlR',
 3670898: 'MVPjKG3',
 2622323: '8Mra1xM',
 884: 'ex4j2',
 174910: '8BJep3',
 886: '6LO1M',
 525178: '6VJ633',
 2708970: 'VNePvld',
 3963014: '0zk9BY1',
 3670916: 'vVDmXvX',
 2098056: 'OqjEe56',
 1573769: 'LNwlElr',
 5243786: 'qe2553b',
 5243788: 'Yj5ddoP',
 1573781: 'OqmBvWB',
 525206: '1vaLXN',
 122237: '5bJMmk',
 2622361: '3NQz1vw',
 1573018: 'mzbBLM3',
 2622367: 'OqdjzAp',
 87537: 'eepJBo',
 524444: '1vxR4b',
 3146668: '2zQmLJo',
 1573806: 'zv80qPm',
 87539: '89J1Oj',
 1573814: 'qekOVeb',
 2622403: 'QNLM1jq',
 3670980: 'lD2MJMR',
 3670983: '5mdeR3N',
 2622411: 'dY9ovW2',
 2622412: 'qeYvQw9',
 4107085: 'ZDP6OQP',
 611832: 'EK51A2',
 699214: 'Z6YVRz',
 3670998: 'MVPjA0p',
 2622423: 'vVe3ZQP',
 3671000: 'PmLleEb',
 1573850: 'rmROXOe',
 1573851: 'zv80ql5',
 3146718: '1QdqLeB',
 3146719: 'vVD3wQP',
 2622435: 'dY9oA3a',
 1573863: 'wVXae0p',
 1573864: 'ZDaGk9R',
 4719593: '0zP2bNv',
 1573867: 'ZDaGkA5',
 4719597: 'KBrRl4d',
 3671023: 'owz9ezZ',
 525299: 'EW5Rv4',
 3671029: 'owz9QE4',
 525303: 'EW5JE0',
 2534228: '8MaDPXO',
 525312: 'ezeM6W',
 3146756: 'bOz4zj0',
 525319: '5DbA1v',
 2622472: 'W9kOQRm',
 2622475: 'QNLMQao',
 1573900: 'RzMkbzo',
 3495426: 'EzlMLbz',
 3146766: '8MBaB1L',
 2098203: 'kPXEY2V',
 3671068: 'VNPaplN',
 2098205: 'xk95e2b',
 1573918: 'mzbOl3G',
 1573925: 'BmaX28Q',
 611847: '1paEEL',
 1573042: 'akbLpDW',
 122242: '5bJOeG',
 2622511: '5mlkYmZ',
 2098225: 'LN80DlP',
 2098227: 'X9lXrZx',
 4719670: 'DrXYRv5',
 3671096: 'EzlvqX8',
 3146810: 'owzjzV3',
 4195387: 'VNxK54m',
 4195389: '0zkMjw1',
 4719679: '0zP2b08',
 2622528: 'kP0XwBV',
 3671109: 'X9Pba6P',
 5464351: '3NPXqkP',
 3671115: 'YjAEM4w',
 2622540: 'GNOXQEp',
 3671122: 'dYzpAaA',
 3671126: 'ZDlo6eE',
 2622556: 'MVeOGpr',
 3670202: 'mzj0xl3',
 2622558: 'ZD28YDE',
 525411: 'ZB4Q0b',
 4195429: 'X9kK2oQ',
 1049703: '6z2dVL',
 525419: 'ZB46BE',
 4806162: 'ow246va',
 1049711: '8ma03R',
 3090118: 'X9WwE5v',
 4719733: 'akjZmP0',
 1574009: 'mzbOld1',
 525434: '859Kjl',
 2098303: 'EzZ80bz',
 2098306: '8Maxl8R',
 1574019: '8MZJ4xj',
 2622596: 'W9kOYle',
 525446: 'EW5dE9',
 525449: 'Y9NQMP',
 1049738: 'EQZpwN',
 3671183: 'EzlvGO4',
 4195472: 'qe6bVMk',
 3495448: 'RzPVoLO',
 5244054: 'MVr88OK',
 2622617: 'YjQrY8D',
 3671194: '96ZpGeZ',
 3671196: '5mdeG1p',
 2098334: 'BmD9aR2',
 4719775: 'RzrRE0O',
 3146913: 'W9AOV89',
 2622626: '0zNBKRM',
 4544028: 'LNKj0lw',
 5244076: '3NPVVNK',
 4195512: 'VNxKjPN',
 5244094: '5mP550N',
 5244100: 'lDLxxk3',
 5244103: 'W9WeeVm',
 5244105: 'DrXMMJL',
 4719825: 'jkjl1oe',
 3145934: 'lD2wwzG',
 5244125: 'ZDrqqOb',
 5330469: 'MVr1X6o',
 3671272: 'zv6k1QE',
 1553811: '9694rzv',
 3147009: 'rm2v06O',
 5244165: 'zvajjLb',
 5244173: '6rP44KR',
 5244174: 'vVjBBvo',
 1298: '5dLpZ',
 525587: '1vLQrO',
 525597: 'NWlz2z',
 2622755: 'wVOY1Qw',
 525606: 'Y9NvKJ',
 4019761: 'W9VZGKe',
 5412049: 'lDLED56',
 3147055: 'MVPO6z9',
 1328: 'NPG1L',
 525619: 'ZBNEZR',
 1574203: 'dYJGdOX',
 525629: '85LPb3',
 3147070: 'JBdXx2k',
 525637: 'Y9NkRq',
 5244232: 'QNrVVJz',
 5464425: 'MVr3oOv',
 525669: 'ezx0Gj',
 3147113: 'A3RD6m1',
 525677: 'NWlZDB',
 5244272: '5mP554N',
 1397: 'a4zEZ',
 4195704: '6r59lPr',
 4107156: '4rNOxAK',
 4195706: 'Rz9Gm1O',
 1574267: 'xkPMEp6',
 1574268: 'Dr6KQlL',
 1574274: 'OqmBJ9B',
 4980971: 'wVk0jam',
 1574276: '0zrQV3q',
 2622853: '2zrmD2o',
 525702: '6VL1NM',
 4195725: 'W9VKNx9',
 4195728: 'X9kK2A8',
 2098578: 'qevAkrR',
 4195732: 'YjVKpEZ',
 525717: 'aXOQwJ',
 3147160: 'PmLaG9J',
 1433: '1k4Lz',
 1437: 'ZPWlE',
 5244321: 'RzrXX31',
 3147172: 'bOz4jGB',
 4720037: '1QP2JZQ',
 5505265: 'bOj6Q8V',
 3147178: 'PmLa9NY',
 4194546: 'W9VKj39',
 3147182: 'zv6Pp2E',
 3147193: '96ZMARw',
 4720058: 'PmGRbXZ',
 4720059: '0zP2b6E',
 5244350: 'qe25541',
 5244352: 'Yj5ddBr',
 4195778: '8M2v4WM',
 4195780: 'A36wN1Y',
 4195783: 'VNxKoX2',
 5244364: '6rP44Ev',
 3147214: 'X9PldD8',
 4195793: 'wVo8JVm',
 1050066: 'YwrrBr',
 2622933: 'vVe3vEQ',
 525785: 'EW42Vz',
 525787: '85LWNW',
 1050078: 'EQZOd8',
 4720095: 'mzdpMm9',
 525795: 'NWlxRx',
 4720101: 'ow2L00a',
 4720102: '6rPq8l4',
 3147240: 'ak4DBxD',
 2622969: '8MravND',
 4195837: 'xkvxEvj',
 5244416: 'DrXMMOL',
 1050118: 'N9dmJl',
 1050121: '5wk0VX',
 5244428: 'DrXMMkl',
 1050127: '8ma9QO',
 5244433: 'W9Weeve',
 1050131: 'EQZ4d9',
 5244438: 'ZDrqq5V',
 5244439: 'jkjvvrB',
 4195867: 'X9kKV5x',
 1564: 'NrlQx',
 4195870: 'zvxDoa3',
 2623007: 'A3vDm8D',
 2623012: 'ekvoj0p',
 2359558: '4rWXAR0',
 1575: 'aj1v0',
 2623024: '5mlkv5G',
 437171: '1Zd1pz',
 5505289: '0zP36K1',
 1050177: '5wkNmG',
 5244491: '6rP44xr',
 5244498: 'LNKvvOr',
 1050197: 'aNDwMW',
 3147350: 'YjArRVD',
 3147352: 'ak4DBQE',
 1627: 'eaXOE',
 4195935: 'Nz0KbQL',
 5244512: 'GNZbRBA',
 3147362: 'xka9zRb',
 1050215: '1VqvDB',
 5244523: '5mP5EXv',
 4720236: 'RzrREDE',
 4720239: 'Yj5q30V',
 5244541: '1QPB6lz',
 3147390: 'xka9z60',
 1667: '6AWqO',
 1673: 'YRobP',
 3671690: 'GNdDbEK',
 4720270: 'ZDrR3vE',
 2098832: 'YjrOrj1',
 4195993: 'VNxKAYM',
 5505306: 'zvaNMD3',
 4720290: 'qe2GBNL',
 5505307: 'RzrepE9',
 4720295: 'kPjpJZV',
 2098856: 'VNJDJ2m',
 4720297: '0zP2AQ9',
 2098858: 'GNXAX8E',
 3671724: 'RzPLXdZ',
 4720301: '0zP2AQM',
 4720305: 'X95q3Gb',
 4196018: 'bOVKBd0',
 4720309: '3NPeXKq',
 2623159: 'X9ol3Kx',
 526008: 'NWlKMl',
 4720317: 'W9Wq339',
 526014: '85L35M',
 4196032: 'MV610kx',
 2623171: 'qeYvBJw',
 4720325: '1QP2D3L',
 1050311: 'aNDLAm',
 1737: 'aBeQZ',
 526029: 'ezxwVB',
 1742: '8V5RW',
 2623183: '3NQzX9K',
 3671763: 'MVPj82x',
 2623189: '5mlk36G',
 3671767: '3Nd5V4X',
 1753: 'EAbr4',
 4196059: 'QNEK9Az',
 1763: 'aBL4W',
 1050341: 'EQZqK0',
 526059: '5DLjQw',
 2623215: 'rmevwL1',
 1785: '19YQ3',
 526075: 'Y9APqw',
 3845077: 'VNxNzeD',
 2623233: '0zNB3Ad',
 526082: '6VZkWv',
 2623236: 'BmVDwNE',
 1050379: 'Zz86w1',
 4196108: '8M2vpal',
 4196109: '5mqEjmZ',
 5243181: 'akja180',
 174641: 'empDGB',
 4720406: 'rmdpAr1',
 526104: '5DdaOk',
 526105: '5Ddk6G',
 4194607: 'dY5K4QY',
 2971269: 'JBeYa1p',
 4196130: 'LNMk92b',
 1050403: '6zQYj3',
 4720421: 'LNKR3rr',
 4720425: 'W9Wq3Bl',
 526123: '85BM1D',
 4196143: 'OqbK8xp',
 1050417: '8maGkM',
 4196147: 'ak5KpMW',
 349835: 'aGarKm',
 4720457: 'vVjRdJ1',
 526155: 'EWlw28',
 526159: '1vdxJB',
 2623314: 'OqdjlRN',
 2099027: '5mkom3X',
 4196180: 'MV61Q6e',
 526167: 'ezmezj',
 2623330: 'X9olJMQ',
 1908: 'edJL8',
 1914: '8kaxM',
 5505343: '1QP30DB',
 4196222: 'W9VKBXl',
 4981056: 'wVk0j5e',
 4720520: '8MPk3ED',
 4196238: 'A36wdLl',
 4196240: '8M2vD6j',
 4720529: 'qe2G4Mw',
 3147666: '2zQmo41',
 4196248: 'rm0JkEO',
 3526597: 'rm2W4L9',
 2272239: 'dYoQELY',
 3147681: 'pzjN4Qr',
 1954: '8krKL',
 3147684: 'EzlZRmN',
 2359622: 'JBX9vae',
 4720554: '5mPN3oz',
 526253: 'ZBlNVV',
 2623408: '8MraoYl',
 2541893: 'QNMOXa4',
 526261: 'Y9AVvP',
 3147702: 'MVPOLR9',
 4720568: 'bOjq6PY',
 4720570: 'RzrReR6',
 3671998: 'RzPLXLo',
 3147712: 'xka9MRa',
 612000: '1pLRX3',
 3147716: 'lD2woDz',
 2099143: '5mkomJX',
 526280: 'ezmO9j',
 3147722: 'ZDl8OlR',
 2099147: 'OqjEOa8',
 3147726: 'bOz4aB9',
 2099151: 'kPXE2X0',
 3672020: 'A3RMwDj',
 3672021: 'LNPqkAb',
 2099159: 'akDlJkm',
 4720603: 'JBrRARE',
 526300: '1vdj8O',
 2623454: 'bOW4XR2',
 2099172: 'EzZ8Vjz',
 4720613: 'OqrR4Bp',
 2099174: 'A3DEjdL',
 2623463: '0zNBX6d',
 2623464: 'bOW4pkE',
 3672041: 'zv6kDjm',
 3147754: '1QdqZRQ',
 2099180: 'wVYm9PB',
 5505362: 'pzd5K5Z',
 3147760: 'NzPdZBB',
 2447016: 'MVOkXOK',
 4196338: 'JBx2zeb',
 175102: '6Z0xr4',
 2623479: '5mlk1mp',
 2623485: '1Q4qNjL',
 2099202: '96MAoAP',
 2099207: 'NzdJNoJ',
 3147784: 'VNPJbNE',
 2065: '8k92x',
 1574936: 'ow5Kr9j',
 1574939: 'xkPM83K',
 2076: '8k94W',
 4720672: '8MPk3Xx',
 1050657: '8maKRM',
 3672098: 'EzlvjK6',
 2099235: 'rmvBPRb',
 2099238: 'bO4wAa4',
 3672103: 'JBdz3Oe',
 2092: '8kq1R',
 3672109: 'qewxBAa',
 3672111: 'MVPj3AK',
 1574963: 'wVXavpe',
 4196404: '8M2vNRO',
 2099257: 'NzdJPq5',
 4720710: '5mPN3Gp',
 2099271: 'QNMoP6W',
 3672137: 'vVDm5xQ',
 4196429: '0zkM8DE',
 1050703: 'aND1Wm',
 1050704: '8maz1W',
 3672145: 'vVDmdpj',
 1835363: 'xkPmPJa',
 5245019: 'JBr92eO',
 2971322: 'jk6WmM6',
 4196446: 'rm0JD9e',
 1050722: '1Vq62j',
 1050724: 'Zz8pb1',
 2149: 'ER1M2',
 4981095: 'A3XQRp1',
 1050733: '1VqMXj',
 526453: 'Y9A1MD',
 4720761: 'PmGRwAE',
 2171: 'EkDl0',
 5505386: '2zP3b2a',
 4720766: '8MPk33D',
 526467: '6VZOQl',
 4720772: 'vVjRdxX',
 4720776: 'NzrR5o4',
 4196493: 'W9VxMkj',
 526479: 'NWPQ3z',
 2623632: '5mlk1Qz',
 4720786: 'ow2LXA4',
 3439315: '96Z1bVY',
 5245087: 'Eze6dz0',
 5245092: 'DrXMmrW',
 2623656: 'mzGV8M1',
 1575083: '969EkMw',
 1575084: 'akbGpJ5',
 2623668: 'ZD28kpR',
 2623670: '96WMQQP',
 1575096: 'PmVkxO0',
 5505396: 'kPjxQOb',
 1575103: 'akbGpe5',
 1575104: 'PmVkxXY',
 5245122: 'Yj5dKvP',
 5245123: '6rP49bL',
 4981111: 'vVj6Drj',
 2261: '60vm4',
 4720856: 'OqrR48r',
 526555: 'EWl1rJ',
 4196573: '3N29mQw',
 526561: 'EWExlN',
 3148002: 'W9AOJ8N',
 3148003: 'lD2wJ52',
 3148005: 'owzjoLa',
 2623718: 'qeYvLqN',
 4720873: 'lDLpAq6',
 4720877: 'QNrRB5o',
 1575151: 'LNwl9Eb',
 2291: 'YGZ2w',
 4981118: '3NPYd4J',
 4720887: 'EzeRmb6',
 1575160: '6r20Ner',
 2299: 'Ek1Xo',
 5245180: 'OqrAKNN',
 2303: '8j0lL',
 2621825: '6rBQAR3',
 3672331: 'ak4dMv0',
 3672335: '0zd8389',
 1050903: 'EQOxD6',
 3148057: 'vVD3XRj',
 4196635: 'Oqb05E3',
 3672350: 'OqPklq8',
 3148063: 'owzjodW',
 1050913: 'Zz2b1E',
 1050917: 'EQO0J4',
 1197632: 'xkP355P',
 3148079: 'KBdzW90',
 3148080: 'vVD3lJG',
 1575217: 'A3AVrlL',
 4720948: 'RzrRQpY',
 5245238: 'KBropdQ',
 2099511: 'dYoqz3q',
 4720953: 'lDLpjej',
 1050941: 'YwQodV',
 3148095: 'kPNXepW',
 1050944: 'YwQrzD',
 2623810: 'owEjOXZ',
 1050947: 'N9ezl4',
 4720965: 'A3XL4GG',
 2384: '5Qxdp',
 1050965: 'Zz2vM1',
 2623831: 'kP0XkrQ',
 4720989: '3NPe0bJ',
 4720993: '6rPqE3L',
 2623842: 'jk6Vpre',
 1575271: 'ZDaGmmb',
 4721007: '5mPNJBw',
 612072: '5pLWmp',
 4721010: 'dYjBkPP',
 4721011: 'OqrRoR8',
 3672439: '8MBNo1x',
 4196728: 'GNo2B4E',
 3672441: 'GNdDq6e',
 5245307: 'KBropkj',
 4721020: 'xkdBrMx',
 1051011: 'aNxZaW',
 4196740: '2zkElOV',
 5245320: '3NPVba6',
 2099595: 'Rz6vPbq',
 4631618: 'lDL5Gq3',
 526735: '5Dqllw',
 995192: 'aMBdpE',
 1051029: 'eBvM68',
 3672471: 'mzjrlM1',
 3672477: '96Zdwma',
 3148191: 'W9AOaom',
 1575329: 'mzbORJG',
 526761: 'Y9VjBP',
 3672491: '8MBm4dL',
 2623920: 'RzN6oz6',
 5245361: 'Bm5kz6E',
 2483: '8jkxM',
 1051061: 'YwQ98V',
 5245366: '8MPzvj3',
 3148215: 'MVPOAor',
 526777: 'ZBPvYV',
 526778: 'Y9VJzX',
 526780: 'aX5lJ0',
 2623936: '96WMqAv',
 3672514: '4rd4B8z',
 1575366: 'ow5KNmW',
 1575367: 'JBmkldb',
 3672520: 'vVDrbKE',
 1575373: 'ZDaGJQP',
 2796621: 'zv4Rk4E',
 1575377: 'LNwlOvq',
 3932579: 'xkv5E80',
 1051094: '1V410O',
 1575383: '969EV3Y',
 1398522: 'pzej243',
 4196833: '0zkbwDa',
 4196835: 'EzEjxQo',
 2533: 'Ykkww',
 1575405: 'rmROD31',
 4721136: 'ekOpBG2',
 4981160: '8MPYBNM',
 2025222: 'wVYE51m',
 1575413: 'wVXaqYB',
 1575415: '3Nka51x',
 1575416: '1QreAY3',
 3672576: '1QdVXvE',
 2099715: 'JBXMxPr',
 3672580: 'QNP8Aj2',
 3672583: 'ekmBP4B',
 1051145: '1V4GMQ',
 3672587: 'ak4NpVD',
 1051149: 'N9e8oD',
 2575: 'ZOQvZ',
 3672593: '8MBmpox',
 526868: '852kRD',
 4981166: 'X95QkrJ',
 526872: 'NW0WG5',
 4196891: 'BmBdN20',
 2099740: '3NzE2pX',
 4721184: 'ow2LZe4',
 1051172: '8mrvkx',
 4721196: 'xkdBrxz',
 2099761: 'dYoqjoa',
 3148339: 'lD2w6O8',
 4721205: 'DrXYOPa',
 4721209: 'rmdprDd',
 526911: '5DqpmM',
 2272352: 'dYoQw8M',
 2626: '6j3Ev',
 2628: 'e0Zkr',
 2630: '1oaRE',
 3672647: 'X9P4zJv',
 1051208: '6zBwNR',
 2099788: '3NzEP1r',
 2272354: 'NzdpWdl',
 526926: 'Y9V1ZV',
 4721235: 'pzdpJzW',
 3672661: 'LNPJ9Ej',
 1051222: 'YwQzND',
 3148375: 'rm2voLe',
 5245528: 'GNZbRLE',
 3148377: 'MVPO4Ye',
 3672667: '96Zdkk9',
 526940: 'aX5m9E',
 526941: 'Y9VDWr',
 2656: 'aw4YN',
 1051234: 'YwQx2r',
 2660: '5Aqvp',
 526951: '5Dqw9z',
 2666: 'NZbkM',
 1051244: 'N9ev6l',
 3148397: 'VNPJLYd',
 2670: 'aXjE5',
 4721263: 'DrXYL8L',
 2601343: 'vVePe9x',
 4981182: 'bOjvVo4',
 5245560: 'akjaKwE',
 5245561: 'vVjBvlP',
 5505471: 'zvaNMr5',
 2447126: '5mkJwKZ',
 5481927: 'Bm5b9lL',
 3672711: 'RzPxDLE',
 5464469: '96XmkP9',
 2099850: 'DrzvXG5',
 1051281: 'eBv1VW',
 3672722: '6rZzxB3',
 3148439: 'EzlZB64',
 3672728: 'W9A5BdB',
 1051289: 'YwjodY',
 1575578: 'GNJkDbA',
 1051293: '6zr2Y3',
 3148454: '0zdBplE',
 4197035: 'vV98qOX',
 4721325: 'Yj5qzqJ',
 3148473: 'PmLa1Pv',
 5245627: 'Eze6db4',
 3148476: '0zdBOr8',
 4981194: '0zPYkkY',
 5155957: 'rmd1WX1',
 4721344: 'rmdp9Vx',
 4197058: 'qe6J3ok',
 3932619: 'PmJ9xR1',
 3148484: 'Drpz2JX',
 3672773: 'NzP9LkL',
 527047: 'ZBrwaY',
 4197065: 'LNMam8r',
 527051: 'EWeZZb',
 527055: 'ezOZDp',
 3148498: 'rm2vZX9',
 527059: 'EWeVW6',
 1575640: 'LNwlqpk',
 2786: 'Y9RKV',
 5245671: '4rPXJYq',
 1763359: 'A3ApKDl',
 4766149: 'GNZ4lNb',
 175229: '5dQmJw',
 1575664: 'ZDaGo9z',
 1575669: 'ZDaGomY',
 2807: 'ezMZE',
 4197114: 'VNx8BqR',
 4197123: 'owa0Bok',
 1051399: 'aNkDM9',
 527113: 'ZBrlQz',
 3495725: 'lD2lq2M',
 5245714: 'Eze6d60',
 4197139: 'lD5a0W6',
 1051417: 'aNkklJ',
 1575707: '5mrQXrz',
 1575708: 'lDXoND6',
 527133: 'ZBrXoz',
 5155973: 'akj1WpD',
 527136: '6VPjjx',
 4197154: 'VNx8BKz',
 1575715: 'vVkLqN1',
 1051429: '1VQakj',
 3058823: 'xkO0L3K',
 3672878: 'W9A56Ze',
 3148594: 'EzlZ2vN',
 1575736: 'zv8LYQJ',
 3148606: 'NzPdQlD',
 3932640: 'ak5lA0E',
 3148618: '4rdWYzE',
 2900: '6V13M',
 2906: '5DGMw',
 5245788: 'W9WeKej',
 4544314: '8MPEkZL',
 4020027: 'bOVbbZb',
 4721508: 'zvaRX5J',
 5330748: 'Yj5K21r',
 401633: '1jVo6B',
 3148654: 'JBdXYBJ',
 3148659: 'ekmoWVr',
 2100085: 'Rz6vvJY',
 2100087: 'jkVJJdb',
 2936: '85AMz',
 3932650: '8M2xD5l',
 1485973: 'VNkGvDz',
 3672960: 'wVjrqDB',
 527234: '5DPWaw',
 3672963: 'ZDlzodz',
 2948: '6VEEO',
 527237: 'aXjox9',
 4721542: 'vVjRx01',
 4721543: '96XNRGP',
 4721544: 'QNrRxYz',
 2624395: 'NzedboL',
 1575820: '0zrWwMv',
 4721550: 'lDLpBl3',
 3672975: 'qewrxxk',
 527248: 'NWrQO4',
 3148689: 'W9AOYzm',
 3757891: 'DrJDR15',
 2972: 'aXAaD',
 5391040: 'QNrJZAV',
 4721568: 'kPjpaJm',
 2978: '5R3kq',
 4721571: '4rP2z40',
 3672998: 'ZDlebbV',
 2624423: 'rmevbRd',
 2990: 'ND1LJ',
 2100146: 'ekoaaGr',
 2996: 'NDo34',
 2624437: '0zNBer1',
 2624439: 'wVOYv9d',
 2624442: '96WMkp1',
 3673020: 'owzb3ja',
 4721598: 'A3XLb5j',
 5245887: 'MVr81Mx',
 527296: '5DPYOw',
 4197316: '3N29rXP',
 3673036: 'LNPEGLQ',
 4197326: '5mqva2N',
 3673039: 'LNPEGO5',
 1051600: 'ZzDlW1',
 5245906: 'xkdqxwK',
 437411: 'e94Nd8',
 5245914: 'ZDrqKpR',

In [227]:
#Busco particiones de los datos
from sklearn.cross_validation import train_test_split
X = np.array(postulations_full.ix[:, 0:4]) 
y = np.array(postulations_full['sePostulo']) 
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=7506)
X_train.shape

/home/agustin/.local/lib/python3.5/site-packages/ipykernel_launcher.py:3: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  This is separate from the ipykernel package so we can avoid doing imports until

(148697, 4)

In [228]:
print('Number of observations in the training data:', len(X_train))
print('Number of observations in the test data:',len(X_test))

Number of observations in the training data: 148697
Number of observations in the test data: 37175

TypeError: ufunc 'isnan' not supported for the input types, and the inputs could not be safely coerced to any supported types according to the casting rule ''safe''

In [230]:
# Create a random forest Classifier. By convention, clf means 'Classifier'
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(n_jobs=2,oob_score=True, random_state=7506)
clf.fit(X_train, y_train)

ValueError: Input contains NaN, infinity or a value too large for dtype('float32').