In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import random

%matplotlib inline

In [2]:
#Funcion que pasa a formato datetime las fechas que recibimos.
def datetime(date,format_string):
    return pd.to_datetime(date,format= format_string,errors='coerce')

In [3]:
#Funcion que limpia los datos, quedandose con el nivel de educacion mas alto de casa id de los postulantes.
def education_cleaning(df):
    education_dic= {'Secundario': 1, 'Universitario':3,'Terciario/Técnico':2, 'Otro':0, 'Posgrado':4, 'Master': 5, 'Doctorado': 6}
    df['nombre'] = df['nombre'].map(education_dic)
    df = df.sort_values(by='nombre', ascending=False)
    df = df.drop_duplicates(subset='idpostulante',keep='first')
    return df

In [4]:
def generar_falsos():
    df = pd.DataFrame(np.random.randint(low=0, high=10, size=(80000, 6)),columns=['idpostulante','nombre','estado','fechanacimiento','sexo','sePostulo'])
    df['idpostulante'] = df['idpostulante'].map(lambda x: random.randint(3299593,3305593))
    df['nombre'] = df['nombre'].map(lambda x: np.random.randint(0,6))
    df['estado'] = df['estado'].map(lambda x: np.random.randint(1,2))
    df['fechanacimiento'] = df['fechanacimiento'].map(lambda x: np.random.randint(18,75))
    df['sexo'] = df['sexo'].map(lambda x: np.random.randint(1,3))
    df['sePostulo'] = 0
    return df

In [5]:
data_postulant_education= pd.read_csv('datos_navent_fiuba/fiuba_1_postulantes_educacion.csv')
data_postulant_education.head()

  idpostulante         nombre    estado
0         NdJl       Posgrado  En Curso
1         8BkL  Universitario  En Curso
2         1d2B  Universitario  En Curso
3         NPBx  Universitario  En Curso
4         NPBx         Master  En Curso

In [6]:
data_postulation= pd.read_csv('datos_navent_fiuba/fiuba_4_postulaciones.csv')
data_postulation.head()

      idaviso idpostulante     fechapostulacion
0  1112257047         NM5M  2018-01-15 16:22:34
1  1111920714         NM5M  2018-02-06 09:04:50
2  1112346945         NM5M  2018-02-22 09:04:47
3  1112345547         NM5M  2018-02-22 09:04:59
4  1112237522         5awk  2018-01-25 18:55:03

In [7]:
data_postulant_sex_age= pd.read_csv('datos_navent_fiuba/fiuba_2_postulantes_genero_y_edad.csv')
data_postulant_sex_age.head()

  idpostulante fechanacimiento  sexo
0         NM5M      1970-12-03   FEM
1         5awk      1962-12-04   FEM
2         ZaO5      1978-08-10   FEM
3         NdJl      1969-05-09  MASC
4         eo2p      1981-02-16  MASC

In [8]:
data_views =  pd.read_csv('datos_navent_fiuba/fiuba_3_vistas.csv')
data_views.head()

      idAviso                     timestamp idpostulante
0  1111780242  2018-02-23T13:38:13.187-0500      YjVJQ6Z
1  1112263876  2018-02-23T13:38:14.296-0500      BmVpYoR
2  1112327963  2018-02-23T13:38:14.329-0500      wVkBzZd
3  1112318643  2018-02-23T13:38:17.921-0500      OqmP9pv
4  1111903673  2018-02-23T13:38:18.973-0500      DrpbXDP

In [9]:
data_ads_online = pd.read_csv('datos_navent_fiuba/fiuba_5_avisos_online.csv')
data_ads_online.head()

      idaviso
0  1112355872
1  1112335374
2  1112374842
3  1111984070
4  1111822480

In [10]:
data_ads_details= pd.read_csv('datos_navent_fiuba/fiuba_6_avisos_detalle.csv')
data_ads_details.head()

,idaviso,idpais,titulo,descripcion,nombre_zona,ciudad,mapacalle,tipo_de_trabajo,nivel_laboral,nombre_area,denominacion_empresa
0,8725750,1,VENDEDOR/A PROVINCIA DE SANTA FE,<p><strong><strong>Empresa:</strong></strong> ...,Gran Buenos Aires,NaN,NaN,Full-time,Senior / Semi-Senior,Comercial,VENTOR
1,17903700,1,Enfermeras,<p>Solicitamos para importante cadena de farma...,Gran Buenos Aires,NaN,NaN,Full-time,Senior / Semi-Senior,Salud,Farmacias Central Oeste
2,1000150677,1,Chofer de taxi,<p>TE GUSTA MANEJAR? QUERES GANAR PLATA HACIEN...,Capital Federal,NaN,Empedrado 2336,Full-time,Senior / Semi-Senior,Transporte,FAMITAX SRL
3,1000610287,1,CHOFER DE CAMIONETA BAHIA BLANCA - PUNTA ALTA,<p><strong>Somos una empresa multinacional que...,Gran Buenos Aires,NaN,NaN,Full-time,Senior / Semi-Senior,Transporte,Wurth Argentina S.A
4,1000872556,1,Operarios de Planta - Rubro Electrodomésticos,<p><strong>OPERARIOS DE PLANTA</strong></p><p>...,Gran Buenos Aires,NaN,NaN,Full-time,Senior / Semi-Senior,Producción,ELECTRO OUTLET SRL

# Prueba con Datos caulquiera

In [11]:
data_postulant_education.count()

idpostulante    298231
nombre          298231
estado          298231
dtype: int64

In [12]:
#Limpiamos los datos de la educacion de los postulantes, donde un mismo postulante tenia distintos 
#niveles educativos (nos quedamos con el mas alto)
data_postulant_education = education_cleaning(data_postulant_education)
data_postulant_education.count()

idpostulante    188752
nombre          188752
estado          188752
dtype: int64

In [13]:
data_postulation.count()

idaviso             3401623
idpostulante        3401623
fechapostulacion    3401623
dtype: int64

In [14]:
data_postulant_sex_age.count()

idpostulante       200888
fechanacimiento    196138
sexo               200888
dtype: int64

In [15]:
postulantes_full = data_postulant_education.merge(data_postulant_sex_age,how='inner')
postulantes_full.head()

  idpostulante  nombre    estado fechanacimiento        sexo
0      4rP6q15       6  En Curso             NaN  NO_DECLARA
1      akbv6zm       6  Graduado      1994-06-11         FEM
2       EVe2kz       6  En Curso      1974-06-28         FEM
3      xkPqMKa       6  Graduado      1969-02-03        MASC
4      bOj3Mjd       6  Graduado      1985-10-18        MASC

In [16]:
postulations_full = postulantes_full.merge(data_postulation, on='idpostulante', how='inner')
postulations_full.head()

,idpostulante,nombre,estado,fechanacimiento,sexo,idaviso,fechapostulacion
0,4rP6q15,6,En Curso,NaN,NO_DECLARA,1112145679,2018-01-19 11:34:00
1,4rP6q15,6,En Curso,NaN,NO_DECLARA,1111785537,2018-01-19 11:34:26
2,4rP6q15,6,En Curso,NaN,NO_DECLARA,1112262494,2018-01-19 11:36:46
3,4rP6q15,6,En Curso,NaN,NO_DECLARA,1112262555,2018-01-19 11:39:13
4,4rP6q15,6,En Curso,NaN,NO_DECLARA,1112244104,2018-01-19 11:41:49

In [17]:
postulations_full.count()

idpostulante        3299729
nombre              3299729
estado              3299729
fechanacimiento     3268054
sexo                3299729
idaviso             3299729
fechapostulacion    3299729
dtype: int64

In [18]:
#Dropeo ids duplicados y dejo solo una publicacion
postulations_full = postulations_full.drop_duplicates(subset=['idpostulante'], keep='first', inplace=False)
postulations_full.count()

idpostulante        188752
nombre              188752
estado              188752
fechanacimiento     185878
sexo                188752
idaviso             188752
fechapostulacion    188752
dtype: int64

In [19]:
postulations_full["fechanacimiento"].isnull().value_counts()

False    185878
True       2874
Name: fechanacimiento, dtype: int64

In [20]:
#Cambiamos el formato a datetime y dropeamos las incorrectas
postulations_full["fechanacimiento"] = datetime(postulations_full["fechanacimiento"],'%Y-%m-%d')

In [21]:

postulations_full = postulations_full.dropna()

postulations_full["sexo"].isnull().value_counts()

False    185872
Name: sexo, dtype: int64

In [22]:

estado_dic= {'En Curso': 1, 'Abandonado':2}
sexo_dic= {'MASC': 1, 'FEM':2, 'NO DECLARA':3}


postulations_full['fechanacimiento'] = postulations_full['fechanacimiento'].map(lambda x: 2018 - x.year)
postulations_full['estado'] = postulations_full['estado'].map(estado_dic)
postulations_full['sexo'] = postulations_full['sexo'].map(sexo_dic)

In [23]:
postulations_full['sePostulo'] = 1
postulations_full.head()

,idpostulante,nombre,estado,fechanacimiento,sexo,idaviso,fechapostulacion,sePostulo
9,akbv6zm,6,NaN,24,2.0,1112299671,2018-01-30 11:48:51,1
30,EVe2kz,6,1.0,44,2.0,1112352890,2018-02-26 16:02:22,1
31,xkPqMKa,6,NaN,49,1.0,1112035302,2018-02-22 02:07:46,1
33,bOj3Mjd,6,NaN,33,1.0,1112320003,2018-02-16 14:29:14,1
51,8WpApx,6,1.0,44,2.0,1112267993,2018-01-22 11:25:48,1

In [24]:
postulations_full.rename(index=str,columns={'fechanacimiento':'edad'})
postulations_full.reset_index()
postulations_full['idpostulante'] = pd.factorize(postulations_full['idpostulante'])[0]

In [25]:
postulations_full = postulations_full.dropna()
postulations_full['estado'].isnull().value_counts()

False    81821
Name: estado, dtype: int64

In [26]:
#postulations_full = postulations_full['estado'].dropna()
postulations_full.head()

,idpostulante,nombre,estado,fechanacimiento,sexo,idaviso,fechapostulacion,sePostulo
30,1,6,1.0,44,2.0,1112352890,2018-02-26 16:02:22,1
51,4,6,1.0,44,2.0,1112267993,2018-01-22 11:25:48,1
64,6,6,1.0,43,1.0,1112196980,2018-01-15 10:22:46,1
82,7,6,1.0,36,2.0,1112281048,2018-01-24 19:00:37,1
90,8,6,1.0,51,2.0,1112276002,2018-02-14 10:01:48,1

In [27]:
no_postulations = generar_falsos()

In [28]:
no_postulations.head(10)
no_postulations.info

<bound method DataFrame.info of        idpostulante  nombre  estado  fechanacimiento  sexo  sePostulo
0           3301621       2       1               62     1          0
1           3302726       4       1               64     2          0
2           3305091       2       1               67     1          0
3           3299731       0       1               43     2          0
4           3299972       2       1               25     1          0
5           3302155       3       1               62     2          0
6           3301020       4       1               64     2          0
7           3300527       1       1               71     2          0
8           3301284       1       1               21     1          0
9           3299781       3       1               51     2          0
10          3305385       0       1               61     2          0
11          3301645       5       1               21     1          0
12          3305399       3       1               67     1          0
13          3305434       4       1               32     1          0
14          3302056       3       1               63     1          0
15          3301157       2       1               26     1          0
16          3299939       2       1               32     1          0
17          3302300       3       1               30     2          0
18          3304707       4       1               74     1          0
19          3305023       4       1               18     2          0
20          3302350       3       1               23     2          0
21          3304292       2       1               65     1          0
22          3303067       2       1               50     1          0
23          3305484       5       1               36     2          0
24          3300774       5       1               73     1          0
25          3302465       3       1               22     2          0
26          3299764       2       1               26     1          0
27          3299831       1       1               46     2          0
28          3300037       5       1               39     1          0
29          3303848       2       1               47     1          0
...             ...     ...     ...              ...   ...        ...
79970       3303785       5       1               42     1          0
79971       3303532       0       1               42     2          0
79972       3304007       2       1               38     1          0
79973       3303862       0       1               47     2          0
79974       3302186       0       1               45     1          0
79975       3300784       3       1               65     1          0
79976       3303596       3       1               27     1          0
79977       3303397       1       1               47     1          0
79978       3299878       3       1               73     1          0
79979       3302344       0       1               49     2          0
79980       3304262       4       1               23     2          0
79981       3302628       4       1               44     1          0
79982       3303146       5       1               39     1          0
79983       3304569       0       1               64     1          0
79984       3302037       5       1               68     1          0
79985       3304673       3       1               36     1          0
79986       3303999       5       1               57     2          0
79987       3303017       4       1               27     2          0
79988       3305433       2       1               26     1          0
79989       3303074       1       1               25     2          0
79990       3301518       4       1               56     1          0
79991       3303076       5       1               65     1          0
79992       3303394       5       1               24     2          0
79993       3300920       1       1               45     1          0
79994       3302776       3       1               55     1          0
79995       3305145       1       1               49     2          0
79996       3303256       4       1               25     2          0
79997       3301951       3       1               70     1          0
79998       3302447       1       1               18     1          0
79999       3299755       4       1               21     1          0

[80000 rows x 6 columns]>

In [29]:
postulations_full = postulations_full.merge(no_postulations, on=['idpostulante','nombre','estado','fechanacimiento','sexo','sePostulo'],how='outer')

In [30]:
pepe = postulations_full

In [31]:
pepeY = pepe['sePostulo']

In [32]:
pepe.loc[161818:]

,idpostulante,nombre,estado,fechanacimiento,sexo,idaviso,fechapostulacion,sePostulo
161818,3301951,3,1.0,70,1.0,NaN,NaN,0
161819,3302447,1,1.0,18,1.0,NaN,NaN,0
161820,3299755,4,1.0,21,1.0,NaN,NaN,0

In [33]:
pepeY.sample(5000)

7851      1
145912    0
138598    0
10945     1
29004     1
128853    0
32980     1
13179     1
91816     0
137542    0
144864    0
13084     1
130048    0
122655    0
58058     1
34543     1
48924     1
20481     1
110547    0
6571      1
68806     1
107435    0
158457    0
161460    0
113063    0
27962     1
46364     1
148501    0
117005    0
106440    0
         ..
38965     1
104455    0
38417     1
28422     1
112780    0
2264      1
45423     1
56501     1
142459    0
91983     0
58786     1
22228     1
47056     1
161145    0
110580    0
140692    0
29775     1
88498     0
101187    0
15651     1
33430     1
67720     1
60597     1
87990     0
54092     1
11642     1
121651    0
15428     1
12655     1
46995     1
Name: sePostulo, Length: 5000, dtype: int64

In [34]:
#Busco particiones de los datos
from sklearn.cross_validation import train_test_split
X = np.array(pepe.ix[:,1:5]) 
y = np.array(pepeY) 
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=7506)
X_train.shape

/usr/local/lib/python3.5/dist-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)
/home/agustin/.local/lib/python3.5/site-packages/ipykernel_launcher.py:3: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  This is separate from the ipykernel package so we can avoid doing imports until

(113274, 4)

In [35]:
print('Number of observations in the training data:', len(X_train))
print('Number of observations in the test data:',len(X_test))

Number of observations in the training data: 113274
Number of observations in the test data: 48547

In [36]:
# Create a random forest Classifier. By convention, clf means 'Classifier'
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(n_jobs=2)
clf.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=2,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [37]:
clf.predict(X_test)

array([1, 0, 0, ..., 1, 1, 1])

In [38]:
clf.score(X_test,y_test)

0.8863781490102375

In [39]:
clf.score(X_train,y_train)

0.8877500573829828

In [40]:
X_test

array([[ 3.,  1., 39.,  2.],
       [ 5.,  1., 63.,  1.],
       [ 1.,  1., 29.,  2.],
       ...,
       [ 3.,  1., 21.,  2.],
       [ 3.,  1., 31.,  1.],
       [ 3.,  1., 26.,  2.]])

In [41]:
from sklearn.ensemble import RandomForestRegressor
rf = RandomForestClassifier(random_state = 7506)
from pprint import pprint
# Look at parameters used by our current forest
print('Parameters currently in use:\n')
pprint(rf.get_params())

Parameters currently in use:

{'bootstrap': True,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'auto',
 'max_leaf_nodes': None,
 'min_impurity_decrease': 0.0,
 'min_impurity_split': None,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 10,
 'n_jobs': 1,
 'oob_score': False,
 'random_state': 7506,
 'verbose': 0,
 'warm_start': False}

In [42]:
from sklearn.model_selection import RandomizedSearchCV
# Number of trees in random forest
n_estimators = [int(x) for x in np.linspace(start = 200, stop = 2000, num = 10)]
# Number of features to consider at every split
max_features = ['auto', 'sqrt']
# Maximum number of levels in tree
max_depth = [int(x) for x in np.linspace(10, 110, num = 11)]
max_depth.append(None)
# Minimum number of samples required to split a node
min_samples_split = [2, 5, 10]
# Minimum number of samples required at each leaf node
min_samples_leaf = [1, 2, 4]
# Method of selecting samples for training each tree
bootstrap = [True, False]
# Create the random grid
random_grid = {'n_estimators': n_estimators,
               'max_features': max_features,
               'max_depth': max_depth,
               'min_samples_split': min_samples_split,
               'min_samples_leaf': min_samples_leaf,
               'bootstrap': bootstrap}
pprint(random_grid)

{'bootstrap': [True, False],
 'max_depth': [10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, None],
 'max_features': ['auto', 'sqrt'],
 'min_samples_leaf': [1, 2, 4],
 'min_samples_split': [2, 5, 10],
 'n_estimators': [200, 400, 600, 800, 1000, 1200, 1400, 1600, 1800, 2000]}

In [44]:
# Use the random grid to search for best hyperparameters
# First create the base model to tune
rf = RandomForestRegressor()
# Random search of parameters, using 3 fold cross validation, 
# search across 100 different combinations, and use all available cores
rf_random = RandomizedSearchCV(estimator = rf, param_distributions = random_grid, n_iter = 10, cv = 3, verbose=2, random_state=7506, n_jobs = -1)
# Fit the random search model
rf_random.fit(X_train, y_train)

Fitting 3 folds for each of 10 candidates, totalling 30 fits
[CV] n_estimators=800, min_samples_leaf=4, bootstrap=True, min_samples_split=10, max_depth=20, max_features=sqrt
[CV] n_estimators=800, min_samples_leaf=4, bootstrap=True, min_samples_split=10, max_depth=20, max_features=sqrt
[CV] n_estimators=800, min_samples_leaf=4, bootstrap=True, min_samples_split=10, max_depth=20, max_features=sqrt
[CV] n_estimators=2000, min_samples_leaf=2, bootstrap=False, min_samples_split=2, max_depth=30, max_features=auto
[CV]  n_estimators=800, min_samples_leaf=4, bootstrap=True, min_samples_split=10, max_depth=20, max_features=sqrt, total=  58.7s
[CV] n_estimators=2000, min_samples_leaf=2, bootstrap=False, min_samples_split=2, max_depth=30, max_features=auto
[CV]  n_estimators=800, min_samples_leaf=4, bootstrap=True, min_samples_split=10, max_depth=20, max_features=sqrt, total= 1.2min
[CV] n_estimators=2000, min_samples_leaf=2, bootstrap=False, min_samples_split=2, max_depth=30, max_features=auto
[CV]  n_estimators=800, min_samples_leaf=4, bootstrap=True, min_samples_split=10, max_depth=20, max_features=sqrt, total= 1.2min
[CV] n_estimators=1800, min_samples_leaf=1, bootstrap=True, min_samples_split=5, max_depth=None, max_features=auto
[CV]  n_estimators=1800, min_samples_leaf=1, bootstrap=True, min_samples_split=5, max_depth=None, max_features=auto, total= 3.4min
[CV] n_estimators=1800, min_samples_leaf=1, bootstrap=True, min_samples_split=5, max_depth=None, max_features=auto
[CV]  n_estimators=2000, min_samples_leaf=2, bootstrap=False, min_samples_split=2, max_depth=30, max_features=auto, total= 4.8min
[CV] n_estimators=1800, min_samples_leaf=1, bootstrap=True, min_samples_split=5, max_depth=None, max_features=auto
[CV]  n_estimators=2000, min_samples_leaf=2, bootstrap=False, min_samples_split=2, max_depth=30, max_features=auto, total= 4.8min
[CV] n_estimators=800, min_samples_leaf=1, bootstrap=True, min_samples_split=10, max_depth=None, max_features=auto
[CV]  n_estimators=2000, min_samples_leaf=2, bootstrap=False, min_samples_split=2, max_depth=30, max_features=auto, total= 4.7min
[CV] n_estimators=800, min_samples_leaf=1, bootstrap=True, min_samples_split=10, max_depth=None, max_features=auto
[CV]  n_estimators=800, min_samples_leaf=1, bootstrap=True, min_samples_split=10, max_depth=None, max_features=auto, total= 1.6min
[CV] n_estimators=800, min_samples_leaf=1, bootstrap=True, min_samples_split=10, max_depth=None, max_features=auto
[CV]  n_estimators=800, min_samples_leaf=1, bootstrap=True, min_samples_split=10, max_depth=None, max_features=auto, total= 1.6min
[CV] n_estimators=200, min_samples_leaf=2, bootstrap=False, min_samples_split=5, max_depth=None, max_features=auto
[CV]  n_estimators=200, min_samples_leaf=2, bootstrap=False, min_samples_split=5, max_depth=None, max_features=auto, total=  30.1s
[CV] n_estimators=200, min_samples_leaf=2, bootstrap=False, min_samples_split=5, max_depth=None, max_features=auto
[CV]  n_estimators=1800, min_samples_leaf=1, bootstrap=True, min_samples_split=5, max_depth=None, max_features=auto, total= 3.4min
[CV] n_estimators=200, min_samples_leaf=2, bootstrap=False, min_samples_split=5, max_depth=None, max_features=auto
[CV]  n_estimators=1800, min_samples_leaf=1, bootstrap=True, min_samples_split=5, max_depth=None, max_features=auto, total= 3.3min
[CV] n_estimators=1800, min_samples_leaf=1, bootstrap=True, min_samples_split=10, max_depth=50, max_features=sqrt
[CV]  n_estimators=200, min_samples_leaf=2, bootstrap=False, min_samples_split=5, max_depth=None, max_features=auto, total=  29.6s
[CV] n_estimators=1800, min_samples_leaf=1, bootstrap=True, min_samples_split=10, max_depth=50, max_features=sqrt
[CV]  n_estimators=200, min_samples_leaf=2, bootstrap=False, min_samples_split=5, max_depth=None, max_features=auto, total=  31.8s
[CV] n_estimators=1800, min_samples_leaf=1, bootstrap=True, min_samples_split=10, max_depth=50, max_features=sqrt
[CV]  n_estimators=800, min_samples_leaf=1, bootstrap=True, min_samples_split=10, max_depth=None, max_features=auto, total= 1.3min
[CV] n_estimators=400, min_samples_leaf=4, bootstrap=False, min_samples_split=10, max_depth=70, max_features=sqrt
[CV]  n_estimators=400, min_samples_leaf=4, bootstrap=False, min_samples_split=10, max_depth=70, max_features=sqrt, total=  41.4s
[CV] n_estimators=400, min_samples_leaf=4, bootstrap=False, min_samples_split=10, max_depth=70, max_features=sqrt
[CV]  n_estimators=400, min_samples_leaf=4, bootstrap=False, min_samples_split=10, max_depth=70, max_features=sqrt, total=  45.3s
[CV] n_estimators=400, min_samples_leaf=4, bootstrap=False, min_samples_split=10, max_depth=70, max_features=sqrt
[CV]  n_estimators=1800, min_samples_leaf=1, bootstrap=True, min_samples_split=10, max_depth=50, max_features=sqrt, total= 2.3min
[CV] n_estimators=1600, min_samples_leaf=1, bootstrap=True, min_samples_split=10, max_depth=50, max_features=auto
[CV]  n_estimators=400, min_samples_leaf=4, bootstrap=False, min_samples_split=10, max_depth=70, max_features=sqrt, total=  32.8s
[CV] n_estimators=1600, min_samples_leaf=1, bootstrap=True, min_samples_split=10, max_depth=50, max_features=auto
[CV]  n_estimators=1800, min_samples_leaf=1, bootstrap=True, min_samples_split=10, max_depth=50, max_features=sqrt, total= 2.4min
[CV] n_estimators=1600, min_samples_leaf=1, bootstrap=True, min_samples_split=10, max_depth=50, max_features=auto
[CV]  n_estimators=1800, min_samples_leaf=1, bootstrap=True, min_samples_split=10, max_depth=50, max_features=sqrt, total= 2.3min
[CV] n_estimators=1400, min_samples_leaf=1, bootstrap=False, min_samples_split=2, max_depth=30, max_features=auto
[CV]  n_estimators=1600, min_samples_leaf=1, bootstrap=True, min_samples_split=10, max_depth=50, max_features=auto, total= 2.7min
[CV] n_estimators=1400, min_samples_leaf=1, bootstrap=False, min_samples_split=2, max_depth=30, max_features=auto
[CV]  n_estimators=1600, min_samples_leaf=1, bootstrap=True, min_samples_split=10, max_depth=50, max_features=auto, total= 3.3min
[CV] n_estimators=1400, min_samples_leaf=1, bootstrap=False, min_samples_split=2, max_depth=30, max_features=auto
[CV]  n_estimators=1400, min_samples_leaf=1, bootstrap=False, min_samples_split=2, max_depth=30, max_features=auto, total= 3.1min
[CV] n_estimators=2000, min_samples_leaf=4, bootstrap=True, min_samples_split=5, max_depth=110, max_features=sqrt
[CV]  n_estimators=1600, min_samples_leaf=1, bootstrap=True, min_samples_split=10, max_depth=50, max_features=auto, total= 3.4min
[CV] n_estimators=2000, min_samples_leaf=4, bootstrap=True, min_samples_split=5, max_depth=110, max_features=sqrt
[CV]  n_estimators=2000, min_samples_leaf=4, bootstrap=True, min_samples_split=5, max_depth=110, max_features=sqrt, total= 2.8min
[CV] n_estimators=2000, min_samples_leaf=4, bootstrap=True, min_samples_split=5, max_depth=110, max_features=sqrt
[CV]  n_estimators=2000, min_samples_leaf=4, bootstrap=True, min_samples_split=5, max_depth=110, max_features=sqrt, total= 2.8min
[CV]  n_estimators=1400, min_samples_leaf=1, bootstrap=False, min_samples_split=2, max_depth=30, max_features=auto, total= 3.4min
[CV]  n_estimators=1400, min_samples_leaf=1, bootstrap=False, min_samples_split=2, max_depth=30, max_features=auto, total= 3.4min
[CV]  n_estimators=2000, min_samples_leaf=4, bootstrap=True, min_samples_split=5, max_depth=110, max_features=sqrt, total=  51.7s

[Parallel(n_jobs=-1)]: Done  30 out of  30 | elapsed: 19.1min finished

RandomizedSearchCV(cv=3, error_score='raise',
          estimator=RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
           oob_score=False, random_state=None, verbose=0, warm_start=False),
          fit_params=None, iid=True, n_iter=10, n_jobs=-1,
          param_distributions={'n_estimators': [200, 400, 600, 800, 1000, 1200, 1400, 1600, 1800, 2000], 'min_samples_leaf': [1, 2, 4], 'bootstrap': [True, False], 'min_samples_split': [2, 5, 10], 'max_depth': [10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, None], 'max_features': ['auto', 'sqrt']},
          pre_dispatch='2*n_jobs', random_state=7506, refit=True,
          return_train_score='warn', scoring=None, verbose=2)

In [45]:
rf_random.best_params_

{'bootstrap': False,
 'max_depth': None,
 'max_features': 'auto',
 'min_samples_leaf': 2,
 'min_samples_split': 5,
 'n_estimators': 200}

In [46]:
def evaluate(model, test_features, test_labels):
    predictions = model.predict(test_features)
    errors = abs(predictions - test_labels)
    mape = 100 * np.mean(errors / test_labels)
    accuracy = 100 - mape
    print('Model Performance')
    print('Average Error: {:0.4f} degrees.'.format(np.mean(errors)))
    print('Accuracy = {:0.2f}%.'.format(accuracy))
    
    return accuracy

base_model = RandomForestRegressor(n_estimators = 10, random_state = 7506)
base_model.fit(X_train, y_train)
base_accuracy = evaluate(base_model, X_test, y_test)

Model Performance
Average Error: 0.1649 degrees.
Accuracy = nan%.

/home/agustin/.local/lib/python3.5/site-packages/ipykernel_launcher.py:4: RuntimeWarning: divide by zero encountered in true_divide
  after removing the cwd from sys.path.
/home/agustin/.local/lib/python3.5/site-packages/ipykernel_launcher.py:4: RuntimeWarning: invalid value encountered in true_divide
  after removing the cwd from sys.path.

In [47]:
clf = RandomForestClassifier(n_jobs=2,bootstrap=False,max_depth= None,max_features='auto',min_samples_leaf= 2,min_samples_split= 5,n_estimators= 200)
clf.fit(X_train, y_train)

RandomForestClassifier(bootstrap=False, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=2, min_samples_split=5,
            min_weight_fraction_leaf=0.0, n_estimators=200, n_jobs=2,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [48]:
clf.predict(X_test)

array([1, 0, 0, ..., 1, 1, 1])

In [49]:
clf.score(X_test,y_test)

0.8863781490102375