In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

In [ ]:
#Funcion que limpia los datos, quedandose con el nivel de educacion mas alto de casa id de los postulantes.
def education_cleaning(df):
    education_dic= {'Secundario': 1, 'Universitario':3,'Terciario/TÃ©cnico':2, 'Otro':0, 'Posgrado':4, 'Master': 5, 'Doctorado': 6}
    df['nombre_sort'] = df['nombre'].map(education_dic)
    df = df.sort_values(by='nombre_sort', ascending=False)
    df = df.drop_duplicates(subset='idpostulante',keep='first')
    return df

In [17]:
#Leyendo los datos
data_postulant_education1= pd.read_csv('datos_navent_fiuba/fiuba_1_postulantes_educacion.csv')
data_postulant_education1 =education_cleaning(data_postulant_education1)
data_postulant_education1.head()

  idpostulante         nombre    estado
0         NdJl       Posgrado  En Curso
1         8BkL  Universitario  En Curso
2         1d2B  Universitario  En Curso
3         NPBx  Universitario  En Curso
4         NPBx         Master  En Curso

In [18]:
data_postulant_sex_age1= pd.read_csv('datos_navent_fiuba/fiuba_2_postulantes_genero_y_edad.csv')
data_postulant_sex_age1.head()

  idpostulante fechanacimiento  sexo
0         NM5M      1970-12-03   FEM
1         5awk      1962-12-04   FEM
2         ZaO5      1978-08-10   FEM
3         NdJl      1969-05-09  MASC
4         eo2p      1981-02-16  MASC

In [47]:
data_views1 =  pd.read_csv('datos_navent_fiuba/fiuba_3_vistas.csv')
data_views1.count()

idAviso         961897
timestamp       961897
idpostulante    961897
dtype: int64

In [7]:
data_postulation1= pd.read_csv('datos_navent_fiuba/fiuba_4_postulaciones.csv')
data_postulation1.head()

      idaviso idpostulante     fechapostulacion
0  1112257047         NM5M  2018-01-15 16:22:34
1  1111920714         NM5M  2018-02-06 09:04:50
2  1112346945         NM5M  2018-02-22 09:04:47
3  1112345547         NM5M  2018-02-22 09:04:59
4  1112237522         5awk  2018-01-25 18:55:03

In [8]:
data_ads_online1 = pd.read_csv('datos_navent_fiuba/fiuba_5_avisos_online.csv')
data_ads_online1.head()

      idaviso
0  1112355872
1  1112335374
2  1112374842
3  1111984070
4  1111822480

In [9]:
data_ads_details1= pd.read_csv('datos_navent_fiuba/fiuba_6_avisos_detalle.csv')
data_ads_details1.head()

,idaviso,idpais,titulo,descripcion,nombre_zona,ciudad,mapacalle,tipo_de_trabajo,nivel_laboral,nombre_area,denominacion_empresa
0,8725750,1,VENDEDOR/A PROVINCIA DE SANTA FE,<p><strong><strong>Empresa:</strong></strong> ...,Gran Buenos Aires,NaN,NaN,Full-time,Senior / Semi-Senior,Comercial,VENTOR
1,17903700,1,Enfermeras,<p>Solicitamos para importante cadena de farma...,Gran Buenos Aires,NaN,NaN,Full-time,Senior / Semi-Senior,Salud,Farmacias Central Oeste
2,1000150677,1,Chofer de taxi,<p>TE GUSTA MANEJAR? QUERES GANAR PLATA HACIEN...,Capital Federal,NaN,Empedrado 2336,Full-time,Senior / Semi-Senior,Transporte,FAMITAX SRL
3,1000610287,1,CHOFER DE CAMIONETA BAHIA BLANCA - PUNTA ALTA,<p><strong>Somos una empresa multinacional que...,Gran Buenos Aires,NaN,NaN,Full-time,Senior / Semi-Senior,Transporte,Wurth Argentina S.A
4,1000872556,1,Operarios de Planta - Rubro ElectrodomÃ©sticos,<p><strong>OPERARIOS DE PLANTA</strong></p><p>...,Gran Buenos Aires,NaN,NaN,Full-time,Senior / Semi-Senior,ProducciÃ³n,ELECTRO OUTLET SRL

In [31]:
data_postulant_education2= pd.read_csv('entrega6/fiuba_1_postulantes_educacion.csv')
data_postulant_education2 =education_cleaning(data_postulant_education2)
data_postulant_education2.head()

idpostulante    407453
nombre          407453
estado          407453
dtype: int64

In [42]:
data_postulant_sex_age2= pd.read_csv('entrega6/fiuba_2_postulantes_genero_y_edad.csv')
data_postulant_sex_age2.count()

idpostulante       297747
fechanacimiento    281127
sexo               297747
dtype: int64

In [48]:
data_views2 =  pd.read_csv('entrega6/fiuba_3_vistas.csv')
data_views2.count()

idAviso         5758686
timestamp       5758686
idpostulante    5758686
dtype: int64

In [21]:
data_postulation2= pd.read_csv('entrega6/fiuba_4_postulaciones.csv')
data_postulation2.head()

      idaviso idpostulante     fechapostulacion
0  1112248724         NjlD  2018-01-19 07:39:16
1  1112286523         ZaO5  2018-01-24 15:07:39
2  1112272060         ZaO5  2018-01-24 15:20:10
3  1112288401         ZaO5  2018-01-26 08:37:04
4  1112300563         ZaO5  2018-01-30 13:35:48

In [24]:
data_ads_online2 = pd.read_csv('entrega6/fiuba_5_avisos_online.csv')
data_ads_online2.head()

      idaviso
0  1111718795
1  1110497155
2  1111511125
3  1111930643
4  1112172032

In [25]:
data_ads_details2= pd.read_csv('entrega6/fiuba_6_avisos_detalle.csv')
data_ads_details2.head()

,idaviso,idpais,titulo,descripcion,nombre_zona,ciudad,mapacalle,tipo_de_trabajo,nivel_laboral,nombre_area,denominacion_empresa
0,1111556097,1,Responsable de Marketing-Producto Div. Constru...,<p>Buscamos un <strong>ResponsableÂ de Producto...,Gran Buenos Aires,NaN,NaN,Full-time,Senior / Semi-Senior,Desarrollo de Negocios,Sinteplast S.A.
1,1111949392,1,Asesor de Servicios - Postventa Chevrolet,"<p><span style="""">Para nuestro cliente, conces...",Gran Buenos Aires,NaN,NaN,Full-time,Senior / Semi-Senior,IngenierÃ­a ElÃ©ctrica y ElectrÃ³nica,Roycan
2,1112145935,1,Analistas de Impuestos Sr Ssr y Jr,<p>ImportanteÂ Estudio de Auditoria y Consultor...,Gran Buenos Aires,NaN,NaN,Full-time,Senior / Semi-Senior,Impuestos,Lighthouse Smart
3,1112146010,1,Software Engineer,<p>Â </p><p>Chevron is a multinational company ...,Gran Buenos Aires,NaN,NaN,Full-time,Senior / Semi-Senior,ProgramaciÃ³n,Chevron Buenos Aires Shared Services Center
4,1112211475,1,Business Developer Manager,"<p>Importante empresa de energÃ­as renovables, ...",Gran Buenos Aires,NaN,NaN,Full-time,Senior / Semi-Senior,Comercial,RANDSTAD

In [ ]:
data_postulant_education3= pd.read_csv('fiuba_1_postulantes_educacion.csv')
data_postulant_education3 =education_cleaning(data_postulant_education3)
data_postulant_education3.head()

In [ ]:
data_postulant_sex_age3= pd.read_csv('fiuba_2_postulantes_genero_y_edad.csv')
data_postulant_sex_age3.count()

In [ ]:
data_views3 =  pd.read_csv('fiuba_3_vistas.csv')
data_views3.count()

In [16]:
data_ads_details3= pd.read_csv('fiuba_6_avisos_detalle.csv')
data_ads_details3.head()

data_ads_missing_details = pd.read_csv('fiuba_6_avisos_detalle_missing_nivel_laboral.csv')

frames_details3 = [data_ads_details3,data_ads_missing_details]
data_ads_details3 = pd.concat(frames_details3)
data_ads_details3.drop_duplicates().drop(['Unnamed: 11','Unnamed: 12','Unnamed: 13'],1).head()

,ciudad,denominacion_empresa,descripcion,idaviso,idpais,mapacalle,nivel_laboral,nombre_area,nombre_zona,tipo_de_trabajo,titulo
0,Flores,RIBEIRO SUC. FLORES,Nuestra BÃºsqueda se orienta a la incorporaciÃ³n...,1573840,1,NaN,Otro,Ventas,Capital Federal,Full-time,VENDEDORA/O
1,NaN,Aparatos Electricos Automaticos SA,INGENIERO ELECTRICISTA/ELECTRONICO CON CONOCIM...,1712970,1,NaN,Otro,Otras Ingenierias,Capital Federal,Full-time,INGENIERO DE PRODUCTO
2,NaN,Revista NEX IT Specialist ? Editorial Poulbert,DiseÃ±adores/as GrÃ¡ficos Quark Express para Rev...,1719970,1,NaN,Otro,DiseÃ±o,Capital Federal,Full-time,** DiseÃ±adores/as GrÃ¡ficos Quark Express **
3,NaN,Tango Software,Estudiante de Sistemas (Lic. en Sistemas de la...,1720060,1,NaN,Otro,Tecnologia / Sistemas,Capital Federal,Full-time,Soporte Tecnico
4,NaN,Experis,Importante OrganizaciÃ³n AcadÃ©mica Empresarial\...,1720280,1,NaN,Otro,Otros,Buenos Aires (fuera de GBA),Full-time,ADSCRIPTO DE GERENCIA

In [37]:
frames_education = [data_postulant_education1,data_postulant_education2,data_postulant_education3]
data_postulant_education = pd.concat(frames_education)
data_postulant_education.drop_duplicates().count()

idpostulante    568612
nombre          568612
estado          568612
dtype: int64

In [44]:
frames_sexAge = [data_postulant_sex_age1,data_postulant_sex_age2,data_postulant_sex_age3]
data_postulant_sex_age = pd.concat(frames_sexAge)
data_postulant_sex_age.drop_duplicates().count()

idpostulante       408452
fechanacimiento    388808
sexo               408452
dtype: int64

In [ ]:
frames_views = [data_views1,data_views2,data_views3]
data_views = pd.concat(frames_views)
data_views.drop_duplicates().count()

In [ ]:
frames_postulantion = [data_postulantion1,data_postulantion2]
data_postulantion = pd.concat(frames_postulant)
data_postulantion.drop_duplicates().count()

In [ ]:
frames_online = [data_ads_online1,data_ads_online2]
data_ads_online = pd.concat(frames_online)
data_ads_online.drop_duplicates().count()

In [ ]:
frames_details = [data_ads_details1,data_ads_details2,data_ads_details3]
data_ads_details = pd.concat(frames_details)
data_ads_details.drop_duplicates().count()

In [ ]:
#Mergeo los data frames sobre la informacion de edad y sexo y educacion del postulante del postulante con 
#la informacion del aviso en que se postulo tambien.
merge_postulants_info = data_postulant_education.merge(data_postulant_sex_age,on = 'idpostulante')
merge_postulants_ads = merge_postulants_info.merge(data_postulantion,on = 'idpostulante')
merge_postulants_ads = merge_postulants_ads.merge(data_ads_details,on = 'idaviso')

In [ ]:
#apartir de aca tendria que generarme las No postulaciones, mergear todo, encodear los campos y hacer el arbol de decision 
#todo eso esta en el otro notebook con el dataset chico.