In [1]:
import numpy as np
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
cd Algorithms

/home/olix/Documentos/datos/tp2master/OrgaDatos/TP2/Algorithms

In [3]:
test = pd.read_csv('100k_info_predecir.csv')

In [4]:
test.drop(columns=['descripcion','denominacion_empresa','nombre_area','titulo','idpais','ciudad','nombre','mapacalle'],inplace = True)
test.head()

,id,idaviso,idpostulante,estado,nombre_sort,fechanacimiento,sexo,nivel_laboral,nombre_zona,tipo_de_trabajo
0,0,739260,6M9ZQR,Graduado,6.0,1976-03-29,FEM,Jefe / Supervisor / Responsable,Capital Federal,Full-time
1,1,739260,6v1xdL,Graduado,2.0,1987-06-27,MASC,Jefe / Supervisor / Responsable,Capital Federal,Full-time
2,2,739260,ezRKm9,Graduado,3.0,1982-02-17,FEM,Jefe / Supervisor / Responsable,Capital Federal,Full-time
3,3,758580,1Q35ej,Graduado,4.0,1949-12-24,MASC,Otro,Capital Federal,Full-time
4,4,758580,EAN4J6,Abandonado,3.0,1986-05-27,FEM,Otro,Capital Federal,Full-time

In [5]:
def datetime(date,format_string):
    return pd.to_datetime(date,format= format_string,errors='coerce')

In [6]:
test['edadPostulante'] = datetime(test['fechanacimiento'],'%Y-%m-%d')

In [7]:
test['edadPostulante'] = test['edadPostulante'].map(lambda x: 2018 - x.year)

In [8]:
test.drop(columns = ['fechanacimiento'],inplace= True)

In [9]:
test=test.fillna(method='pad')

In [10]:
test['estado'].isnull().value_counts()

False    100000
Name: estado, dtype: int64

In [12]:
test['nivel_laboral'].value_counts()

Senior / Semi-Senior                    65663
Junior                                  20115
Otro                                     9113
Jefe / Supervisor / Responsable          4184
Gerencia / Alta Gerencia / Dirección      914
Microcentro                                 6
Full-time                                   5
Name: nivel_laboral, dtype: int64

In [14]:
# estado Mapping 
test['estadoEncoded'] = test['estado'].map( {'En Curso': 0, 'Abandonado': 2, 'Graduado': 1} ).astype(int)

# tipoDeTrabajo Mapping 
test['tipoDeTrabajoEncoded'] = test['tipo_de_trabajo'].map( {'Full-time':0, 'Part-time':1, 'Teletrabajo':2, 'Por Horas': 3, 'Pasantia': 4, 'Temporario': 5, 'Por Contrato': 6,'Fines de Semana': 7, 'Primer empleo': 8,'Corrientes':9,'Vicente López':10} ).astype(int)
 

    
# Nivel de trabajo Mapping
test['nivelLaboralEncoded'] = test['nivel_laboral'].map( {'Senior / Semi-Senior':0, 'Junior':1, 'Otro':2, 'Jefe / Supervisor / Responsable': 3, 
                                                              'Gerencia / Alta Gerencia / Dirección': 4,'Microcentro':5,'Full-time':6} ).astype(int)


#Sexo Mapping

test['sexoEncoded'] = test['sexo'].map({'FEM':0, 'MASC':1, 'NO_DECLARA':2}).astype(int)


# Mapping edad del postulante
test.loc[ test['edadPostulante'] <= 21, 'edadEncoded']                         = 0
test.loc[(test['edadPostulante'] > 21) & (test['edadPostulante'] <= 26), 'edadEncoded'] = 1
test.loc[(test['edadPostulante'] > 26) & (test['edadPostulante'] <= 30), 'edadEncoded'] = 2
test.loc[(test['edadPostulante'] > 30) & (test['edadPostulante'] <= 40), 'edadEncoded'] = 3
test.loc[ test['edadPostulante'] > 40, 'edadEncoded'] = 4

#Mapping nombre de la zona

test['zonaEncoded'] = test['nombre_zona'].map({'Gran Buenos Aires': 0, 'Capital Ferderal': 1,'GBA Oeste': 2, 'Buenos Aires (fuera de GBA)': 3 })

In [15]:
drop_elements = ['tipo_de_trabajo','estado','sexo','edadPostulante','nivel_laboral','nombre_zona']
test_encoded = test.drop(drop_elements, axis = 1)

In [16]:
test_encoded.head()

,id,idaviso,idpostulante,nombre_sort,estadoEncoded,tipoDeTrabajoEncoded,nivelLaboralEncoded,sexoEncoded,edadEncoded,zonaEncoded
0,0,739260,6M9ZQR,6.0,1,0,3,0,4.0,NaN
1,1,739260,6v1xdL,2.0,1,0,3,1,3.0,NaN
2,2,739260,ezRKm9,3.0,1,0,3,0,3.0,NaN
3,3,758580,1Q35ej,4.0,1,0,2,1,4.0,NaN
4,4,758580,EAN4J6,3.0,2,0,2,0,3.0,NaN

In [17]:
test_encoded.to_csv('test_encoded.csv',index = False)