In [1]:
import numpy as np
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
cd Algorithms

/home/olix/Documentos/datos/tp2master/OrgaDatos/TP2/Algorithms

In [3]:
total = pd.read_csv('postulaciones_nopostulacionesReducidoAmbos3M.csv')

In [4]:
total.sample(5)

,estado,fechanacimiento,idaviso,idpostulante,nivel_laboral,nombre_sort,nombre_zona,se_postulo,sexo,tipo_de_trabajo
5912552,En Curso,1996-04-30,1112280067,akjvRRJ,Senior / Semi-Senior,3.0,Gran Buenos Aires,0,FEM,Full-time
5008921,En Curso,1992-01-19,1112393041,1BBDx3,Junior,3.0,Gran Buenos Aires,0,FEM,Full-time
3497378,NaN,1994-09-20,1112216004,1QqAD5j,Gerencia / Alta Gerencia / Direcci贸n,NaN,Gran Buenos Aires,0,FEM,Full-time
2287216,Graduado,1995-09-08,1112262197,X95OLOb,Senior / Semi-Senior,1.0,Gran Buenos Aires,1,FEM,Full-time
3276222,Graduado,1983-07-11,1112296144,akO2a4E,Senior / Semi-Senior,1.0,Gran Buenos Aires,0,FEM,Full-time

In [5]:
def datetime(date,format_string):
    return pd.to_datetime(date,format= format_string,errors='coerce')

In [6]:
total['edadPostulante'] = datetime(total['fechanacimiento'],'%Y-%m-%d')

In [7]:
total['edadPostulante'] = total['edadPostulante'].map(lambda x: 2018 - x.year)

In [8]:
total.drop(columns = ['fechanacimiento'],inplace= True)

In [9]:
total=total.fillna(method='pad')

In [10]:
# estado Mapping 
total['estadoEncoded'] = total['estado'].map( {'En Curso': 0, 'Abandonado': 2, 'Graduado': 1} ).astype(int)

In [11]:
total['tipo_de_trabajo'].value_counts()

Full-time          5234285
Part-time           593931
Teletrabajo          31255
Por Horas            27407
Pasantia             25883
Temporario           17465
Por Contrato         13094
Fines de Semana       7668
Primer empleo         1676
Voluntario             273
Name: tipo_de_trabajo, dtype: int64

In [12]:
# tipoDeTrabajo Mapping 
total['tipoDeTrabajoEncoded'] = total['tipo_de_trabajo'].map( {'Full-time':0, 'Part-time':1, 'Teletrabajo':2, 'Por Horas': 3, 'Pasantia': 4, 'Temporario': 5, 'Por Contrato': 6,'Fines de Semana': 7, 'Primer empleo': 8,'Corrientes':9,'Vicente L贸pez':10, 'Voluntario': 11} ).astype(int)

In [13]:
# Nivel de trabajo Mapping
total['nivelLaboralEncoded'] = total['nivel_laboral'].map( {'Senior / Semi-Senior':0, 'Junior':1, 'Otro':2, 'Jefe / Supervisor / Responsable': 3, 
                                                              'Gerencia / Alta Gerencia / Direcci贸n': 4,'Microcentro':5,'Full-time':6} ).astype(int)

In [14]:
#Sexo Mapping

total['sexoEncoded'] = total['sexo'].map({'FEM':0, 'MASC':1, 'NO_DECLARA':2, '0.0':2}).astype(int)

In [15]:
# Mapping edad del postulante
total.loc[ total['edadPostulante'] <= 21, 'edadEncoded']                         = 0
total.loc[(total['edadPostulante'] > 21) & (total['edadPostulante'] <= 26), 'edadEncoded'] = 1
total.loc[(total['edadPostulante'] > 26) & (total['edadPostulante'] <= 30), 'edadEncoded'] = 2
total.loc[(total['edadPostulante'] > 30) & (total['edadPostulante'] <= 40), 'edadEncoded'] = 3
total.loc[ total['edadPostulante'] > 40, 'edadEncoded'] = 4

In [16]:
total['nombre_zona'].value_counts()

Gran Buenos Aires              5529895
Capital Federal                 421439
GBA Oeste                         1274
Buenos Aires (fuera de GBA)        329
Name: nombre_zona, dtype: int64

In [17]:
#Mapping nombre de la zona

total['zonaEncoded'] = total['nombre_zona'].map({'Gran Buenos Aires': 0, 'Capital Ferderal': 1,'GBA Oeste': 2, 'Buenos Aires (fuera de GBA)': 3 })

In [18]:
drop_elements = ['tipo_de_trabajo','estado','sexo','edadPostulante','nivel_laboral','nombre_zona']
total = total.drop(drop_elements, axis = 1)

In [19]:
total['edadEncoded']=total['edadEncoded'].fillna(method = 'pad')

In [20]:
total['edadEncoded'].value_counts()

1.0    1699690
3.0    1662248
2.0    1287899
4.0     733679
0.0     569421
Name: edadEncoded, dtype: int64

In [21]:
total.head(5)

,idaviso,idpostulante,nombre_sort,se_postulo,estadoEncoded,tipoDeTrabajoEncoded,nivelLaboralEncoded,sexoEncoded,edadEncoded,zonaEncoded
0,1112348533,8MPPMwL,1.0,1,1,0,0,1,2.0,0.0
1,1112237849,0zPoNJ9,3.0,1,1,0,0,0,1.0,0.0
2,1112345900,0zPOblM,3.0,1,0,1,1,0,0.0,NaN
3,1111903673,4rdwvle,1.0,1,1,0,2,1,3.0,0.0
4,1112326299,8MPw0mO,1.0,1,1,0,0,2,3.0,0.0

In [22]:
total['edadEncoded'][0]

2.0

In [66]:
total['edadEncoded'][0] = 3.0

/home/olix/.local/lib/python3.5/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [68]:
#Nose porque me aparecen valores nan y cuando hago value counts no aparecen cuantos

In [23]:
total.to_csv('postulaciones_nopostulacionesRedCodificadoAmbos3M.csv')