In [1]:
import numpy as np
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt
%matplotlib inline

from sklearn.preprocessing import LabelEncoder

In [2]:
cd Algorithms

/home/olix/Documentos/datos/tp2master/OrgaDatos/TP2/Algorithms

In [3]:
total = pd.read_csv('postulaciones_nopostulacionesReducidoAmbos3M.csv')

In [4]:
total.count()

estado             5819667
fechanacimiento    5842262
idaviso            5952937
idpostulante       5952937
nivel_laboral      5952937
nombre_sort        5819667
nombre_zona        5952937
se_postulo         5952937
sexo               5952937
tipo_de_trabajo    5952937
dtype: int64

In [4]:
def datetime(date,format_string):
    return pd.to_datetime(date,format= format_string,errors='coerce')

In [5]:
total['edadPostulante'] = datetime(total['fechanacimiento'],'%Y-%m-%d')

In [6]:
total['edadPostulante'] = total['edadPostulante'].map(lambda x: 2018 - x.year)

In [7]:
total.drop(columns = ['fechanacimiento'],inplace= True)

In [8]:
total=total.fillna(method='pad')

In [10]:
total.count()

estado             5952937
idaviso            5952937
idpostulante       5952937
nivel_laboral      5952937
nombre_sort        5952937
nombre_zona        5952937
se_postulo         5952937
sexo               5952937
tipo_de_trabajo    5952937
edadPostulante     5952937
dtype: int64

In [9]:
# Mapping edad del postulante por rango de edades
total.loc[ total['edadPostulante'] <= 21, 'edadEncoded']                         = 0
total.loc[(total['edadPostulante'] > 21) & (total['edadPostulante'] <= 26), 'edadEncoded'] = 1
total.loc[(total['edadPostulante'] > 26) & (total['edadPostulante'] <= 30), 'edadEncoded'] = 2
total.loc[(total['edadPostulante'] > 30) & (total['edadPostulante'] <= 40), 'edadEncoded'] = 3
total.loc[ total['edadPostulante'] > 40, 'edadEncoded'] = 4

In [10]:
le = LabelEncoder()
for column in total.drop(['se_postulo','idaviso','idpostulante'],axis =1).columns:
    if total[column].dtype == type(object):
        total[column] = le.fit_transform(total[column].astype(str))

In [13]:
total.drop(columns = ['edadPostulante'],inplace = True)

In [14]:
total = pd.get_dummies(total,columns = ['estado','nivel_laboral','nombre_sort','nombre_zona','sexo','tipo_de_trabajo','edadEncoded'])

In [15]:
total.head()

,idaviso,idpostulante,se_postulo,estado_0,estado_1,estado_2,nivel_laboral_0,nivel_laboral_1,nivel_laboral_2,nivel_laboral_3,...,tipo_de_trabajo_5,tipo_de_trabajo_6,tipo_de_trabajo_7,tipo_de_trabajo_8,tipo_de_trabajo_9,edadEncoded_0.0,edadEncoded_1.0,edadEncoded_2.0,edadEncoded_3.0,edadEncoded_4.0
0,1112348533,8MPPMwL,1,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,1112237849,0zPoNJ9,1,0,0,1,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2,1112345900,0zPOblM,1,0,1,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0
3,1111903673,4rdwvle,1,0,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
4,1112326299,8MPw0mO,1,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [16]:
total.to_csv('entrenamiento6Mohe.csv')