In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

In [2]:
#Funcion que limpia los datos, quedandose con el nivel de educacion mas alto de casa id de los postulantes.
def education_cleaning(df):
    education_dic= {'Secundario': 1, 'Universitario':3,'Terciario/TÃ©cnico':2, 'Otro':0, 'Posgrado':4, 'Master': 5, 'Doctorado': 6}
    df['nombre_sort'] = df['nombre'].map(education_dic)
    df = df.sort_values(by='nombre_sort', ascending=False)
    df = df.drop_duplicates(subset='idpostulante',keep='first')
    return df

In [3]:
#Leyendo los datos
#Estos primeros datos son los del tp1
data_postulant_education1= pd.read_csv('../Data/datos_navent_fiuba/fiuba_1_postulantes_educacion.csv')
data_postulant_education1 =education_cleaning(data_postulant_education1)
data_postulant_education1.head()

       idpostulante     nombre    estado  nombre_sort
236080      4rP6q15  Doctorado  En Curso            6
89465       akbv6zm  Doctorado  Graduado            6
4208         EVe2kz  Doctorado  En Curso            6
93288       xkPqMKa  Doctorado  Graduado            6
288627      bOj3Mjd  Doctorado  Graduado            6

In [4]:
data_postulant_sex_age1= pd.read_csv('../Data/datos_navent_fiuba/fiuba_2_postulantes_genero_y_edad.csv')
data_postulant_sex_age1.head()

  idpostulante fechanacimiento  sexo
0         NM5M      1970-12-03   FEM
1         5awk      1962-12-04   FEM
2         ZaO5      1978-08-10   FEM
3         NdJl      1969-05-09  MASC
4         eo2p      1981-02-16  MASC

In [5]:
views1= pd.read_csv('../Data/datos_navent_fiuba/fiuba_3_vistas.csv')

In [6]:
data_postulation1= pd.read_csv('../Data/datos_navent_fiuba/fiuba_4_postulaciones.csv')
data_postulation1.head()

      idaviso idpostulante     fechapostulacion
0  1112257047         NM5M  2018-01-15 16:22:34
1  1111920714         NM5M  2018-02-06 09:04:50
2  1112346945         NM5M  2018-02-22 09:04:47
3  1112345547         NM5M  2018-02-22 09:04:59
4  1112237522         5awk  2018-01-25 18:55:03

In [7]:
data_ads_details1= pd.read_csv('../Data/datos_navent_fiuba/fiuba_6_avisos_detalle.csv')
data_ads_details1.sample(5)

,idaviso,idpais,titulo,descripcion,nombre_zona,ciudad,mapacalle,tipo_de_trabajo,nivel_laboral,nombre_area,denominacion_empresa
1950,1112343392,1,SOCIO/A CONDUCTOR/A PARA IMPORTANTE MULTINACIO...,CÃMO FUNCIONA:Â ManejÃ¡ por donde querÃ©s utiliza...,Gran Buenos Aires,NaN,NaN,Full-time,Junior,Desarrollo de Negocios,UBERDOSTER ARG
2600,1112352768,1,Responsable de promotor/ra San Nicolas de los ...,"<p style=""""><strong><span style="""">Adecco Offi...",Gran Buenos Aires,NaN,NaN,Full-time,Senior / Semi-Senior,Marketing,Adecco -RegiÃ³n Litoral
433,1112211791,1,Operario de Almacen con exp en Picking - zona ...,<p>Importante empresa incorpora Operario de Al...,Gran Buenos Aires,NaN,NaN,Full-time,Senior / Semi-Senior,ProducciÃ³n,Complement Group (holding)
11576,1112206355,1,Administrador de plataforma Windows,"<p style=""""><span lang=""ES"" style="""">Stefanini...",Gran Buenos Aires,NaN,NaN,Full-time,Senior / Semi-Senior,Infraestructura,Stefanini Argentina SRL
5950,1112237483,1,Developer .NET,"<p>Â </p><p align=""left"" style="""">Â </p><p align...",Gran Buenos Aires,NaN,NaN,Full-time,Senior / Semi-Senior,Tecnologia / Sistemas,Origin Software

In [8]:
data_ads_details1.count()

idaviso                 13534
idpais                  13534
titulo                  13534
descripcion             13534
nombre_zona             13534
ciudad                     47
mapacalle                 872
tipo_de_trabajo         13534
nivel_laboral           13534
nombre_area             13534
denominacion_empresa    13529
dtype: int64

In [9]:
#Datos hasta el 15 de abril
data_postulant_education2= pd.read_csv('../Data/Hasta15Abril/fiuba_1_postulantes_educacion.csv')
data_postulant_education2 =education_cleaning(data_postulant_education2)
data_postulant_education2.head()

       idpostulante     nombre    estado  nombre_sort
217119      akbv6zm  Doctorado  Graduado            6
390062      lDLA18M  Doctorado  En Curso            6
372347      3NP3LNP  Doctorado  Graduado            6
323715      5mrlM6G  Doctorado  En Curso            6
397012       5RG43q  Doctorado  En Curso            6

In [10]:
data_postulant_sex_age2= pd.read_csv('../Data/Hasta15Abril/fiuba_2_postulantes_genero_y_edad.csv')

In [11]:
views2 = views2 = pd.read_csv('../Data/Hasta15Abril/fiuba_3_vistas.csv')

In [12]:
data_postulation2= pd.read_csv('../Data/Hasta15Abril/fiuba_4_postulaciones.csv')
data_postulation2.head()

      idaviso idpostulante     fechapostulacion
0  1112248724         NjlD  2018-01-19 07:39:16
1  1112286523         ZaO5  2018-01-24 15:07:39
2  1112272060         ZaO5  2018-01-24 15:20:10
3  1112288401         ZaO5  2018-01-26 08:37:04
4  1112300563         ZaO5  2018-01-30 13:35:48

In [13]:
data_ads_details2= pd.read_csv('../Data/Hasta15Abril/fiuba_6_avisos_detalle.csv')
data_ads_details2.head()

,idaviso,idpais,titulo,descripcion,nombre_zona,ciudad,mapacalle,tipo_de_trabajo,nivel_laboral,nombre_area,denominacion_empresa
0,1111556097,1,Responsable de Marketing-Producto Div. Constru...,<p>Buscamos un <strong>ResponsableÂ de Producto...,Gran Buenos Aires,NaN,NaN,Full-time,Senior / Semi-Senior,Desarrollo de Negocios,Sinteplast S.A.
1,1111949392,1,Asesor de Servicios - Postventa Chevrolet,"<p><span style="""">Para nuestro cliente, conces...",Gran Buenos Aires,NaN,NaN,Full-time,Senior / Semi-Senior,IngenierÃ­a ElÃ©ctrica y ElectrÃ³nica,Roycan
2,1112145935,1,Analistas de Impuestos Sr Ssr y Jr,<p>ImportanteÂ Estudio de Auditoria y Consultor...,Gran Buenos Aires,NaN,NaN,Full-time,Senior / Semi-Senior,Impuestos,Lighthouse Smart
3,1112146010,1,Software Engineer,<p>Â </p><p>Chevron is a multinational company ...,Gran Buenos Aires,NaN,NaN,Full-time,Senior / Semi-Senior,ProgramaciÃ³n,Chevron Buenos Aires Shared Services Center
4,1112211475,1,Business Developer Manager,"<p>Importante empresa de energÃ­as renovables, ...",Gran Buenos Aires,NaN,NaN,Full-time,Senior / Semi-Senior,Comercial,RANDSTAD

In [14]:
#Concateno los dos periodos de postulaciones
frames_postulation = [data_postulation1,data_postulation2]
data_postulation = pd.concat(frames_postulation, ignore_index = True)
data_postulation.drop_duplicates(inplace = True, keep = 'first')
data_postulation.reset_index(drop=True, inplace = True)

In [15]:
data_postulation.count()

idaviso             6604534
idpostulante        6604534
fechapostulacion    6604534
dtype: int64

In [ ]:
data_postulation['postulantes'] = 1
data_postulation_ads = data_postulation.groupby('idaviso',as_index = False)['postulantes'].sum()

data_postulation['cantPostulaciones'] = 1
data_postulation_user = data_postulation.groupby('idpostulante',as_index = False)['cantPostulaciones'].sum()

In [ ]:
data_postulation.drop(columns = ['postulantes','cantPostulaciones'], inplace = True)

In [ ]:
data_postulation = data_postulation.merge(data_postulation_ads,on = 'idaviso')
data_postulation = data_postulation.merge(data_postulation_user,on = 'idpostulante')

In [16]:
#Concateno los avisos de ambos periodos y lo paso a un csv
columns = ['ciudad','mapacalle','denominacion_empresa']
data_ads_details1 = data_ads_details1.drop(columns,axis = 1)
data_ads_details2 = data_ads_details2.drop(columns,axis = 1)
frames_details = [data_ads_details1,data_ads_details2]
data_ads_details = pd.concat(frames_details, ignore_index = True)
data_ads_details.drop_duplicates(inplace = True, keep = 'first')
data_ads_details.reset_index(drop=True, inplace = True)
data_ads_details.to_csv("avisos.csv", index=False)

In [17]:
#Concateno los dos de educacion
frames_education = [data_postulant_education1,data_postulant_education2]
data_postulant_education = pd.concat(frames_education, ignore_index = True)
data_postulant_education.drop_duplicates(inplace = True, keep = 'first',subset = 'idpostulante')
data_postulant_education.reset_index(drop=True, inplace = True)

In [18]:
#Concateno los dos de sex_age
frames_sexAge = [data_postulant_sex_age1,data_postulant_sex_age2]
data_postulant_sex_age = pd.concat(frames_sexAge,ignore_index = True)
data_postulant_sex_age.drop_duplicates(inplace = True, keep = 'first', subset = 'idpostulante')
data_postulant_sex_age.reset_index(drop=True, inplace = True)

In [19]:
#Concateno los dos de visitas
frames_views = [views1,views2]
views = pd.concat(frames_views, ignore_index = True)
#data_postulant_education.drop_duplicates(inplace = True, keep = 'first',subset = 'idpostulante')
views.reset_index(drop=True, inplace = True)

In [20]:
views['idaviso'] = views['idAviso']
views.drop(columns = ['timestamp','idAviso'],inplace = True)
views['cantVistas'] = 1
views = views.groupby(['idaviso','idpostulante'],as_index = False)['cantVistas'].sum()
views.to_csv('vistas.csv', index = False) #Sirve para las NO POSTULACIONES

In [21]:
#Mergeo los data frames sobre la informacion de edad y sexo y educacion del postulante del postulante con 
# Y lo paso a un csv
merge_postulants_info = data_postulant_education.merge(data_postulant_sex_age,how = 'right',on = 'idpostulante')
merge_postulants_info.to_csv("postulantes.csv", index=False)

In [22]:

merge_postulants_info.count()

idpostulante       408146
nombre             366395
estado             366395
nombre_sort        366395
fechanacimiento    388502
sexo               408146
dtype: int64

In [23]:
#Me quedo con los usuarios que se postularon, junto con su educacion y su sexo y edad.
postulants_with_sex = pd.merge(data_postulation,data_postulant_sex_age, how = 'left', on = 'idpostulante')
postulants_sex_education = pd.merge(postulants_with_sex,data_postulant_education, how = 'left', on = 'idpostulante')

In [24]:
postulants_sex_education.count()

idaviso             6604534
idpostulante        6604534
fechapostulacion    6604534
fechanacimiento     6500023
sexo                6604534
nombre              6393944
estado              6393944
nombre_sort         6393944
dtype: int64

In [25]:
# Mergeo los datos de los postulantes con los avisos y con la cantidad de vistas
merge_postulants_ads = merge_postulants_info.merge(data_postulation,on = 'idpostulante')
merge_postulants_ads = merge_postulants_ads.merge(data_ads_details,on = 'idaviso')
merge = views.merge(merge_postulants_ads , how = 'right', on = ['idpostulante','idaviso'])

In [26]:
#Para postulaste tiene que ver el anuncio al menos 1 vez
merge['cantVistas']=merge['cantVistas'].fillna(1)

In [27]:
merge.head()

,idaviso,idpostulante,cantVistas,nombre,estado,nombre_sort,fechanacimiento,sexo,fechapostulacion,idpais,titulo,descripcion,nombre_zona,tipo_de_trabajo,nivel_laboral,nombre_area
0,12543760,0zdx4v9,1.0,Universitario,En Curso,3.0,1996-01-12,FEM,2018-02-28 12:32:33,1,DiseÃ±ador GrÃ¡fico,"<p>Buscamos un perfil dinÃ¡mico, proactivo y co...",Gran Buenos Aires,Full-time,Senior / Semi-Senior,DiseÃ±o GrÃ¡fico
1,12543760,0zkGRQr,1.0,Universitario,Graduado,3.0,1993-12-29,FEM,2018-02-26 20:56:51,1,DiseÃ±ador GrÃ¡fico,"<p>Buscamos un perfil dinÃ¡mico, proactivo y co...",Gran Buenos Aires,Full-time,Senior / Semi-Senior,DiseÃ±o GrÃ¡fico
2,12543760,1Q4KX9b,2.0,Universitario,En Curso,3.0,1989-04-03,FEM,2018-01-22 08:11:15,1,DiseÃ±ador GrÃ¡fico,"<p>Buscamos un perfil dinÃ¡mico, proactivo y co...",Gran Buenos Aires,Full-time,Senior / Semi-Senior,DiseÃ±o GrÃ¡fico
3,12543760,1Q4bBML,1.0,Secundario,Graduado,1.0,1997-05-17,FEM,2018-02-27 17:41:32,1,DiseÃ±ador GrÃ¡fico,"<p>Buscamos un perfil dinÃ¡mico, proactivo y co...",Gran Buenos Aires,Full-time,Senior / Semi-Senior,DiseÃ±o GrÃ¡fico
4,12543760,1QPMqMb,1.0,Universitario,En Curso,3.0,1997-02-06,FEM,2018-02-27 16:32:07,1,DiseÃ±ador GrÃ¡fico,"<p>Buscamos un perfil dinÃ¡mico, proactivo y co...",Gran Buenos Aires,Full-time,Senior / Semi-Senior,DiseÃ±o GrÃ¡fico

In [28]:
amount = merge.sample(3000000)
amount.to_csv("postulantes3M.csv", index=False)