In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

In [4]:
#Funcion que limpia los datos, quedandose con el nivel de educacion mas alto de casa id de los postulantes.
def education_cleaning(df):
    education_dic= {'Secundario': 1, 'Universitario':3,'Terciario/TÃ©cnico':2, 'Otro':0, 'Posgrado':4, 'Master': 5, 'Doctorado': 6}
    df['nombre_sort'] = df['nombre'].map(education_dic)
    df = df.sort_values(by='nombre_sort', ascending=False)
    df = df.drop_duplicates(subset='idpostulante',keep='first')
    return df

In [6]:
#Leyendo los datos
#Estos primeros datos son los del tp1
data_postulant_education1= pd.read_csv('../Data/datos_navent_fiuba/fiuba_1_postulantes_educacion.csv')
data_postulant_education1 =education_cleaning(data_postulant_education1)
data_postulant_education1.head()

       idpostulante     nombre    estado  nombre_sort
236080      4rP6q15  Doctorado  En Curso            6
89465       akbv6zm  Doctorado  Graduado            6
4208         EVe2kz  Doctorado  En Curso            6
93288       xkPqMKa  Doctorado  Graduado            6
288627      bOj3Mjd  Doctorado  Graduado            6

In [7]:
data_postulant_sex_age1= pd.read_csv('../Data/datos_navent_fiuba/fiuba_2_postulantes_genero_y_edad.csv')
data_postulant_sex_age1.head()

  idpostulante fechanacimiento  sexo
0         NM5M      1970-12-03   FEM
1         5awk      1962-12-04   FEM
2         ZaO5      1978-08-10   FEM
3         NdJl      1969-05-09  MASC
4         eo2p      1981-02-16  MASC

In [8]:
data_postulation1= pd.read_csv('../Data/datos_navent_fiuba/fiuba_4_postulaciones.csv')
data_postulation1.head()

      idaviso idpostulante     fechapostulacion
0  1112257047         NM5M  2018-01-15 16:22:34
1  1111920714         NM5M  2018-02-06 09:04:50
2  1112346945         NM5M  2018-02-22 09:04:47
3  1112345547         NM5M  2018-02-22 09:04:59
4  1112237522         5awk  2018-01-25 18:55:03

In [21]:
data_ads_details1= pd.read_csv('../Data/datos_navent_fiuba/fiuba_6_avisos_detalle.csv')
data_ads_details1.sample(5)

,idaviso,idpais,titulo,descripcion,nombre_zona,ciudad,mapacalle,tipo_de_trabajo,nivel_laboral,nombre_area,denominacion_empresa
2266,1112348501,1,Agente de Viajes - Contact Center,<p>En Garbarino Viajes nos encontramos en la b...,Gran Buenos Aires,NaN,NaN,Full-time,Senior / Semi-Senior,Ventas,GARBARINO VIAJES S.A.
10942,1111415036,1,Empleados de JardinerÃ­a - PRESENTARSE MARTES 2...,<p>Importante EmpresaÂ vinculada con la constru...,Gran Buenos Aires,NaN,NaN,Full-time,Junior,Comercial,Suministra
198,1111895422,1,Secretaria Administrativa/Ejecutiva RE/MAX Med...,<p>Para <strong>PLAN PPPÂ 2017</strong> CÃ³rdoba...,Gran Buenos Aires,NaN,NaN,Full-time,Senior / Semi-Senior,Secretaria,Mediterranea IV SRL
4132,1112293815,1,OFICIAL COMERCIO EXTERIOR Ssr.,"<p style="""">Orientamos nuestra bÃºsqueda a estu...",Gran Buenos Aires,NaN,NaN,Full-time,Senior / Semi-Senior,Ventas Internacionales/ExportaciÃ³n,BBVA FrancÃ©s
1318,1112279501,1,Analista Jr de Back Office (Eventual),<p><em>En <u>CMR</u>Â nos apasionamos por nuest...,Gran Buenos Aires,NaN,NaN,Full-time,Junior,AtenciÃ³n al Cliente,FALABELLA S.A.

In [10]:
data_ads_details1.count()

idaviso                 13534
idpais                  13534
titulo                  13534
descripcion             13534
nombre_zona             13534
ciudad                     47
mapacalle                 872
tipo_de_trabajo         13534
nivel_laboral           13534
nombre_area             13534
denominacion_empresa    13529
dtype: int64

In [10]:
#Datos hasta el 15 de abril
data_postulant_education2= pd.read_csv('../Data/Hasta15Abril/fiuba_1_postulantes_educacion.csv')
data_postulant_education2 =education_cleaning(data_postulant_education2)
data_postulant_education2.head()

       idpostulante     nombre    estado  nombre_sort
217119      akbv6zm  Doctorado  Graduado            6
390062      lDLA18M  Doctorado  En Curso            6
372347      3NP3LNP  Doctorado  Graduado            6
323715      5mrlM6G  Doctorado  En Curso            6
397012       5RG43q  Doctorado  En Curso            6

In [11]:
data_postulant_sex_age2= pd.read_csv('../Data/Hasta15Abril/fiuba_2_postulantes_genero_y_edad.csv')

In [12]:
data_postulation2= pd.read_csv('../Data/Hasta15Abril/fiuba_4_postulaciones.csv')
data_postulation2.head()

      idaviso idpostulante     fechapostulacion
0  1112248724         NjlD  2018-01-19 07:39:16
1  1112286523         ZaO5  2018-01-24 15:07:39
2  1112272060         ZaO5  2018-01-24 15:20:10
3  1112288401         ZaO5  2018-01-26 08:37:04
4  1112300563         ZaO5  2018-01-30 13:35:48

In [22]:
data_ads_details2= pd.read_csv('../Data/Hasta15Abril/fiuba_6_avisos_detalle.csv')
data_ads_details2.head()

,idaviso,idpais,titulo,descripcion,nombre_zona,ciudad,mapacalle,tipo_de_trabajo,nivel_laboral,nombre_area,denominacion_empresa
0,1111556097,1,Responsable de Marketing-Producto Div. Constru...,<p>Buscamos un <strong>ResponsableÂ de Producto...,Gran Buenos Aires,NaN,NaN,Full-time,Senior / Semi-Senior,Desarrollo de Negocios,Sinteplast S.A.
1,1111949392,1,Asesor de Servicios - Postventa Chevrolet,"<p><span style="""">Para nuestro cliente, conces...",Gran Buenos Aires,NaN,NaN,Full-time,Senior / Semi-Senior,IngenierÃ­a ElÃ©ctrica y ElectrÃ³nica,Roycan
2,1112145935,1,Analistas de Impuestos Sr Ssr y Jr,<p>ImportanteÂ Estudio de Auditoria y Consultor...,Gran Buenos Aires,NaN,NaN,Full-time,Senior / Semi-Senior,Impuestos,Lighthouse Smart
3,1112146010,1,Software Engineer,<p>Â </p><p>Chevron is a multinational company ...,Gran Buenos Aires,NaN,NaN,Full-time,Senior / Semi-Senior,ProgramaciÃ³n,Chevron Buenos Aires Shared Services Center
4,1112211475,1,Business Developer Manager,"<p>Importante empresa de energÃ­as renovables, ...",Gran Buenos Aires,NaN,NaN,Full-time,Senior / Semi-Senior,Comercial,RANDSTAD

In [14]:
#Concateno los dos periodos de postulaciones
frames_postulation = [data_postulation1,data_postulation2]
data_postulation = pd.concat(frames_postulation, ignore_index = True)
data_postulation.drop_duplicates(inplace = True, keep = 'first')
data_postulation.reset_index(drop=True, inplace = True)

In [25]:
data_postulation.count()

idaviso             6604534
idpostulante        6604534
fechapostulacion    6604534
dtype: int64

In [24]:
#Concateno los avisos de ambos periodos y lo paso a un csv
columns = ['descripcion','ciudad','mapacalle','denominacion_empresa']
data_ads_details1 = data_ads_details1.drop(columns,axis = 1)
data_ads_details2 = data_ads_details2.drop(columns,axis = 1)
frames_details = [data_ads_details1,data_ads_details2]
data_ads_details = pd.concat(frames_details, ignore_index = True)
data_ads_details.drop_duplicates(inplace = True, keep = 'first')
data_ads_details.reset_index(drop=True, inplace = True)
data_ads_details.to_csv("avisos.csv", index=False)

In [25]:
#Concateno los dos de educacion
frames_education = [data_postulant_education1,data_postulant_education2]
data_postulant_education = pd.concat(frames_education, ignore_index = True)
data_postulant_education.drop_duplicates(inplace = True, keep = 'first',subset = 'idpostulante')
data_postulant_education.reset_index(drop=True, inplace = True)

In [26]:
#Concateno los dos de sex_age
frames_sexAge = [data_postulant_sex_age1,data_postulant_sex_age2]
data_postulant_sex_age = pd.concat(frames_sexAge,ignore_index = True)
data_postulant_sex_age.drop_duplicates(inplace = True, keep = 'first', subset = 'idpostulante')
data_postulant_sex_age.reset_index(drop=True, inplace = True)

In [28]:
#Mergeo los data frames sobre la informacion de edad y sexo y educacion del postulante del postulante con 
# Y lo paso a un csv
merge_postulants_info = data_postulant_education.merge(data_postulant_sex_age,how = 'right',on = 'idpostulante')
merge_postulants_info.to_csv("postulantes.csv", index=False)

In [29]:

merge_postulants_info.count()

idpostulante       408146
nombre             366395
estado             366395
nombre_sort        366395
fechanacimiento    388502
sexo               408146
dtype: int64

In [32]:
#Me quedo con los usuarios que se postularon, junto con su educacion y su sexo y edad.
postulants_with_sex = pd.merge(data_postulation,data_postulant_sex_age, how = 'left', on = 'idpostulante')
postulants_sex_education = pd.merge(postulants_with_sex,data_postulant_education, how = 'left', on = 'idpostulante')

In [33]:
postulants_sex_education.to_csv("postulantes3.csv", index=False)

In [35]:
postulants_sex_education.count()

idaviso             6604534
idpostulante        6604534
fechapostulacion    6604534
fechanacimiento     6500023
sexo                6604534
nombre              6393944
estado              6393944
nombre_sort         6393944
dtype: int64

In [30]:
# Mergeo los datos de los postulantes con los avisos y lo paso a un csv
merge_postulants_ads = merge_postulants_info.merge(data_postulation,on = 'idpostulante')
merge_postulants_ads = merge_postulants_ads.merge(data_ads_details,on = 'idaviso')
merge_postulants_ads.to_csv("avisos_postulantes.csv", index=False)

In [31]:
merge_postulants_ads.count()

idpostulante        6121152
nombre              5928456
estado              5928456
nombre_sort         5928456
fechanacimiento     6024533
sexo                6121152
idaviso             6121152
fechapostulacion    6121152
idpais              6121152
titulo              6121152
nombre_zona         6121152
tipo_de_trabajo     6121152
nivel_laboral       6121152
nombre_area         6121152
dtype: int64