In [1]:
import numpy as np
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
data_ads_details = pd.read_csv('avisos.csv')

In [3]:
data_ads_details.drop(columns=['idpais'],inplace = True)

In [4]:
data_ads_details.head()

,idaviso,titulo,descripcion,nombre_zona,tipo_de_trabajo,nivel_laboral,nombre_area
0,8725750,VENDEDOR/A PROVINCIA DE SANTA FE,<p><strong><strong>Empresa:</strong></strong> ...,Gran Buenos Aires,Full-time,Senior / Semi-Senior,Comercial
1,17903700,Enfermeras,<p>Solicitamos para importante cadena de farma...,Gran Buenos Aires,Full-time,Senior / Semi-Senior,Salud
2,1000150677,Chofer de taxi,<p>TE GUSTA MANEJAR? QUERES GANAR PLATA HACIEN...,Capital Federal,Full-time,Senior / Semi-Senior,Transporte
3,1000610287,CHOFER DE CAMIONETA BAHIA BLANCA - PUNTA ALTA,<p><strong>Somos una empresa multinacional que...,Gran Buenos Aires,Full-time,Senior / Semi-Senior,Transporte
4,1000872556,Operarios de Planta - Rubro Electrodomésticos,<p><strong>OPERARIOS DE PLANTA</strong></p><p>...,Gran Buenos Aires,Full-time,Senior / Semi-Senior,Producción

In [5]:
postulants = pd.read_csv('postulantes.csv')

/home/agustin/.local/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (1,2) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:
#el Nombre ya esta codificado con nombre_sort
postulants.drop(columns=['nombre'],inplace = True)

In [7]:
postulants.head()

  idpostulante    estado  nombre_sort fechanacimiento        sexo
0      4rP6q15  En Curso          6.0             NaN  NO_DECLARA
1      akbv6zm  Graduado          6.0      1994-06-11         FEM
2       EVe2kz  En Curso          6.0      1974-06-28         FEM
3      xkPqMKa  Graduado          6.0      1969-02-03        MASC
4      bOj3Mjd  Graduado          6.0      1985-10-18        MASC

In [8]:
postulants.count()

idpostulante       408146
estado             366395
nombre_sort        366395
fechanacimiento    388502
sexo               408146
dtype: int64

In [9]:
data_ads_details.count()

idaviso            19634
titulo             19634
descripcion        19634
nombre_zona        19634
tipo_de_trabajo    19634
nivel_laboral      19634
nombre_area        19634
dtype: int64

In [10]:
#Ahora me genero un dataframe con la misma cantidad de (idpotulante-idaviso) pero esta vez de NO postulaciones
import random

def get_random_ids(df_postulants,df_ads):
    dic = {'idpostulante':[], 'idaviso':[]}
    for i in range (0,2000000):#6268564 numero que deberia ser, lo cambio a uno mas chico para poder trabajar
        numero = random.randrange(0,371380)
        idpostulante = df_postulants['idpostulante'][numero]
        dic['idpostulante'].append(idpostulante)
        numero2 = random.randrange(0,19634)
        idaviso = df_ads['idaviso'][numero2]
        dic['idaviso'].append(idaviso)
    dataframe = pd.DataFrame(data=dic)
    return dataframe

In [11]:
random_postulant_ad = get_random_ids(postulants,data_ads_details)

In [12]:
random_postulant_ad.head()

      idaviso idpostulante
0  1112226102      A3XzmmD
1  1112402950       YZNjWr
2  1112399439      vVej0le
3  1112245349      5mdLepN
4  1111980095      JBmZRMO

In [13]:
random_postulant_ad = random_postulant_ad.sample(2000000)

In [14]:
#Mergeo los data frames sobre la informacion de edad y sexo y educacion del postulante del postulante con 
#la informacion del aviso en que se postulo tambien.
random_postulant_ad = random_postulant_ad.merge(postulants,on = 'idpostulante')
random_postulant_ad = random_postulant_ad.merge(data_ads_details,on = 'idaviso')

In [15]:
random_postulant_ad['se_postulo'] = 0

In [16]:
random_postulant_ad.head()

,idaviso,idpostulante,estado,nombre_sort,fechanacimiento,sexo,titulo,descripcion,nombre_zona,tipo_de_trabajo,nivel_laboral,nombre_area,se_postulo
0,1112427544,8MLO1DO,Graduado,3.0,1992-12-08,FEM,Auditor de Campo - Capital Federal (Encuestas ...,"<p>Nielsen, empresa multinacional busca:</p><p...",Gran Buenos Aires,Full-time,Junior,Producto,0
1,1112427544,PmLx3ZZ,En Curso,3.0,1988-12-20,MASC,Auditor de Campo - Capital Federal (Encuestas ...,"<p>Nielsen, empresa multinacional busca:</p><p...",Gran Buenos Aires,Full-time,Junior,Producto,0
2,1112427544,ekOJrk9,Graduado,1.0,1995-07-02,FEM,Auditor de Campo - Capital Federal (Encuestas ...,"<p>Nielsen, empresa multinacional busca:</p><p...",Gran Buenos Aires,Full-time,Junior,Producto,0
3,1112427544,wVjOpVV,NaN,NaN,1992-11-08,FEM,Auditor de Campo - Capital Federal (Encuestas ...,"<p>Nielsen, empresa multinacional busca:</p><p...",Gran Buenos Aires,Full-time,Junior,Producto,0
4,1112427544,N9q1x4,En Curso,3.0,1989-11-06,FEM,Auditor de Campo - Capital Federal (Encuestas ...,"<p>Nielsen, empresa multinacional busca:</p><p...",Gran Buenos Aires,Full-time,Junior,Producto,0

In [17]:
random_postulant_ad.to_csv("no_postulantes2M.csv",index = False)