In [77]:
import numpy as np
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.naive_bayes import GaussianNB

In [181]:
total_train = pd.read_csv('../MapDataAnalysis/MappedData4M.csv')

In [182]:
total_train.head()

,Unnamed: 0,descripcion,idaviso,idpostulante,nombre_area,nombre_sort,se_postulo,titulo,estadoEncoded,tipoDeTrabajoEncoded,nivelLaboralEncoded,sexoEncoded,edadEncoded,zonaEncoded
0,0,0,1111662226,EzpVOLz,Farmacéutica,3.0,1,Cajeros/as- Atencion al cliente,0,0,2,1,3.0,0
1,1,0,1111413600,kPjordV,Telemarketing,3.0,1,Operador telefónico / Retención y Fidelizació...,0,1,2,1,0.0,1
2,2,1,1112401116,pzNk9Rr,Soporte Técnico,1.0,1,Técnico en Reparación de Celulares,1,0,1,1,3.0,0
3,3,0,1112319004,vV3BMz1,Ventas,1.0,1,Asesores Comerciales NEUQUEN,1,0,1,1,4.0,1
4,4,0,1112094756,a4GRrN,Call Center,3.0,1,Representante de Atencion al Cliente/ Banco,2,1,0,1,3.0,0

In [183]:
total_train = total_train.drop(columns = ['idaviso','idpostulante','Unnamed: 0', 'titulo','estadoEncoded','sexoEncoded','zonaEncoded','nombre_area','nivelLaboralEncoded','descripcion'], axis=1)

In [184]:
total_train.head()

   nombre_sort  se_postulo  tipoDeTrabajoEncoded  edadEncoded
0          3.0           1                     0          3.0
1          3.0           1                     1          0.0
2          1.0           1                     0          3.0
3          1.0           1                     0          4.0
4          3.0           1                     1          3.0

In [159]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
for column in total_train.columns:
    if total_train[column].dtype == type(object):
        total_train[column] = le.fit_transform(total_train[column].astype(str))

total_train.sample(5)

         nombre_sort  se_postulo  tipoDeTrabajoEncoded  edadEncoded
2408290          1.0           0                     0          1.0
1849720          3.0           1                     1          1.0
3673705          2.0           0                     0          1.0
3663411          3.0           0                     0          1.0
2903528          3.0           0                     0          3.0

In [160]:
#Normalizamos los valores
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler() 
scaled_values = scaler.fit_transform(total_train) 
total_train.loc[:,:] = scaled_values

In [161]:
total_train.count()

nombre_sort             3981100
se_postulo              3981100
tipoDeTrabajoEncoded    3981100
edadEncoded             3981100
dtype: int64

In [162]:
total_train.head()

   nombre_sort  se_postulo  tipoDeTrabajoEncoded  edadEncoded
0     0.500000         1.0              0.000000         0.75
1     0.500000         1.0              0.090909         0.00
2     0.166667         1.0              0.000000         0.75
3     0.166667         1.0              0.000000         1.00
4     0.500000         1.0              0.090909         0.75

In [163]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(total_train.drop(['se_postulo'], axis=1).values, total_train['se_postulo'], test_size=0.20, random_state=75)

In [164]:
clf = GaussianNB()

In [165]:
clf.fit(X_train, y_train)

GaussianNB(priors=None)

In [166]:
clf.predict(X_test)

array([0., 0., 0., ..., 1., 0., 0.])

In [167]:
#Pruebo el score para ver si realiza overfitting
clf.score(X_test,y_test)

0.5380560649066841

In [168]:
test = pd.read_csv('../MapDataAnalysis/MappedTest.csv')

In [169]:
test.head()

,id,idaviso,idpostulante,nombre_sort,titulo,descripcion,nombre_area,estadoEncoded,tipoDeTrabajoEncoded,nivelLaboralEncoded,sexoEncoded,edadEncoded,zonaEncoded
0,0,739260,6M9ZQR,6.0,Asistente Comercial,1,Comercial,1,0,3,0,4.0,1.0
1,1,739260,6v1xdL,2.0,Asistente Comercial,1,Comercial,1,0,3,1,3.0,1.0
2,2,739260,ezRKm9,3.0,Asistente Comercial,1,Comercial,1,0,3,0,3.0,1.0
3,3,758580,1Q35ej,4.0,Oracle Financials Sr. Application Developer,0,Tecnologia / Sistemas,1,0,2,1,4.0,1.0
4,4,758580,EAN4J6,3.0,Oracle Financials Sr. Application Developer,0,Tecnologia / Sistemas,2,0,2,0,3.0,1.0

In [170]:
test = test.drop(['idaviso','idpostulante','titulo','estadoEncoded','sexoEncoded','zonaEncoded','nombre_area','nivelLaboralEncoded','descripcion'],axis=1)

In [171]:
le = preprocessing.LabelEncoder()
for column in test.columns:
    if test[column].dtype == type(object):
        test[column] = le.fit_transform(test[column].astype(str))

In [172]:
#Normalizamos los valores
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler() 
scaled_values = scaler.fit_transform(test.drop(columns = ['id'])) 
test.loc[:,1:] = scaled_values

In [173]:
test.head()

   id  nombre_sort  tipoDeTrabajoEncoded  edadEncoded
0   0     1.000000                   0.0         1.00
1   1     0.333333                   0.0         0.75
2   2     0.500000                   0.0         0.75
3   3     0.666667                   0.0         1.00
4   4     0.500000                   0.0         0.75

In [174]:
result = clf.predict_proba(test.drop(['id'],axis = 1))

In [175]:
    result2 = []
    for elem in result:
        result2.append(elem[1])

In [176]:
test['sepostulo'] = result2

In [177]:
test = test[['id','sepostulo']]

In [178]:
test.head()

   id  sepostulo
0   0   0.315750
1   1   0.478326
2   2   0.479142
3   3   0.402538
4   4   0.479142

In [179]:
#Verificamos como nos fue aproximadamente
test['sepostulo'].value_counts()

0.479142    18824
0.420391     9743
0.519351     7899
0.540312     6273
0.458341     5268
0.519504     4533
0.478326     4424
0.498475     3271
0.419595     2404
0.460778     2366
0.400181     2112
0.402538     2086
0.505421     1986
0.542304     1986
0.518535     1965
0.539500     1894
0.423616     1547
0.521349     1526
0.566299     1508
0.366878     1396
0.542148     1284
0.422347     1280
0.481144     1256
0.545525      994
0.545678      899
0.446208      883
0.484540      641
0.568113      577
0.504604      557
0.547510      536
            ...
0.452155        1
0.378856        1
0.277454        1
0.114466        1
0.330529        1
0.089121        1
0.206770        1
0.081292        1
0.392445        1
0.556239        1
0.275974        1
0.226891        1
0.193914        1
0.435655        1
0.415672        1
0.256350        1
0.113462        1
0.472767        1
0.500373        1
0.291911        1
0.337437        1
0.048063        1
0.502378        1
0.512420        1
0.070046        1
0.538784        1
0.160132        1
0.435419        1
0.037602        1
0.431404        1
Name: sepostulo, Length: 254, dtype: int64

In [180]:
test.to_csv('../Predictions/GaussianNB4MLessFeatures7.csv', index=False)