In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.ensemble import GradientBoostingClassifier

%matplotlib inline

In [2]:
postulations_encoded = pd.read_csv('../MapDataAnalysis/GradientBoosting/DataMappedGradientBoostingv1Norm.csv')

In [3]:
postulations_encoded.head()

,tipo_de_trabajo,nivel_laboral,nombre,edadPostulante,nombre_area,nombre_zona,sexo,se_postulo
0,0.111111,1.0,0.0,0.166667,0.135135,1.0,1.000000,1.0
1,0.111111,1.0,0.0,0.333333,0.135135,1.0,0.666667,1.0
2,0.111111,1.0,0.0,0.000000,0.135135,1.0,0.333333,1.0
3,0.111111,1.0,0.0,0.333333,0.135135,1.0,0.333333,1.0
4,0.111111,1.0,0.0,0.166667,0.135135,1.0,0.333333,1.0

In [4]:
X_train, X_test, y_train, y_test = train_test_split(postulations_encoded.iloc[:,:7], postulations_encoded.iloc[:,7], test_size=0.33)

In [5]:
clf = GradientBoostingClassifier(n_estimators=100, learning_rate=0.2,random_state=123).fit(X_train, y_train)

In [6]:
clf.score(X_train, y_train)

0.657175795473736

In [7]:
clf.predict(X_test)

array([1., 1., 1., ..., 0., 0., 0.])

In [8]:
clf.score(X_test,y_test)

0.6568170206044625

In [9]:
test = pd.read_csv('../MapDataAnalysis/GradientBoosting/TestMappedGradientBoostingv1Norm.csv')

In [10]:
test.head()

,id,tipo_de_trabajo,nivel_laboral,nombre,edadPostulante,nombre_area,nombre_zona,sexo
0,0,0.125,0.25,0.000000,0.500000,0.160221,0.066667,0.0
1,1,0.125,0.25,0.833333,0.333333,0.160221,0.066667,0.5
2,2,0.125,0.25,1.000000,0.333333,0.160221,0.066667,0.0
3,3,0.125,0.75,0.500000,0.833333,0.906077,0.066667,0.5
4,4,0.125,0.75,1.000000,0.333333,0.906077,0.066667,0.0

In [11]:
result = clf.predict(test.ix[:,1:])

/home/agustin/.local/lib/python3.5/site-packages/ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

In [12]:
test['sepostulo'] = result

In [13]:
test.head()

,id,tipo_de_trabajo,nivel_laboral,nombre,edadPostulante,nombre_area,nombre_zona,sexo,sepostulo
0,0,0.125,0.25,0.000000,0.500000,0.160221,0.066667,0.0,0.0
1,1,0.125,0.25,0.833333,0.333333,0.160221,0.066667,0.5,0.0
2,2,0.125,0.25,1.000000,0.333333,0.160221,0.066667,0.0,0.0
3,3,0.125,0.75,0.500000,0.833333,0.906077,0.066667,0.5,0.0
4,4,0.125,0.75,1.000000,0.333333,0.906077,0.066667,0.0,0.0

In [14]:
test = test[['id','sepostulo']]

In [15]:
test['sepostulo'].value_counts()

0.0    68840
1.0    31160
Name: sepostulo, dtype: int64

In [17]:
test.to_csv('../Predictions/GradientBoostingv1.3.csv', index=False)