In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

In [2]:
postulations_encoded = pd.read_csv('../MapDataAnalysis/DataMappedRandomForest1v2OneHotEncoding.csv')

In [3]:
postulations_encoded.head()

,Unnamed: 0,se_postulo,estadoEncoded_0,estadoEncoded_1,estadoEncoded_2,nivelEducativoEncoded_0,nivelEducativoEncoded_1,nivelEducativoEncoded_2,nivelEducativoEncoded_3,nivelEducativoEncoded_4,...,nivelLaboralEncoded_3,nivelLaboralEncoded_4,sexoEncoded_0,sexoEncoded_1,sexoEncoded_2,edadEncoded_0.0,edadEncoded_1.0,edadEncoded_2.0,edadEncoded_3.0,edadEncoded_4.0
0,0,1,1,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
1,1,1,0,1,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0
2,2,1,1,0,0,0,0,0,0,0,...,0,0,1,0,0,1,0,0,0,0
3,3,1,0,1,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
4,4,1,0,1,0,0,0,0,0,0,...,0,0,1,0,0,0,0,1,0,0

In [4]:
postulations_encoded= postulations_encoded.drop(['Unnamed: 0'],axis=1)

In [5]:
# Create a random forest Classifier. By convention, clf means 'Classifier'
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(n_jobs=-1,n_estimators=100)

In [24]:
clf.fit(np.array(postulations_encoded.ix[:,1:]), np.array(postulations_encoded.ix[:,:1]))

/home/agustin/.local/lib/python3.5/site-packages/ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.
/home/agustin/.local/lib/python3.5/site-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=-1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [25]:
clf.score(np.array(postulations_encoded.ix[:,1:]), np.array(postulations_encoded.ix[:,:1]))

0.5923279627131623

In [7]:
test = pd.read_csv('../MapDataAnalysis/TestaMappedRandomForest1v2OneHotEncoding.csv')

In [27]:
result = clf.predict(test.ix[:,1:])

/home/agustin/.local/lib/python3.5/site-packages/ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

ValueError: Number of features of the model must match the input. Model n_features is 33 and input n_features is 6

In [12]:
test['sepostulo'] = result

In [13]:
test.head()

,id,estadoEncoded,nivelEducativoEncoded,tipoDeTrabajoEncoded,nivelLaboralEncoded,sexoEncoded,edadEncoded,sepostulo
0,0,1,6,0,3,0,4.0,1
1,1,1,2,0,3,1,3.0,0
2,2,1,3,0,3,0,3.0,0
3,3,1,4,0,2,1,4.0,0
4,4,2,3,0,2,0,3.0,0

In [14]:
drop_elem = ['estadoEncoded','nivelEducativoEncoded','tipoDeTrabajoEncoded','nivelLaboralEncoded','sexoEncoded','edadEncoded']
test = test.drop(drop_elem,axis=1)

In [15]:
test.head()

   id  sepostulo
0   0          1
1   1          0
2   2          0
3   3          0
4   4          0

In [17]:
FirstRandomForest = test.to_csv('../Predictions/RandromForestResult1v2.csv', index=False)

In [16]:
test['sepostulo'].value_counts()

0    63547
1    36453
Name: sepostulo, dtype: int64