# Random Forest

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

%matplotlib inline

In [9]:
columns = {'se_postulo':np.int8,
'estado_Abandonado':np.int8,
'estado_En Curso':np.int8,
'estado_Graduado':np.int8,
'nombre_Doctorado':np.int8,
'nombre_Master':np.int8,
'nombre_Otro':np.int8,
'nombre_Posgrado':np.int8,
'nombre_Secundario':np.int8,
'nombre_Terciario/Técnico':np.int8,
'nombre_Universitario':np.int8,
'tipo_de_trabajo_Fines de Semana':np.int8,
'tipo_de_trabajo_Full-time':np.int8,
'tipo_de_trabajo_Part-time':np.int8,
'tipo_de_trabajo_Pasantia':np.int8,
'tipo_de_trabajo_Por Contrato':np.int8,
'tipo_de_trabajo_Por Horas':np.int8,
'tipo_de_trabajo_Primer empleo':np.int8,
'tipo_de_trabajo_Teletrabajo':np.int8,
'tipo_de_trabajo_Temporario':np.int8,
'tipo_de_trabajo_Voluntario':np.int8,
'nivel_laboral_Gerencia / Alta Gerencia / Dirección':np.int8,
'nivel_laboral_Jefe / Supervisor / Responsable':np.int8,
'nivel_laboral_Junior':np.int8,
'nivel_laboral_Otro':np.int8,
'nivel_laboral_Senior / Semi-Senior':np.int8,
'sexo_0.0':np.int8,
'sexo_FEM':np.int8,
'sexo_MASC':np.int8,
'sexo_NO_DECLARA':np.int8,
'fechanacimiento_1775.0':np.int8,
'fechanacimiento_1902.0':np.int8,
'fechanacimiento_1917.0':np.int8,
'fechanacimiento_1921.0':np.int8,
'fechanacimiento_1939.0':np.int8,
'fechanacimiento_1940.0':np.int8,
'fechanacimiento_1941.0':np.int8,
'fechanacimiento_1942.0':np.int8,
'fechanacimiento_1943.0':np.int8,
'fechanacimiento_1944.0':np.int8,
'fechanacimiento_1945.0':np.int8,
'fechanacimiento_1946.0':np.int8,
'fechanacimiento_1947.0':np.int8,
'fechanacimiento_1948.0':np.int8,
'fechanacimiento_1949.0':np.int8,
'fechanacimiento_1950.0':np.int8,
'fechanacimiento_1951.0':np.int8,
'fechanacimiento_1952.0':np.int8,
'fechanacimiento_1953.0':np.int8,
'fechanacimiento_1954.0':np.int8,
'fechanacimiento_1955.0':np.int8,
'fechanacimiento_1956.0':np.int8,
'fechanacimiento_1957.0':np.int8,
'fechanacimiento_1958.0':np.int8,
'fechanacimiento_1959.0':np.int8,
'fechanacimiento_1960.0':np.int8,
'fechanacimiento_1961.0':np.int8,
'fechanacimiento_1962.0':np.int8,
'fechanacimiento_1963.0':np.int8,
'fechanacimiento_1964.0':np.int8,
'fechanacimiento_1965.0':np.int8,
'fechanacimiento_1966.0':np.int8,
'fechanacimiento_1967.0':np.int8,
'fechanacimiento_1968.0':np.int8,
'fechanacimiento_1969.0':np.int8,
'fechanacimiento_1970.0':np.int8,
'fechanacimiento_1971.0':np.int8,
'fechanacimiento_1972.0':np.int8,
'fechanacimiento_1973.0':np.int8,
'fechanacimiento_1974.0':np.int8,
'fechanacimiento_1975.0':np.int8,
'fechanacimiento_1976.0':np.int8,
'fechanacimiento_1977.0':np.int8,
'fechanacimiento_1978.0':np.int8,
'fechanacimiento_1979.0':np.int8,
'fechanacimiento_1980.0':np.int8,
'fechanacimiento_1981.0':np.int8,
'fechanacimiento_1982.0':np.int8,
'fechanacimiento_1983.0':np.int8,
'fechanacimiento_1984.0':np.int8,
'fechanacimiento_1985.0':np.int8,
'fechanacimiento_1986.0':np.int8,
'fechanacimiento_1987.0':np.int8,
'fechanacimiento_1988.0':np.int8,
'fechanacimiento_1989.0':np.int8,
'fechanacimiento_1990.0':np.int8,
'fechanacimiento_1991.0':np.int8,
'fechanacimiento_1992.0':np.int8,
'fechanacimiento_1993.0':np.int8,
'fechanacimiento_1994.0':np.int8,
'fechanacimiento_1995.0':np.int8,
'fechanacimiento_1996.0':np.int8,
'fechanacimiento_1997.0':np.int8,
'fechanacimiento_1998.0':np.int8,
'fechanacimiento_1999.0':np.int8,
'fechanacimiento_2000.0':np.int8,
'fechanacimiento_2005.0':np.int8,
'fechanacimiento_2006.0':np.int8,
'fechanacimiento_2007.0':np.int8,
'fechanacimiento_2008.0':np.int8,
'nombre_zona_Buenos Aires (fuera de GBA)':np.int8,
'nombre_zona_Capital Federal':np.int8,
'nombre_zona_GBA Oeste':np.int8,
'nombre_zona_Gran Buenos Aires':np.int8}
postulants = pd.read_csv('../MapDataAnalysis/DataMappedRandomForest2v2.csv',dtype=columns)

In [71]:
postulants.head()

,se_postulo,estado_Abandonado,estado_En Curso,estado_Graduado,nombre_Doctorado,nombre_Master,nombre_Otro,nombre_Posgrado,nombre_Secundario,nombre_Terciario/Técnico,...,fechanacimiento_1999.0,fechanacimiento_2000.0,fechanacimiento_2005.0,fechanacimiento_2006.0,fechanacimiento_2007.0,fechanacimiento_2008.0,nombre_zona_Buenos Aires (fuera de GBA),nombre_zona_Capital Federal,nombre_zona_GBA Oeste,nombre_zona_Gran Buenos Aires
0,1,0,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,1,0,0,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,1,0,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,1,0,0,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,1,0,0,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [3]:
postulants["fechanacimiento_1915.0"]=0
postulants["fechanacimiento_1916.0"]=0
postulants["fechanacimiento_1937.0"]=0
postulants["fechanacimiento_1938.0"]=0
postulants["fechanacimiento_2001.0"]=0
postulants["fechanacimiento_2002.0"]=0
postulants["fechanacimiento_2003.0"]=0
postulants["fechanacimiento_2004.0"]=0
postulants["nombre_zona_Catamarca"]=0
postulants["nombre_zona_Ciudad de Mendoza"]=0
postulants["nombre_zona_Cordoba"]=0
postulants["nombre_zona_Corrientes"]=0
postulants["nombre_zona_La Plata"]=0
postulants["nombre_zona_Mendoza"]=0
postulants["nombre_zona_Neuquen"]=0
postulants["nombre_zona_Rosario"]=0
postulants["nombre_zona_San Juan"]=0
postulants["nombre_zona_Santa Cruz"]=0
postulants["nombre_zona_Santa Fe"]=0
postulants["nombre_zona_Tucuman"]=0

In [10]:
X_train, X_test, y_train, y_test = train_test_split(postulants.iloc[:,1:], postulants.iloc[:,1], test_size=0.33)

In [66]:
# Create a random forest Classifier. By convention, clf means 'Classifier'

clf = RandomForestClassifier(n_jobs=-1,n_estimators=30)

In [67]:
clf.fit(X_train,y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=30, n_jobs=-1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [68]:
clf.predict(X_test)

array([1, 0, 0, ..., 0, 0, 0], dtype=int8)

In [69]:
#Pruebo el score para ver si realiza overfitting
clf.score(X_test,y_test)

1.0

In [65]:
test["nombre_zona_Tucuman"].value_counts()

0    99996
1        4
Name: nombre_zona_Tucuman, dtype: int64

In [64]:
test["nombre_zona_Santa Fe"].value_counts()

0    99996
1        4
Name: nombre_zona_Santa Fe, dtype: int64

In [63]:
test["nombre_zona_Santa Cruz"].value_counts()

0    99996
1        4
Name: nombre_zona_Santa Cruz, dtype: int64

In [62]:
test["nombre_zona_San Juan"].value_counts()

0    99996
1        4
Name: nombre_zona_San Juan, dtype: int64

In [61]:
test["nombre_zona_Rosario"].value_counts()

0    99993
1        7
Name: nombre_zona_Rosario, dtype: int64

In [60]:
test["nombre_zona_Neuquen"].value_counts()

0    99997
1        3
Name: nombre_zona_Neuquen, dtype: int64

In [59]:
test["nombre_zona_Mendoza"].value_counts()

0    99991
1        9
Name: nombre_zona_Mendoza, dtype: int64

In [58]:
test["nombre_zona_La Plata"].value_counts()

0    99987
1       13
Name: nombre_zona_La Plata, dtype: int64

In [57]:
test["nombre_zona_Corrientes"].value_counts()

0    99991
1        9
Name: nombre_zona_Corrientes, dtype: int64

In [56]:
test["nombre_zona_Cordoba"].value_counts()

0    99881
1      119
Name: nombre_zona_Cordoba, dtype: int64

In [55]:
test["nombre_zona_Ciudad de Mendoza"].value_counts()

0    99989
1       11
Name: nombre_zona_Ciudad de Mendoza, dtype: int64

In [42]:
#Ahora buscamos predecir los datos de la competencia
test = pd.read_csv('../MapDataAnalysis/TestMappedRandomForest2v2.csv')

In [54]:
test["nombre_zona_Catamarca"].value_counts()

0    99997
1        3
Name: nombre_zona_Catamarca, dtype: int64

In [43]:
test["fechanacimiento_1915.0"].value_counts()

0    99998
1        2
Name: fechanacimiento_1915.0, dtype: int64

In [44]:
test["fechanacimiento_1916.0"].value_counts()

0    99999
1        1
Name: fechanacimiento_1916.0, dtype: int64

In [48]:
test["fechanacimiento_1937.0"].value_counts()

0    99999
1        1
Name: fechanacimiento_1937.0, dtype: int64

In [49]:
test["fechanacimiento_1938.0"].value_counts()

0    99999
1        1
Name: fechanacimiento_1938.0, dtype: int64

In [50]:
test["fechanacimiento_2001.0"].value_counts()

0    99979
1       21
Name: fechanacimiento_2001.0, dtype: int64

In [51]:
test["fechanacimiento_2002.0"].value_counts()

0    99998
1        2
Name: fechanacimiento_2002.0, dtype: int64

In [52]:
test["fechanacimiento_2003.0"].value_counts()

0    99999
1        1
Name: fechanacimiento_2003.0, dtype: int64

In [53]:
test["fechanacimiento_2004.0"].value_counts()

0    99999
1        1
Name: fechanacimiento_2004.0, dtype: int64

In [32]:
test = test.drop(["fechanacimiento_1915.0","fechanacimiento_1916.0","fechanacimiento_1937.0","fechanacimiento_1938.0","nombre_zona_Catamarca","nombre_zona_Cordoba","nombre_zona_La Plata","nombre_zona_Mendoza","nombre_zona_Neuquen","nombre_zona_Rosario","nombre_zona_San Juan","nombre_zona_Santa Cruz","nombre_zona_Santa Fe"],axis=1)

In [70]:
test.head()

,id,idaviso,idpostulante,estado_Abandonado,estado_En Curso,estado_Graduado,nombre_Doctorado,nombre_Master,nombre_Otro,nombre_Posgrado,...,nombre_zona_GBA Oeste,nombre_zona_Gran Buenos Aires,nombre_zona_La Plata,nombre_zona_Mendoza,nombre_zona_Neuquen,nombre_zona_Rosario,nombre_zona_San Juan,nombre_zona_Santa Cruz,nombre_zona_Santa Fe,nombre_zona_Tucuman
0,0,739260,6M9ZQR,0,0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,739260,6v1xdL,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2,739260,ezRKm9,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3,758580,1Q35ej,0,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,4,758580,EAN4J6,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [33]:
test = test.drop(['idaviso','idpostulante'],axis=1)

In [34]:
result = clf.predict(test.iloc[:,1:])

In [18]:
test=test.drop(['nombre','estado','fechanacimiento','sexo','idpais','titulo','nombre_zona','tipo_de_trabajo','nivel_laboral','nombre_area'], axis=1)

In [35]:
test['sepostulo'] = result

In [36]:
test.head()

,id,estado_Abandonado,estado_En Curso,estado_Graduado,nombre_Doctorado,nombre_Master,nombre_Otro,nombre_Posgrado,nombre_Secundario,nombre_Terciario/Técnico,...,fechanacimiento_2007.0,fechanacimiento_2008.0,nombre_zona_Buenos Aires (fuera de GBA),nombre_zona_Capital Federal,nombre_zona_Ciudad de Mendoza,nombre_zona_Corrientes,nombre_zona_GBA Oeste,nombre_zona_Gran Buenos Aires,nombre_zona_Tucuman,sepostulo
0,0,0,0,1,1,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
1,1,0,0,1,0,0,0,0,0,1,...,0,0,0,1,0,0,0,0,0,0
2,2,0,0,1,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
3,3,0,0,1,0,0,0,1,0,0,...,0,0,0,1,0,0,0,0,0,0
4,4,1,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1

In [37]:
test['sepostulo'].value_counts()

0    88835
1    11165
Name: sepostulo, dtype: int64

In [40]:
test = test[['id','sepostulo']]

In [41]:
test.to_csv('../Predictions/RandomForest2v2.csv',index=False)

In [23]:
test.count()

id           100000
sepostulo    100000
dtype: int64