In [1]:
import numpy as np
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.naive_bayes import GaussianNB

In [2]:
total_train = pd.read_csv('../MapDataAnalysis/MappedData6MmoreFeatures.csv')

In [3]:
total_train.head()

,Unnamed: 0,cantPostulaciones,cantVistas,idaviso,idpostulante,nombre_area,nombre_sort,postulantes,se_postulo,titulo,edadPostulante,estadoEncoded,tipoDeTrabajoEncoded,nivelLaboralEncoded,sexoEncoded,zonaEncoded
0,0,3.0,1.0,1112336099,bOVRXkd,Recursos Humanos,1.0,570.0,1,Analista de Recursos Humanos - Corrientes,28.0,1,0,1,0,0
1,1,111.0,1.0,1112315601,8MPrk9x,Ventas,1.0,1659.0,1,Musimundo Jose C Paz incormpora Vendedores.,28.0,1,0,0,1,0
2,2,59.0,1.0,1112407637,ZDlWBER,Comercial,3.0,1876.0,1,Oficiales Fuerza de Venta - Para Importante Ba...,24.0,0,0,0,1,0
3,3,242.0,1.0,1112369130,96z3K3a,Ingeniería Oficina Técnica / Proyecto,3.0,126.0,1,Ingeniero de Diseño de Máquinas,25.0,1,0,0,1,0
4,4,17.0,1.0,1112414416,8MZ2dkW,Comercial,3.0,147.0,1,Coordinador Comercial para importante sanatorio,33.0,1,0,3,1,0

In [4]:
total_train = total_train.drop(columns = ['idaviso','idpostulante','Unnamed: 0', 'titulo','estadoEncoded','sexoEncoded','zonaEncoded','nombre_area','nivelLaboralEncoded','tipoDeTrabajoEncoded','nombre_sort'], axis=1)

In [5]:
total_train.head()

   cantPostulaciones  cantVistas  postulantes  se_postulo  edadPostulante
0                3.0         1.0        570.0           1            28.0
1              111.0         1.0       1659.0           1            28.0
2               59.0         1.0       1876.0           1            24.0
3              242.0         1.0        126.0           1            25.0
4               17.0         1.0        147.0           1            33.0

In [159]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
for column in total_train.columns:
    if total_train[column].dtype == type(object):
        total_train[column] = le.fit_transform(total_train[column].astype(str))

total_train.sample(5)

         nombre_sort  se_postulo  tipoDeTrabajoEncoded  edadEncoded
2408290          1.0           0                     0          1.0
1849720          3.0           1                     1          1.0
3673705          2.0           0                     0          1.0
3663411          3.0           0                     0          1.0
2903528          3.0           0                     0          3.0

In [6]:
#Normalizamos los valores
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler() 
scaled_values = scaler.fit_transform(total_train) 
total_train.loc[:,:] = scaled_values

In [7]:
total_train.count()

cantPostulaciones    5957566
cantVistas           5957566
postulantes          5957566
se_postulo           5957566
edadPostulante       5957566
dtype: int64

In [8]:
total_train.head()

   cantPostulaciones  cantVistas  postulantes  se_postulo  edadPostulante
0           0.000568    0.000154     0.023302         1.0        0.077253
1           0.031259    0.000154     0.067898         1.0        0.077253
2           0.016482    0.000154     0.076784         1.0        0.060086
3           0.068485    0.000154     0.005119         1.0        0.064378
4           0.004547    0.000154     0.005979         1.0        0.098712

In [9]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(total_train.drop(['se_postulo'], axis=1).values, total_train['se_postulo'], test_size=0.20, random_state=75)

In [10]:
clf = GaussianNB()

In [11]:
clf.fit(X_train, y_train)

GaussianNB(priors=None)

In [94]:
#Para guardar el modelo en un archivo
from sklearn.externals import joblib
joblib.dump(clf, 'GaussianNBFinal.pkl')

['GaussianNBFinal.pkl']

In [2]:
#Para cargar el modelo
from sklearn.externals import joblib
clf = joblib.load('GaussianNBFinal.pkl')

In [12]:
clf.predict(X_test)

array([1., 1., 0., ..., 1., 0., 0.])

In [13]:
#Pruebo el score para ver si realiza overfitting
clf.score(X_test,y_test)

0.9912858766241941

In [76]:
test = pd.read_csv('../MapDataAnalysis/MappedTestmoreFeatures.csv')

In [77]:
test.head()

,idaviso,idpostulante,id,nombre_sort,titulo,nombre_area,postulantes,cantPostulaciones,cantVistas,edadPostulante,estadoEncoded,tipoDeTrabajoEncoded,nivelLaboralEncoded,sexoEncoded,zonaEncoded
0,17903700,RzrDJlZ,595,3.0,Enfermeras,Medicina,5,13,2.0,35.0,1,0,0,1,0.0
1,17903700,Yj5q3xX,594,3.0,Enfermeras,Medicina,5,4,8.0,38.0,1,0,0,0,0.0
2,1000139175,LNKrDLr,609,3.0,Vendedores/as concesionaria Renault lider,Ventas,6,2,4.0,35.0,1,0,0,1,0.0
3,1000139175,exv4B8,610,1.0,Vendedores/as concesionaria Renault lider,Ventas,6,17,4.0,32.0,1,0,0,0,0.0
4,1000468151,jkMko3r,637,1.0,Vendedor Viajante Resistencia,Ventas,4,2,2.0,46.0,1,0,0,0,0.0

In [171]:
le = preprocessing.LabelEncoder()
for column in test.columns:
    if test[column].dtype == type(object):
        test[column] = le.fit_transform(test[column].astype(str))

In [78]:
test = test.drop(['titulo','estadoEncoded','sexoEncoded','zonaEncoded','nombre_area','nivelLaboralEncoded','tipoDeTrabajoEncoded','nombre_sort'],axis=1)

In [79]:
#Normalizamos los valores
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler() 
scaled_values = scaler.fit_transform(test.drop(columns = ['id','idaviso','idpostulante'])) 
test.loc[:,3:] = scaled_values

In [80]:
test.head()

,idaviso,idpostulante,id,postulantes,cantPostulaciones,cantVistas,edadPostulante
0,17903700,RzrDJlZ,595,0.007018,0.046512,0.015385,0.268817
1,17903700,Yj5q3xX,594,0.007018,0.011628,0.061538,0.301075
2,1000139175,LNKrDLr,609,0.008772,0.003876,0.030769,0.268817
3,1000139175,exv4B8,610,0.008772,0.062016,0.030769,0.236559
4,1000468151,jkMko3r,637,0.005263,0.003876,0.015385,0.387097

In [81]:
result = clf.predict_proba(test.drop(['id','idaviso','idpostulante'],axis = 1))

In [82]:
    result2 = []
    for elem in result:
        result2.append(elem[1])

In [83]:
test['sepostulo'] = result2

In [84]:
postulations_known = pd.read_csv('../test/postulationsDesp15Abril.csv')

In [85]:
postulations_known.head()

      idaviso idpostulante     fechapostulacion  Mayor15Abril
0  1112461697         Ez8J  2018-04-17 08:00:04          True
1  1112463023       Y0Gmvr  2018-04-16 14:19:30          True
2  1112213212       a6AG60  2018-04-17 09:22:09          True
3  1112223876       a6AG60  2018-04-17 09:22:39          True
4  1112423240       a6AG60  2018-04-17 09:23:26          True

In [86]:
postulations_known['sepostulo'] = 1.0

In [87]:
test = test.merge(postulations_known, how='left', on=['idaviso','idpostulante'])

In [88]:
test.head()

,idaviso,idpostulante,id,postulantes,cantPostulaciones,cantVistas,edadPostulante,sepostulo_x,fechapostulacion,Mayor15Abril,sepostulo_y
0,17903700,RzrDJlZ,595,0.007018,0.046512,0.015385,0.268817,1.0,NaN,NaN,NaN
1,17903700,Yj5q3xX,594,0.007018,0.011628,0.061538,0.301075,1.0,2018-04-16 10:14:08,True,1.0
2,1000139175,LNKrDLr,609,0.008772,0.003876,0.030769,0.268817,1.0,2018-04-16 09:32:39,True,1.0
3,1000139175,exv4B8,610,0.008772,0.062016,0.030769,0.236559,1.0,2018-04-16 09:36:57,True,1.0
4,1000468151,jkMko3r,637,0.005263,0.003876,0.015385,0.387097,1.0,2018-04-16 06:32:53,True,1.0

In [89]:
test = test.drop(['Mayor15Abril','fechapostulacion'], axis=1)

In [90]:
test["sepostulo"] = test.apply(lambda row: row["sepostulo_x"] if (np.isnan(row["sepostulo_y"])) else row["sepostulo_y"],axis=1)

In [91]:
test.head()

,idaviso,idpostulante,id,postulantes,cantPostulaciones,cantVistas,edadPostulante,sepostulo_x,sepostulo_y,sepostulo
0,17903700,RzrDJlZ,595,0.007018,0.046512,0.015385,0.268817,1.0,NaN,1.0
1,17903700,Yj5q3xX,594,0.007018,0.011628,0.061538,0.301075,1.0,1.0,1.0
2,1000139175,LNKrDLr,609,0.008772,0.003876,0.030769,0.268817,1.0,1.0,1.0
3,1000139175,exv4B8,610,0.008772,0.062016,0.030769,0.236559,1.0,1.0,1.0
4,1000468151,jkMko3r,637,0.005263,0.003876,0.015385,0.387097,1.0,1.0,1.0

In [92]:
test['sepostulo'].isnull().value_counts()

False    100000
Name: sepostulo, dtype: int64

In [93]:
test = test.sort_values(by='id')

In [95]:
test['sepostulo'].mean()

0.5189406755765587

In [96]:
test.count()

idaviso              100000
idpostulante         100000
id                   100000
postulantes          100000
cantPostulaciones    100000
cantVistas           100000
edadPostulante       100000
sepostulo_x          100000
sepostulo_y           34462
sepostulo            100000
dtype: int64

In [97]:
test = test[['id','sepostulo']]

In [98]:
test.head()

       id     sepostulo
34161   0  2.125542e-07
34162   1  6.797200e-05
34163   2  7.271760e-06
34164   3  2.741398e-19
34165   4  4.576979e-05

In [99]:
test.to_csv('../GaussianNB6MmoreFeatures.csv', index=False)