In [1]:
import numpy as np
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt
%matplotlib inline

from sklearn.neural_network import MLPClassifier

In [2]:
#Aca podemos ir modificando el csv a levantar para probar con distintos encodings
total_train = pd.read_csv('postulaciones_nopostulacionesRedCodificadoAmbos3M.csv')

In [3]:
total_train.head()

,Unnamed: 0,idaviso,idpostulante,nombre_sort,se_postulo,estadoEncoded,tipoDeTrabajoEncoded,nivelLaboralEncoded,sexoEncoded,edadEncoded,zonaEncoded
0,0,1112348533,8MPPMwL,1.0,1,1,0,0,1,2.0,0.0
1,1,1112237849,0zPoNJ9,3.0,1,1,0,0,0,1.0,0.0
2,2,1112345900,0zPOblM,3.0,1,0,1,1,0,0.0,NaN
3,3,1111903673,4rdwvle,1.0,1,1,0,2,1,3.0,0.0
4,4,1112326299,8MPw0mO,1.0,1,1,0,0,2,3.0,0.0

In [4]:
total_train = total_train.drop(columns = ['idaviso','idpostulante','Unnamed: 0'])

In [5]:
total_train['zonaEncoded'] = total_train['zonaEncoded'].fillna(method = 'bfill')

In [6]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(total_train.drop(['se_postulo'], axis=1).values, total_train['se_postulo'], test_size=0.20, random_state=42)

In [19]:
clf = MLPClassifier()

In [20]:
clf.fit(X_train, y_train)

MLPClassifier(activation='relu', alpha=0.0001, batch_size='auto', beta_1=0.9,
       beta_2=0.999, early_stopping=False, epsilon=1e-08,
       hidden_layer_sizes=(100,), learning_rate='constant',
       learning_rate_init=0.001, max_iter=200, momentum=0.9,
       nesterovs_momentum=True, power_t=0.5, random_state=None,
       shuffle=True, solver='adam', tol=0.0001, validation_fraction=0.1,
       verbose=False, warm_start=False)

In [21]:
clf.predict(X_test)

array([0, 0, 1, ..., 0, 0, 0])

In [22]:
#Pruebo el score para ver si realiza overfitting
clf.score(X_test,y_test)

0.584349917855715

In [23]:
test = pd.read_csv('test_encoded.csv')

In [24]:
test['zonaEncoded'] = test['zonaEncoded'].fillna(method = 'bfill')

In [25]:
test = test.drop(['idaviso','idpostulante'],axis=1)

In [26]:
result = clf.predict(test.drop(['id'],axis = 1))

In [27]:
test['sepostulo'] = result

In [28]:
test = test[['id','sepostulo']]

In [29]:
test.head()

   id  sepostulo
0   0          0
1   1          0
2   2          0
3   3          0
4   4          0

In [30]:
#Verificamos como nos fue aproximadamente
test['sepostulo'].value_counts()

0    70989
1    29011
Name: sepostulo, dtype: int64

In [32]:
#Recordar guardan en distintos csv las pruebas y no sobreescribir
MLP1 = test.to_csv('MLP16M.csv', index=False)