In [1]:
import numpy as np
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt
%matplotlib inline

from sklearn.neural_network import MLPClassifier

In [2]:
#Aca podemos ir modificando el csv a levantar para probar con distintos encodings
total_train = pd.read_csv('../MapDataAnalysis/MLP/DataMappedMLP.csv')

In [3]:
total_train.head()

,nombre,estado,sexo,nombre_zona,tipo_de_trabajo,nivel_laboral,nombre_area,se_postulo,edadPostulante
0,0,1,3,3,1,4,25,1,1.0
1,0,2,2,3,1,4,25,1,2.0
2,0,1,1,3,1,4,25,1,0.0
3,0,2,1,3,1,4,25,1,2.0
4,0,2,1,3,1,4,25,1,1.0

In [4]:
#total_train = total_train.drop(columns = ['idaviso','idpostulante','Unnamed: 0'])

In [5]:
#total_train['zonaEncoded'] = total_train['zonaEncoded'].fillna(method = 'bfill')

In [6]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(total_train.drop(['se_postulo'], axis=1).values, total_train['se_postulo'], test_size=0.30, random_state=42)

In [7]:
clf = MLPClassifier()

In [8]:
clf.fit(X_train, y_train)

MLPClassifier(activation='relu', alpha=0.0001, batch_size='auto', beta_1=0.9,
       beta_2=0.999, early_stopping=False, epsilon=1e-08,
       hidden_layer_sizes=(100,), learning_rate='constant',
       learning_rate_init=0.001, max_iter=200, momentum=0.9,
       nesterovs_momentum=True, power_t=0.5, random_state=None,
       shuffle=True, solver='adam', tol=0.0001, validation_fraction=0.1,
       verbose=False, warm_start=False)

In [9]:
clf.predict(X_test)

array([0, 1, 0, ..., 0, 1, 1])

In [10]:
#Pruebo el score para ver si realiza overfitting
clf.score(X_test,y_test)

0.6247973840560057

In [21]:
test = pd.read_csv('../MapDataAnalysis/MLP/TestMappedMLP.csv')

In [22]:
test.head()

,id,idaviso,idpostulante,nombre,estado,sexo,nombre_zona,tipo_de_trabajo,nivel_laboral,nombre_area,edadPostulante
0,0,739260,6M9ZQR,0,2,0,1,1,1,29,3.0
1,1,739260,6v1xdL,5,2,1,1,1,1,29,2.0
2,2,739260,ezRKm9,6,2,0,1,1,1,29,2.0
3,3,758580,1Q35ej,3,2,1,1,1,3,164,5.0
4,4,758580,EAN4J6,6,0,0,1,1,3,164,2.0

In [13]:
#test['zonaEncoded'] = test['zonaEncoded'].fillna(method = 'bfill')

In [23]:
test = test.drop(['idaviso','idpostulante'],axis=1)

In [24]:
result = clf.predict_proba(test.drop(['id'],axis = 1))

In [25]:
print(clf.classes_)

[0 1]

In [27]:
result2 = []
for elem in result:
    result2.append(elem[1])

In [28]:
test['sepostulo'] = result2

In [29]:
test = test[['id','sepostulo']]

In [30]:
test.head()

   id  sepostulo
0   0   0.778527
1   1   0.241597
2   2   0.262026
3   3   0.401923
4   4   0.372118

In [30]:
#Verificamos como nos fue aproximadamente
test['sepostulo'].value_counts()

0    70989
1    29011
Name: sepostulo, dtype: int64

In [31]:
#Recordar guardan en distintos csv las pruebas y no sobreescribir
MLP = test.to_csv('../Predictions/MLP1.2.csv', index=False)