# Random Forest

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

%matplotlib inline

In [2]:
postulants = pd.read_csv('../MapDataAnalysis/DataMappedRandomForest2.csv')

In [3]:
postulants.head()

,nombre,estado,fechanacimiento,sexo,idpais,titulo,nombre_zona,tipo_de_trabajo,nivel_laboral,nombre_area,se_postulo
0,0.0,0.5,0.848786,1.000000,0.0,0.878936,1.0,0.111111,1.0,0.135135,1.0
1,0.0,1.0,0.684916,0.666667,0.0,0.878936,1.0,0.111111,1.0,0.135135,1.0
2,0.0,0.5,0.944393,0.333333,0.0,0.878936,1.0,0.111111,1.0,0.135135,1.0
3,0.0,1.0,0.580829,0.333333,0.0,0.878936,1.0,0.111111,1.0,0.135135,1.0
4,0.0,1.0,0.745622,0.333333,0.0,0.878936,1.0,0.111111,1.0,0.135135,1.0

In [3]:
X_train, X_test, y_train, y_test = train_test_split(postulants.iloc[:,:9], postulants.iloc[:,10], test_size=0.33, random_state=42)

In [4]:
# Create a random forest Classifier. By convention, clf means 'Classifier'

clf = RandomForestClassifier(n_jobs=-1,n_estimators=30)

In [5]:
clf.fit(X_train,y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=30, n_jobs=-1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [6]:
clf.predict(X_test)

array([0., 1., 1., ..., 0., 1., 1.])

In [7]:
#Pruebo el score para ver si realiza overfitting
clf.score(X_test,y_test)

0.7482607294943776

In [8]:
#Ahora buscamos predecir los datos de la competencia
test = pd.read_csv('../MapDataAnalysis/TestMappedRandomForest2.csv')

In [9]:
test.head()

,id,idaviso,idpostulante,nombre,estado,fechanacimiento,sexo,idpais,titulo,nombre_zona,tipo_de_trabajo,nivel_laboral,nombre_area,denominacion_empresa
0,0,739260,6M9ZQR,0.000000,1.0,0.412548,0.0,0.0,0.236577,0.066667,0.125,0.25,0.160221,0.112150
1,1,739260,6v1xdL,0.833333,1.0,0.707893,0.5,0.0,0.236577,0.066667,0.125,0.25,0.160221,0.112150
2,2,739260,ezRKm9,1.000000,1.0,0.567163,0.0,0.0,0.236577,0.066667,0.125,0.25,0.160221,0.112150
3,3,758580,1Q35ej,0.500000,1.0,0.007411,0.5,0.0,0.694191,0.066667,0.125,0.75,0.906077,0.907877
4,4,758580,EAN4J6,1.000000,0.0,0.679401,0.0,0.0,0.694191,0.066667,0.125,0.75,0.906077,0.907877

In [14]:
test = test.drop(['idaviso','idpostulante','denominacion_empresa'],axis=1)

In [15]:
result = clf.predict(test.iloc[:,1:10])

In [18]:
test=test.drop(['nombre','estado','fechanacimiento','sexo','idpais','titulo','nombre_zona','tipo_de_trabajo','nivel_laboral','nombre_area'], axis=1)

In [19]:
test['sepostulo'] = result

In [20]:
test.head()

   id  sepostulo
0   0        1.0
1   1        1.0
2   2        0.0
3   3        0.0
4   4        0.0

In [21]:
test['sepostulo'].value_counts()

0.0    73293
1.0    26707
Name: sepostulo, dtype: int64

In [22]:
test.to_csv('../Predictions/RandomForest2.csv',index=False)

In [23]:
test.count()

id           100000
sepostulo    100000
dtype: int64