In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

In [3]:
cd ..

/home/olix/Documentos/datos/tp2master1/OrgaDatos/TP2

In [4]:
test = pd.read_csv('DataAnalysis/100k_info_predecir.csv')

In [5]:
test.head()

,id,idaviso,idpostulante,nombre,estado,nombre_sort,fechanacimiento,sexo,ciudad,denominacion_empresa,descripcion,idpais,mapacalle,nivel_laboral,nombre_area,nombre_zona,tipo_de_trabajo,titulo
0,0,739260,6M9ZQR,Doctorado,Graduado,6.0,1976-03-29,FEM,NaN,BUMERAN.COM ARGENTINA,Nuestro cliente es una empresa nac. ubicada en...,1.0,NaN,Jefe / Supervisor / Responsable,Comercial,Capital Federal,Full-time,Asistente Comercial
1,1,739260,6v1xdL,Terciario/Técnico,Graduado,2.0,1987-06-27,MASC,NaN,BUMERAN.COM ARGENTINA,Nuestro cliente es una empresa nac. ubicada en...,1.0,NaN,Jefe / Supervisor / Responsable,Comercial,Capital Federal,Full-time,Asistente Comercial
2,2,739260,ezRKm9,Universitario,Graduado,3.0,1982-02-17,FEM,NaN,BUMERAN.COM ARGENTINA,Nuestro cliente es una empresa nac. ubicada en...,1.0,NaN,Jefe / Supervisor / Responsable,Comercial,Capital Federal,Full-time,Asistente Comercial
3,3,758580,1Q35ej,Posgrado,Graduado,4.0,1949-12-24,MASC,NaN,TeleTech,"\r\nTeleTech, the worlwide leader in outsource...",1.0,NaN,Otro,Tecnologia / Sistemas,Capital Federal,Full-time,Oracle Financials Sr. Application Developer
4,4,758580,EAN4J6,Universitario,Abandonado,3.0,1986-05-27,FEM,NaN,TeleTech,"\r\nTeleTech, the worlwide leader in outsource...",1.0,NaN,Otro,Tecnologia / Sistemas,Capital Federal,Full-time,Oracle Financials Sr. Application Developer

In [5]:
test_views = pd.read_csv('Data/test/fiuba_3_vistas.csv')

In [6]:
test_views['idaviso'] = test_views['idAviso']
test_views.drop(columns = ['timestamp','idAviso'],inplace = True)
test_views['cantVistas'] = 1
test_views = test_views.groupby(['idaviso','idpostulante'],as_index = False)['cantVistas'].sum()

In [7]:
test_views.head()

   idaviso idpostulante  cantVistas
0       18        BolNL           3
1    48375       RwVdKR           1
2   169730        1KjXB           2
3   169730       2AKzxa           2
4   169730        6LJ64           1

In [8]:
merge = test_views.merge(test, how = 'right', on = ['idpostulante','idaviso'])

In [9]:
merge.count()

idaviso                 100000
idpostulante            100000
cantVistas               34056
id                      100000
nombre                   94265
estado                   94265
nombre_sort              94265
fechanacimiento          97042
sexo                     99998
ciudad                     822
denominacion_empresa     99970
descripcion              99988
idpais                   99988
mapacalle                10734
nivel_laboral            95568
nombre_area              99974
nombre_zona              99988
tipo_de_trabajo          99982
titulo                   99988
dtype: int64

In [10]:
#abro el set de vistas viejas para ver si los q faltan estan ahi
views = pd.read_csv('DataAnalysis/vistas.csv')

In [11]:
merge = views.merge(merge, how = 'right', on = ['idpostulante','idaviso'])

In [12]:
merge['cantVistas'] = merge['cantVistas_x'] + merge['cantVistas_y']

/usr/local/lib/python3.5/dist-packages/pandas/core/computation/check.py:17: UserWarning: The installed version of numexpr 2.4.3 is not supported in pandas and will be not be used
The minimum supported version is 2.4.6

  ver=ver, min_ver=_MIN_NUMEXPR_VERSION), UserWarning)

In [13]:
merge.drop(columns = ['cantVistas_x','cantVistas_y'],inplace = True)

In [14]:
#todavia no vieron el anuncio
merge['cantVistas']=merge['cantVistas'].fillna(0)

In [15]:
merge.count()

idaviso                 100000
idpostulante            100000
id                      100000
nombre                   94265
estado                   94265
nombre_sort              94265
fechanacimiento          97042
sexo                     99998
ciudad                     822
denominacion_empresa     99970
descripcion              99988
idpais                   99988
mapacalle                10734
nivel_laboral            95568
nombre_area              99974
nombre_zona              99988
tipo_de_trabajo          99982
titulo                   99988
cantVistas              100000
dtype: int64

In [16]:
merge.to_csv('test_vistas.csv',index=False)