In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

/usr/lib/python3/dist-packages/matplotlib/font_manager.py:273: UserWarning: Matplotlib is building the font cache using fc-list. This may take a moment.
  warnings.warn('Matplotlib is building the font cache using fc-list. This may take a moment.')
/usr/lib/python3/dist-packages/matplotlib/font_manager.py:273: UserWarning: Matplotlib is building the font cache using fc-list. This may take a moment.
  warnings.warn('Matplotlib is building the font cache using fc-list. This may take a moment.')

In [2]:
#Funcion que pasa a formato datetime las fechas que recibimos.
def datetime(date,format_string):
    return pd.to_datetime(date,format= format_string,errors='coerce')

In [3]:
data_postulant_education= pd.read_csv('datos_navent_fiuba/fiuba_1_postulantes_educacion.csv')
data_postulant_education.head()

  idpostulante         nombre    estado
0         NdJl       Posgrado  En Curso
1         8BkL  Universitario  En Curso
2         1d2B  Universitario  En Curso
3         NPBx  Universitario  En Curso
4         NPBx         Master  En Curso

In [4]:
data_postulation= pd.read_csv('datos_navent_fiuba/fiuba_4_postulaciones.csv')
data_postulation.head()

      idaviso idpostulante     fechapostulacion
0  1112257047         NM5M  2018-01-15 16:22:34
1  1111920714         NM5M  2018-02-06 09:04:50
2  1112346945         NM5M  2018-02-22 09:04:47
3  1112345547         NM5M  2018-02-22 09:04:59
4  1112237522         5awk  2018-01-25 18:55:03

In [5]:
data_postulant_sex_age= pd.read_csv('datos_navent_fiuba/fiuba_2_postulantes_genero_y_edad.csv')
data_postulant_sex_age.head()

  idpostulante fechanacimiento  sexo
0         NM5M      1970-12-03   FEM
1         5awk      1962-12-04   FEM
2         ZaO5      1978-08-10   FEM
3         NdJl      1969-05-09  MASC
4         eo2p      1981-02-16  MASC

In [6]:
data_views =  pd.read_csv('datos_navent_fiuba/fiuba_3_vistas.csv')
data_views.head()

      idAviso                     timestamp idpostulante
0  1111780242  2018-02-23T13:38:13.187-0500      YjVJQ6Z
1  1112263876  2018-02-23T13:38:14.296-0500      BmVpYoR
2  1112327963  2018-02-23T13:38:14.329-0500      wVkBzZd
3  1112318643  2018-02-23T13:38:17.921-0500      OqmP9pv
4  1111903673  2018-02-23T13:38:18.973-0500      DrpbXDP

In [65]:
data_ads_online = pd.read_csv('datos_navent_fiuba/fiuba_5_avisos_online.csv')
data_ads_online.head()

      idaviso
0  1112355872
1  1112335374
2  1112374842
3  1111984070
4  1111822480

In [7]:
data_ads_details= pd.read_csv('datos_navent_fiuba/fiuba_6_avisos_detalle.csv')
data_ads_details.head()

,idaviso,idpais,titulo,descripcion,nombre_zona,ciudad,mapacalle,tipo_de_trabajo,nivel_laboral,nombre_area,denominacion_empresa
0,8725750,1,VENDEDOR/A PROVINCIA DE SANTA FE,<p><strong><strong>Empresa:</strong></strong> ...,Gran Buenos Aires,NaN,NaN,Full-time,Senior / Semi-Senior,Comercial,VENTOR
1,17903700,1,Enfermeras,<p>Solicitamos para importante cadena de farma...,Gran Buenos Aires,NaN,NaN,Full-time,Senior / Semi-Senior,Salud,Farmacias Central Oeste
2,1000150677,1,Chofer de taxi,<p>TE GUSTA MANEJAR? QUERES GANAR PLATA HACIEN...,Capital Federal,NaN,Empedrado 2336,Full-time,Senior / Semi-Senior,Transporte,FAMITAX SRL
3,1000610287,1,CHOFER DE CAMIONETA BAHIA BLANCA - PUNTA ALTA,<p><strong>Somos una empresa multinacional que...,Gran Buenos Aires,NaN,NaN,Full-time,Senior / Semi-Senior,Transporte,Wurth Argentina S.A
4,1000872556,1,Operarios de Planta - Rubro Electrodomésticos,<p><strong>OPERARIOS DE PLANTA</strong></p><p>...,Gran Buenos Aires,NaN,NaN,Full-time,Senior / Semi-Senior,Producción,ELECTRO OUTLET SRL

# Prueba con Datos caulquiera

In [8]:
data_postulant_education.count()

idpostulante    298231
nombre          298231
estado          298231
dtype: int64

In [9]:
data_postulation.count()

idaviso             3401623
idpostulante        3401623
fechapostulacion    3401623
dtype: int64

In [10]:
data_postulant_sex_age.count()

idpostulante       200888
fechanacimiento    196138
sexo               200888
dtype: int64

In [11]:
postulantes_full = data_postulant_education.merge(data_postulant_sex_age,how='inner')
postulantes_full.head()

  idpostulante         nombre    estado fechanacimiento  sexo
0         NdJl       Posgrado  En Curso      1969-05-09  MASC
1         NdJl  Universitario  Graduado      1969-05-09  MASC
2         8BkL  Universitario  En Curso      1976-07-21   FEM
3         8BkL  Universitario  Graduado      1976-07-21   FEM
4         8BkL       Posgrado  Graduado      1976-07-21   FEM

In [12]:
postulations_full = postulantes_full.merge(data_postulation, on='idpostulante', how='inner')
postulations_full.head()

,idpostulante,nombre,estado,fechanacimiento,sexo,idaviso,fechapostulacion
0,NdJl,Posgrado,En Curso,1969-05-09,MASC,1112261212,2018-01-16 08:50:30
1,NdJl,Posgrado,En Curso,1969-05-09,MASC,1112273308,2018-01-23 07:53:47
2,NdJl,Posgrado,En Curso,1969-05-09,MASC,1112281548,2018-01-24 05:10:12
3,NdJl,Posgrado,En Curso,1969-05-09,MASC,1112260409,2018-01-24 05:17:29
4,NdJl,Posgrado,En Curso,1969-05-09,MASC,1112293547,2018-01-29 15:41:43

In [189]:
postulations_full.count()

idpostulante        5528668
nombre              5528668
estado              5528668
fechanacimiento     5488041
sexo                5528668
idaviso             5528668
fechapostulacion    5528668
dtype: int64

In [13]:
#Dropeo ids duplicados y dejo solo una publicacion
postulations_full = postulations_full.drop_duplicates(subset=['idpostulante'], keep='first', inplace=False)
postulations_full.count()

idpostulante        188752
nombre              188752
estado              188752
fechanacimiento     185878
sexo                188752
idaviso             188752
fechapostulacion    188752
dtype: int64

In [14]:
postulations_full["fechanacimiento"].isnull().value_counts()

False    185878
True       2874
Name: fechanacimiento, dtype: int64

In [15]:
#Cambiamos el formato a datetime y dropeamos las incorrectas
postulations_full["fechanacimiento"] = datetime(postulations_full["fechanacimiento"],'%Y-%m-%d')

In [18]:

postulations_full = postulations_full.dropna()

postulations_full["sexo"].isnull().value_counts()

False    185872
Name: sexo, dtype: int64

In [19]:

education_dic= {'Secundario': 1, 'Universitario':3,'Terciario/Técnico':2, 'Otro':0, 'Posgrado':4, 'Master': 5, 'Doctorado': 6}
estado_dic= {'En Curso': 1, 'Abandonado':2}
sexo_dic= {'MASC': 1, 'FEM':2, 'NO DECLARA':3}


postulations_full['fechanacimiento'] = postulations_full['fechanacimiento'].map(lambda x: 2018 - x.year)
postulations_full['estado'] = postulations_full['estado'].map(estado_dic)
postulations_full['nombre'] = postulations_full['nombre'].map(education_dic)
postulations_full['sexo'] = postulations_full['sexo'].map(sexo_dic)

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.

In [83]:
postulations_full['sePostulo'] = 1
postulations_full.head()

,idpostulante,nombre,estado,fechanacimiento,sexo,idaviso,fechapostulacion,sePostulo
0,0,4,1,49,1,1112261212,2018-01-16 08:50:30,1
32,1,3,1,42,2,1112266605,2018-01-18 09:56:10,1
80,2,3,1,42,1,1112020573,2018-02-19 07:01:34,1
84,3,3,1,37,1,1112234075,2018-01-19 06:29:00,1
156,4,0,1,54,1,1112267095,2018-01-17 20:18:50,1

In [84]:
postulations_full.rename(index=str,columns={'fechanacimiento':'edad'})
postulations_full.reset_index()
postulations_full['idpostulante'] = pd.factorize(postulations_full['idpostulante'])[0]

In [85]:
postulations_full.dropna()

,idpostulante,nombre,estado,fechanacimiento,sexo,idaviso,fechapostulacion,sePostulo
0,0,4,1,49,1,1112261212,2018-01-16 08:50:30,1
32,1,3,1,42,2,1112266605,2018-01-18 09:56:10,1
80,2,3,1,42,1,1112020573,2018-02-19 07:01:34,1
84,3,3,1,37,1,1112234075,2018-01-19 06:29:00,1
156,4,0,1,54,1,1112267095,2018-01-17 20:18:50,1
178,5,5,1,44,1,1112239632,2018-01-18 05:07:24,1
186,6,2,1,52,2,1112198737,2018-01-17 07:09:41,1
258,7,3,1,39,1,1112212854,2018-02-14 09:59:27,1
260,8,3,1,43,1,1112284506,2018-01-30 08:48:22,1
264,9,3,1,57,1,1112274680,2018-01-19 17:17:17,1
270,10,0,1,41,1,1112266619,2018-01-22 09:23:54,1
276,11,3,1,44,1,1112202254,2018-01-22 06:18:27,1
460,12,5,1,41,1,1112001757,2018-01-20 10:51:22,1
481,13,3,1,42,2,1112308286,2018-02-12 14:09:43,1
489,14,4,1,48,1,1112260587,2018-01-18 16:15:57,1
605,15,3,1,40,2,1112218925,2018-01-15 09:27:31,1
615,16,2,1,42,2,1111960351,2018-01-17 14:02:30,1
653,17,4,1,45,2,1112239632,2018-01-16 20:53:40,1
668,18,3,1,39,1,1111749836,2018-01-16 07:15:12,1
702,19,3,1,39,1,1112222393,2018-01-16 13:57:45,1
717,20,4,1,43,2,1112259001,2018-01-15 20:00:31,1
753,21,2,1,45,2,1112259468,2018-01-15 10:23:28,1
870,22,4,1,51,1,1112292988,2018-01-27 11:36:40,1
878,23,5,1,44,2,1112264314,2018-01-31 19:56:24,1
884,24,3,1,43,1,1112059288,2018-01-29 07:51:46,1
886,25,3,1,39,2,1112260365,2018-01-15 23:32:42,1
1298,26,3,1,45,1,1112279172,2018-01-28 09:27:20,1
1328,27,0,1,55,2,1112204682,2018-01-29 09:56:51,1
1397,28,4,1,42,1,1112240227,2018-01-15 09:51:42,1
1433,29,6,1,43,1,1112342213,2018-02-20 23:34:46,1
...,...,...,...,...,...,...,...,...
5528506,79978,1,2,33,2,1112368250,2018-02-28 12:31:14,1
5528507,79979,3,2,48,1,1112364754,2018-02-28 13:08:27,1
5528508,79980,1,2,52,2,1112176638,2018-02-28 13:17:26,1
5528510,79981,1,2,22,2,1112350805,2018-02-28 13:20:36,1
5528512,79982,3,2,21,1,1112366913,2018-02-28 13:47:22,1
5528516,79983,0,2,30,2,1112369217,2018-02-28 14:08:39,1
5528525,79984,1,2,38,1,1112176638,2018-02-28 15:02:36,1
5528534,79985,3,2,31,1,1112369825,2018-02-28 16:50:22,1
5528538,79986,3,2,45,2,1112368053,2018-02-28 15:10:38,1
5528541,79987,3,2,24,2,1110478766,2018-02-28 15:50:28,1
5528549,79988,1,2,26,1,1112369238,2018-02-28 17:38:12,1
5528575,79989,2,2,31,2,1112355176,2018-02-28 16:27:08,1
5528577,79990,3,2,40,2,1112361842,2018-02-28 16:42:22,1
5528578,79991,2,2,21,2,1112349451,2018-02-28 17:02:35,1
5528587,79992,1,2,21,2,1112369306,2018-02-28 17:07:16,1
5528601,79993,2,2,24,2,1112290034,2018-02-28 17:21:04,1
5528607,79994,1,2,19,2,1112340902,2018-02-28 18:54:18,1
5528608,79995,1,2,30,1,1112364939,2018-02-28 17:12:20,1
5528614,79996,1,2,26,1,1112369774,2018-02-28 17:49:19,1
5528621,79997,1,2,20,1,1112280891,2018-02-28 18:44:34,1
5528622,79998,1,2,27,1,1112324295,2018-02-28 19:06:50,1
5528631,79999,1,2,26,1,1112365156,2018-02-28 18:44:18,1
5528632,80000,2,2,21,2,1112367904,2018-02-28 19:20:36,1
5528633,80001,0,2,46,1,1112349392,2018-02-28 21:28:35,1
5528638,80002,1,2,56,1,1112345265,2018-02-28 20:23:33,1
5528646,80003,1,2,36,1,1112369174,2018-02-28 22:10:50,1
5528649,80004,1,2,33,1,1112355344,2018-02-28 21:27:49,1
5528651,80005,3,2,28,1,1112212639,2018-02-28 22:02:24,1
5528654,80006,2,2,36,1,1112353575,2018-02-28 22:53:56,1
5528659,80007,3,2,30,1,1112369739,2018-02-28 23:41:51,1

In [86]:
pepe = postulations_full
pepe.dropna(how='any',inplace=True)
pepe.isnull().values.any()

False

In [87]:
pepeY = pepe['sePostulo']
pepeY.dropna(how='any',inplace=True)
pepeY.isnull().value_counts()

False    80008
Name: sePostulo, dtype: int64

In [88]:
pepe.head()

,idpostulante,nombre,estado,fechanacimiento,sexo,idaviso,fechapostulacion,sePostulo
0,0,4,1,49,1,1112261212,2018-01-16 08:50:30,1
32,1,3,1,42,2,1112266605,2018-01-18 09:56:10,1
80,2,3,1,42,1,1112020573,2018-02-19 07:01:34,1
84,3,3,1,37,1,1112234075,2018-01-19 06:29:00,1
156,4,0,1,54,1,1112267095,2018-01-17 20:18:50,1

In [64]:
pepeY.head()

0      Si
32     Si
80     Si
84     Si
156    Si
Name: sePostulo, dtype: object

In [89]:
#Busco particiones de los datos
from sklearn.cross_validation import train_test_split
X = np.array(pepe.ix[:,:5]) 
y = np.array(pepeY) 
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=7506)
X_train.shape

(64006, 5)

In [90]:
print('Number of observations in the training data:', len(X_train))
print('Number of observations in the test data:',len(X_test))

Number of observations in the training data: 64006
Number of observations in the test data: 16002

In [91]:

np.isnan(X_train).any()

False

In [92]:
# Create a random forest Classifier. By convention, clf means 'Classifier'
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(n_jobs=2)
clf.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=2,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [93]:
clf.predict(X_test)

array([1, 1, 1, ..., 1, 1, 1], dtype=int64)